div#Container
{
	padding: 10px;
}

table#RatingTable
{
	border-spacing: 1px;
	margin: 0 auto;
}

table#RatingTable tbody tr td
{
	padding: 2px 4px;
	border: none;
}

table#RatingTable tbody tr#RatingTableHeader td
{
	background-color: #eeeeee;
	font-weight: bold;
}

table#RatingTable tbody tr.Odd td
{
	background-color: #eeeeee;
}

table#RatingTable tbody tr.Even td
{
	background-color: #dddddd;
}

table#RatingTable tbody tr td.NumberCell
{
	text-align: right;
}