autowp-thumbnail {
    display: block;
    
    .thumbnail {
        position: relative;
    
        .settings {
            position: absolute;
            right: 4px;
            top: 4px;
        }
    }
}