<form method="post" class="form-horizontal" *ngIf="user" (submit)="submit()">
  <fieldset>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="name" translate>forums/topic/name</label>
      <div class="col-md-10">
        <input type="text" name="name" size="80" maxlength="100" class="form-control" [(ngModel)]="form.name" [class.is-invalid]="invalidParams && invalidParams.name"
        />
        <p *ngFor="let message of invalidParams | invalidParams : 'name'" [textContent]="message" class="invalid-feedback"></p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="text" translate>forums/topic/text</label>
      <div class="col-md-10">
        <textarea name="text" cols="140" rows="15" maxlength="4096" class="form-control" [(ngModel)]="form.text" [class.is-invalid]="invalidParams && invalidParams.text"></textarea>
        <p *ngFor="let message of invalidParams | invalidParams : 'text'" [textContent]="message" class="invalid-feedback"></p>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="moderator_attention" value="1" [(ngModel)]="form.moderator_attention" [class.is-invalid]="invalidParams && invalidParams.moderator_attention"
            /> {{'comments/it-requires-attention-of-moderators'|translate}}
          </label>
        </div>
        <p *ngFor="let message of invalidParams | invalidParams : 'moderator_attention'" [textContent]="message" class="invalid-feedback"></p>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="subscription" value="1" [(ngModel)]="form.subscription" [class.is-invalid]="invalidParams && invalidParams.subscription"
            /> {{'forums/topic/subscribe-to-new-messages'|translate}}
          </label>
        </div>
        <p *ngFor="let message of invalidParams | invalidParams : 'subscription'" [textContent]="message" class="invalid-feedback"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-2">
        <button type="submit" class="btn btn-primary" translate>send</button>
      </div>
    </div>
  </fieldset>
</form>

<app-markdown *ngIf="!user" class="alert alert-block alert-error" [markdown]="'forums/register-to-create-topic'|translate"></app-markdown>
