<section class="forum-topic-page comments" *ngIf="topic">
  <app-comments [itemID]="topic.id" [typeID]="5" *ngIf="topic" [limit]="limit" [page]="page"></app-comments>

  <div class="text-right" *ngIf="user" style="margin-bottom:10px">
    <button class="btn btn-link subscription" *ngIf="!topic.subscription" (click)="subscribe()">
      <i class="fa fa-envelope"></i>
      {{'comments/subscribe'|translate}}
    </button>
    <button class="btn btn-link subscription" *ngIf="topic.subscription" (click)="unsubscribe()">
      <i class="fa fa-envelope"></i>
      {{'comments/unsubscribe'|translate}}
    </button>
  </div>

  <p class="alert alert-block alert-error" translate *ngIf="topic.status == 'closed'">forums/topic-closed-text</p>
</section>
