<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    @if (userData(); as user) {
      <li class="breadcrumb-item">
        <a [routerLink]="['/users', user.identity ? user.identity : 'user' + user.id]">{{ user.name }}</a>
      </li>
      <li class="breadcrumb-item">
        <a i18n [routerLink]="['/users', user.identity ? user.identity : 'user' + user.id, 'pictures']"
          >User's pictures</a
        >
      </li>
    }
  </ol>
</nav>

@if (title(); as title) {
  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>
}

@if (dataResource.error(); as error) {
  <p class="alert alert-danger" role="alert">{{ errorMessage(error) }}</p>
} @else if (dataResource.value(); as data) {
  <div class="row">
    @for (picture of data.items || []; track picture) {
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]" />
      </div>
    }
  </div>
  @if (data.paginator) {
    <app-paginator [data]="data.paginator" />
  }
}
