<table class="table table-stripped">
    <thead>
        <tr>
            <th translate>specifications-editor/admin/date</th>
            <th translate>specifications-editor/admin/user</th>
            <th translate>specifications-editor/admin/parameter</th>
            <th translate>specifications-editor/admin/value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="value in ctrl.values">
            <td>
                <span am-time-ago="value.update_date"></span>
            </td>
            <td>
                <autowp-user user="value.user" ng-if="value.user"></autowp-user>
            </td>
            <td>
                <span ng-repeat="node in value.path">
                    <span ng-if="$index"> / </span>
                    <span ng-bind="node | translate"></span>
                </span>
                <span ng-if="value.unit" ng-bind="value.unit.name"></span>
            </td>
            <td>{{value.value}}</td>
            <td>
                <button type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.deleteValue(value)">
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>

<form ng-submit="ctrl.moveValues()">
    <input type="text" name="item_id" placeholder="id" class="form-control" style="max-width:200px" ng-model="ctrl.move.item_id" />
    <button type="submit" class="btn btn-secondary" translate>specifications-editor/admin/move</button>
</form>
