<div class="nav nav-pills" style="margin-bottom: 20px" *ngIf="item">
  <a class="nav-link" [routerLink]="['/moder/items/item', item.id]" *ngIf="isModer">
    <i class="fa fa-cog"></i>
    {{'moder/edit-object'|translate}}
    <span [innerHTML]="item.name_html"></span>
  </a>
  <a class="nav-link" routerLink="/cars/attrs-change-log" [queryParams]="{item_id: item.id}">
    <i class="fa fa-list"></i>
    {{'specifications-editor/log'|translate}}
  </a>
</div>

<app-markdown class="alert alert-danger" *ngIf="specsWeight < 1" [markdown]="'specifications-editor/errors-alert'|translate"></app-markdown>

<ul class="nav nav-tabs" id="myTab">
  <li class="nav-item" *ngIf="item">
    <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'info'}" [class.active]="tab == 'info'"
      class="nav-link">
      <span class="fa fa-info"></span>
      {{'specifications-editor/tabs/info' | translate}}
    </a>
  </li>
  <li class="nav-item" *ngIf="item">
    <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'engine'}" [class.active]="tab == 'engine'"
      class="nav-link">
      <span class="glyphicon glyphicon-align-left"></span>
      {{'specifications-editor/tabs/engine' | translate}}
      <span class="badge badge-pill badge-secondary" *ngIf="enginesCount" [textContent]="enginesCount"></span>
    </a>
  </li>
  <li class="nav-item" *ngIf="item">
    <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'spec'}" [class.active]="tab == 'spec'"
      class="nav-link">
      <span class="fa fa-car"></span>
      {{'specifications-editor/tabs/specs' | translate}}
    </a>
  </li>
  <li class="nav-item" *ngIf="item">
    <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'result'}" [class.active]="tab == 'result'"
      class="nav-link">
      <span class="fa fa-table"></span>
      {{'specifications-editor/tabs/result' | translate}}
    </a>
  </li>
  <li *ngIf="this.isSpecsAdmin && item" class="nav-item">
    <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'admin'}" [class.active]="tab == 'admin'" class="nav-link">
      <span class="fa fa-table"></span>
      {{'specifications-editor/tabs/admin' | translate}}
    </a>
  </li>
</ul>

<div class="tab-content card card-body">
  <span [hidden]="loading <= 0">
    <i class="fa fa-spinner fa-spin fa-fw fa-4x"></i>
  </span>
  <div class="tab-pane active" id="info" *ngIf="tab == 'info'">
    <app-markdown [markdown]="'specifications-editor/description'|translate"></app-markdown>
  </div>
  <div class="tab-pane active" id="engine" *ngIf="tab == 'engine' && item && item.item_type_id == 1">
    <app-cars-specifications-editor-engine [item]="item" (changed)="onEngineChanged()"></app-cars-specifications-editor-engine>
  </div>
  <div class="tab-pane active" id="spec" *ngIf="tab == 'spec' && item">
    <app-cars-specifications-editor-spec [item]="item"></app-cars-specifications-editor-spec>
  </div>
  <div class="tab-pane active" id="result" *ngIf="tab == 'result' && item">
    <app-cars-specifications-editor-result [item]="item"></app-cars-specifications-editor-result>
  </div>
  <div class="tab-pane active" id="admin" *ngIf="tab == 'admin' && item && isSpecsAdmin">
    <p>
      <a routerLink="/cars/specs-admin" [queryParams]="{item_id: item.id}">Admin</a>
    </p>
    <div>
      <button class="btn btn-secondary" (click)="refreshInheritance()">Refresh inheritance</button>
    </div>
  </div>
</div>
