<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-body">
      <app-markdown [markdown]="'restore-password/text'|translate"></app-markdown>
      <form class="form-horizontal" (submit)="submit()">
        <fieldset>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="email">E-mail</label>
            <div class="col-md-10">
              <input type="text" [class.is-invalid]="invalidParams && invalidParams.email" name="email" maxlength="255" size="80" autocomplete="email" class="form-control" [(ngModel)]="form.email">
              <p *ngFor="let message of invalidParams | invalidParams : 'email'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="form-group row" *ngIf="showCaptcha">
            <div class="col-md-10 offset-md-2">
              <div vc-recaptcha key="recaptchaKey" *ngIf="recaptchaKey" [(ngModel)]="form.captcha"></div>
              <p *ngFor="let message of invalidParams | invalidParams : 'captcha'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button type="submit" class="btn btn-primary" translate>submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <p *ngIf="failure" translate>restore-password/new-password/email-not-found</p>
  </div>
</div>
