<div class="card card-body">
    <form class="form-horizontal"><fieldset>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="user_id" translate>specifications-editor/log/filter/user-id</label>
            <div class="col-md-10">
                <input type="text" name="user_id" class="form-control" />
            </div>
        </div>
    </fieldset></form>
    <table class="specs-log table table-stripped">
        <thead>
            <tr>
               <th translate>specifications-editor/log/date</th>
               <th translate>specifications-editor/log/user</th>
               <th translate>specifications-editor/log/object</th>
               <th translate>specifications-editor/log/attribute</th>
               <th translate>specifications-editor/log/value</th>
               <th translate>specifications-editor/log/editor</th>
            </tr>
        </thead>
        <tr ng-repeat="item in ctrl.items">
            <td><p ng-if="item.update_date" am-time-ago="item.update_date"></p></td>
            <td><autowp-user user="item.user" ng-if="item.user"></autowp-user></td>
            <td>
                <a ui-sref="moder-items-item({id: item.item_id})" ng-if="isModer" ng-bind-html="item.item.name_html"></a>
                <span ng-if="!isModer" ng-bind-html="item.item.name_html"></span>
            </td>
            <td class="attribute">
                <span ng-repeat-start="node in item.path" ng-bind="node | translate"></span>
                <span ng-repeat-end ng-if="!$last"> / </span>
            </td>
            <td style="text-align:center">
                {{item.value_text}}
                <span class="unit" ng-if="item.unit" ng-bind="item.unit.abbr|translate"></span>
            </td>
            <td class="link">
                <a ng-href="/cars/car-specifications-editor/item_id/{{item.item_id}}" translate>specifications-editor/log/to-editor</a>
            </td>
        </tr>
    </table>
</div>
<autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
