<h1 class="mb-4 mosts-header" *ngIf="ratingCatname" ngPreserveWhitespaces>
  <span translate>mosts/most</span>
  <div class="d-inline-block" ngbDropdown>
    <a href="#" ngbDropdownToggle (click)="false">
      <ng-container *ngFor="let rating of ratings">
        <span *ngIf="rating.catname == ratingCatname" [textContent]="rating.name|translate">
        </span>
      </ng-container>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
    <div ngbDropdownMenu style="max-height: 200px;overflow-x: hidden;">
      <a *ngFor="let rating of ratings" [class.active]="rating.catname == ratingCatname" class="dropdown-item" [routerLink]="['/mosts', rating.catname]"
        [textContent]="rating.name|translate">
      </a>
    </div>
  </div>

  <span translate>mosts/among</span>

  <div class="d-inline-block" ngbDropdown>
    <a href="#" ngbDropdownToggle (click)="false">
      <ng-container *ngFor="let type of vehilceTypes">
        <span *ngIf="type.catname == typeCatname" [textContent]="type.name|translate">
        </span>
      </ng-container>
      <span *ngIf="!typeCatname" translate>item/type/1/name</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
    <div ngbDropdownMenu style="max-height: 200px;overflow-x: hidden;">
      <a *ngFor="let type of vehilceTypes" class="dropdown-item" [class.active]="type.catname == typeCatname" [routerLink]="['/mosts', ratingCatname, type.catname]"
        [textContent]="type.name|translate"></a>
    </div>
  </div>

  <div class="d-inline-block" *ngIf="defaultTypeCatname" ngbDropdown>
    <a href="#" ngbDropdownToggle (click)="false">
      <ng-container *ngFor="let year of years">
        <span *ngIf="year.catname ? year.catname == yearsCatname : !yearsCatname" [textContent]="year.name|translate"></span>
      </ng-container>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
    <div ngbDropdownMenu style="max-height: 200px;overflow-x: hidden;">
      <a *ngFor="let year of years" [class.active]="year.catname ? year.catname == yearsCatname : !yearsCatname" class="dropdown-item"
        [routerLink]="['/mosts', ratingCatname, typeCatname ? typeCatname : defaultTypeCatname, year.catname ? year.catname : '']"
        [textContent]="year.name|translate">
      </a>
    </div>
  </div>
</h1>

<span [hidden]="loading <= 0">
  <i class="fa fa-spinner fa-spin fa-fw"></i>
</span>

<ng-container *ngFor="let item of items; let i = index">
  <div class="row">
    <div class="col-md-9">
      <h3 [innerHTML]="item.item.name_html"></h3>
    </div>
    <div class="col-md-3">
      <h3 [textContent]="'most/' + ratingCatname + '/param' | translate" *ngIf="i"></h3>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4" *ngFor="let picture of item.pictures">
          <a [href]="picture.url" class="rounded d-block mb-4" *ngIf="picture">
            <img class="rounded w-100 border border-light" [src]="picture.src" [alt]="picture.name" [title]="picture.name" />
          </a>
          <span *ngIf="!picture">&#xa0;</span>
        </div>
      </div>
      <app-markdown *ngIf="item.item.description" [markdown]="item.item.description|translate"></app-markdown>
    </div>
    <div class="col-md-3">
      <h3 ngPreserveWhitespaces>
        <span *ngIf="item.value_html" [innerHTML]="item.value_html"></span>
        <span *ngIf="!item.value_html && item.value_text" [innerHTML]="item.value_text"></span>
        <small class="unit" *ngIf="item.unit" [textContent]="item.unit.abbr | translate" placement="top" [ngbTooltip]="item.unit.name|translate"></small>
      </h3>
    </div>
  </div>
</ng-container>
