@if (item(); as item) {
  <div class="car item-list-item">
    <h3>
      <app-item-header
        [item]="{
          nameHTML: item.nameHtml,
          design: item.design || null,
          produced: {count: item.produced || 0, exactly: !!item.producedExactly},
        }"
      />
    </h3>
    @if (item.nameDefault) {
      <h4>{{ item.nameDefault }}</h4>
    }
    @if (item.previewPictures) {
      @if (havePhoto(item) && item.previewPictures.largeFormat) {
        <div class="row">
          @for (picture of item.previewPictures.pictures.slice(0, 1); track picture) {
            <div class="col-12 col-lg-6">
              @if (picture && picture.thumb) {
                <a class="d-block rounded mb-4" [routerLink]="picture.routerLink">
                  <img
                    class="rounded w-100 border border-light"
                    loading="lazy"
                    [src]="picture.thumb.src"
                    [alt]="picture.picture?.nameText"
                    [title]="picture.picture?.nameText"
                  />
                </a>
              }
              @if (!picture) {
                <span>&#xa0;</span>
              }
            </div>
          }
          <div class="col-12 col-lg-6">
            <div class="row">
              @for (picture of item.previewPictures.pictures.slice(1); track picture) {
                <div class="col-6">
                  @if (picture && picture.thumb) {
                    <a class="d-block rounded mb-4" [routerLink]="picture.routerLink">
                      <img
                        class="rounded w-100 border border-light"
                        loading="lazy"
                        [src]="picture.thumb.src"
                        [alt]="picture.picture?.nameText"
                        [title]="picture.picture?.nameText"
                      />
                    </a>
                  }
                  @if (!picture.thumb) {
                    <span>&#xa0;</span>
                  }
                </div>
              }
            </div>
          </div>
        </div>
      }
      @if (havePhoto(item) && !item.previewPictures.largeFormat) {
        <div class="row">
          @for (picture of item.previewPictures.pictures; track picture) {
            <div [class]="thumbnailColClass()">
              @if (picture && picture.picture && picture.thumb) {
                <a class="d-block rounded mb-4" [routerLink]="picture.routerLink">
                  <img
                    class="rounded w-100 border border-light"
                    loading="lazy"
                    [src]="picture.thumb.src"
                    [alt]="picture.picture.nameText"
                    [title]="picture.picture.nameText"
                  />
                </a>
              }
              @if (!picture || !picture.thumb) {
                <span>&#xa0;</span>
              }
            </div>
          }
        </div>
      }
    }
    @if (!havePhoto(item) && canHavePhoto(item)) {
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="no-photo rounded w-100 border border-light mb-4" i18n-title title="No photos available">
            <a
              routerLink="/upload"
              i18n-title
              title="Add photo"
              class="bi bi-plus-circle text-success"
              aria-hidden="true"
              [queryParams]="{item_id: item.id}"
            ></a>
            <span class="bi bi-camera fs-1" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    }
    @if (item.description && item.description.length) {
      <remark class="text" [markdown]="item.description" />
    }
    @if (item.engineVehicles && item.engineVehicles.length) {
      <div>
        <p i18n>Mounted on:</p>
        <ul>
          @for (vehicle of item.engineVehicles; track vehicle) {
            <li>
              <a [routerLink]="vehicle.route" [innerHTML]="vehicle.nameHtml"></a>
            </li>
          }
        </ul>
      </div>
    }
    <ul class="list-inline">
      @if (item.hasText || item.details.count || item.itemTypeId === ItemType.ITEM_TYPE_PERSON) {
        <li class="list-inline-item">
          <i class="bi bi-text-left me-1" aria-hidden="true"></i>
          <a [routerLink]="item.details.routerLink">
            <ng-container i18n>details</ng-container>
            @if (item.details.count > 1) {
              <span> ({{ item.details.count }})</span>
            }
          </a>
        </li>
      }
      @if (item.childsCounts) {
        @if (item.childsCounts.tuning > 0) {
          <li class="list-inline-item">
            <i class="bi bi-text-left" aria-hidden="true"></i>
            <a [routerLink]="item.details.routerLink.concat('tuning')"
              ><ng-container i18n>related</ng-container> ({{ item.childsCounts.tuning }})</a
            >
          </li>
        }
        @if (item.childsCounts.sport > 0) {
          <li class="list-inline-item">
            <i class="bi bi-text-left" aria-hidden="true"></i>
            <a [routerLink]="item.details.routerLink.concat('sport')"
              ><ng-container i18n>sport</ng-container> ({{ item.childsCounts.sport }})</a
            >
          </li>
        }
      }
      @if (item.acceptedPicturesCount && item.acceptedPicturesCount > 4 && item.picturesRouterLink) {
        <li class="list-inline-item">
          <span class="bi bi-grid-3x2-gap-fill me-1" aria-hidden="true"></span>
          <a [routerLink]="item.picturesRouterLink"
            ><ng-container i18n>all pictures</ng-container> ({{ item.acceptedPicturesCount }})</a
          >
        </li>
      }
      @if (item.specsRouterLink) {
        <li class="list-inline-item">
          <i class="bi bi-card-list me-1" aria-hidden="true"></i>
          <a i18n [routerLink]="item.specsRouterLink">specifications</a>
        </li>
      }
      @if (item.twinsGroups) {
        @for (twinsGroup of item.twinsGroups; track twinsGroup.id) {
          <li class="list-inline-item">
            <i class="bi bi-circle-half me-1" aria-hidden="true"></i>
            <a i18n [routerLink]="['/twins/group', twinsGroup.id]">twins</a>
          </li>
        }
      }
      @if (item.categories) {
        @for (category of item.categories; track category.id) {
          <li class="list-inline-item">
            <i class="bi bi-tag-fill me-1" aria-hidden="true"></i>
            <a [routerLink]="['/category', category.catname]" [innerHTML]="category.nameHtml"></a>
          </li>
        }
      }
      @if (item.canEditSpecs) {
        <li class="list-inline-item">
          <i class="bi bi-pencil-fill me-1" aria-hidden="true"></i>
          <a routerLink="/cars/specifications-editor" i18n [queryParams]="{item_id: item.id}">edit specs</a>
        </li>
      }
      @if (isModer$ | async; as isModer) {
        @if (isModer) {
          <li class="list-inline-item">
            <i class="bi bi-gear-fill me-1" aria-hidden="true"></i>
            <a i18n [routerLink]="['/moder/items/item', item.id]">edit</a>
          </li>
        }
      }
    </ul>
    @if (item.contributors) {
      <p>
        @if (item.contributors.length > 1) {
          <ng-container i18n>contributors</ng-container>
        } @else {
          <ng-container i18n>contributor</ng-container>
        }
        @for (contributor$ of item.contributors; track contributor$) {
          @if (contributor$ | async; as user) {
            <app-user [user]="user" />
          }
        }
      </p>
    }
  </div>
}
