/application.ini
/basic.php
/boot.php
/bootstrap.php
/bs.php
/bs11.php
/cacheindex.statistics
/config.ini
/run.php

/cache
/configs
/Console
/cron
/data
/layouts
/library*
/models
/modules
/resources
/trash
/views