<div class="row">
  <div class="col-lg-4 col-md-4 offset-lg-4 offset-md-4 mb-4">
    <select name="brand_id" [(ngModel)]="brandID" class="form-control" (change)="changeBrand()">
      <option [ngValue]="0" translate>inbox/all-brands</option>
      <option *ngFor="let brand of brands" [textContent]="brand.name" [ngValue]="brand.id"></option>
    </select>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-4 col-md-4">
    <h3 class="text-left" *ngIf="prev && prev.date">
      &#x2190;
      <a [routerLink]="['/inbox', brandID ? brandID : 'all', prev.date]" [textContent]="prev.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(
        <span translate [translateParams]="{count: prev.count}">ng/%1$s-pictures</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-center" *ngIf="current">
      <span [textContent]="current.date | amDateFormat: 'LL'"></span>
      <br />
      <small>(
        <span translate [translateParams]="{count: current.count}">ng/%1$s-pictures</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-right" *ngIf="next && next.date">
      <a [routerLink]="['/inbox', brandID ? brandID : 'all', next.date]" [textContent]="next.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(
        <span translate [translateParams]="{count: next.count}">ng/%1$s-pictures</span>)</small>
      &#x2192;
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let picture of pictures">
    <app-thumbnail [picture]="picture"></app-thumbnail>
  </div>
</div>
<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
