/i
/pictures
/temp
/baidu_verify*.html
/google*.html
/yandex_*.txt
/js
/37582904f658.html
/.well-known
/fonts/*
/css/*
/image
/android-chrome-*
/apple-touch-*
/browserconfig
/coast*
/favicon*
/firefox*
/mstile*
/manifest.json
/manifest.webapp
/yandex-browser*
/browserconfig.xml
/rev-manifest.json
/dist
/img
