<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n id="header">Users</h1>
</div>

@if (usersResource.error(); as error) {
  <p class="alert alert-danger" role="alert">{{ error.message }}</p>
} @else if (usersResource.isLoading()) {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
} @else if (usersResource.value(); as users) {
  <table class="table table-bordered table-striped" aria-describedby="header">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col"></th>
        <th scope="col" i18n>Login</th>
        <th scope="col">E-mail</th>
        <th scope="col" i18n>Name</th>
        <th scope="col" i18n>Profile</th>
        <th scope="col" i18n>Last visit</th>
        <th scope="col" i18n>Registration</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users.items; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>
            @if (user.photo) {
              <img alt="" style="max-width: 300px; max-height: 300px" [src]="user.photo.src" />
            }
          </td>
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.name }}</td>
          <td>
            @if (user) {
              <app-user [user]="user" />
            }
          </td>
          <td>
            @if (user.lastOnline) {
              <span [ngbTooltip]="user.lastOnline.toDate() | date: 'medium'">{{
                user.lastOnline.toDate() | timeAgo
              }}</span>
            }
          </td>
          <td>
            @if (user.createTime; as date) {
              <span [ngbTooltip]="date.toDate() | date: 'fullDate'">{{ date.toDate() | timeAgo }}</span>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (users.paginator) {
    <app-paginator [data]="users.paginator" />
  }
}
