<div class="row">
  <div class="col-md-6">
    <h2 translate>moder/attrs/zones</h2>
    <div class="card card-body">
      <ul>
        <li *ngFor="let zone of zones">
          <a [routerLink]="['/moder/attrs/zone', zone.id]" [textContent]="zone.name"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <h2 translate>moder/attrs/attributes</h2>
    <div class="card card-body">
      <app-moder-attrs-attribute-list [attributes]="attributes" (movedUp)="moveUp($event)" (movedDown)="moveDown($event)"></app-moder-attrs-attribute-list>
    </div>
  </div>
</div>
