<div class="btn-group mb-3">
  <div ngbDropdown *ngIf="!picture.moder_voted">
    <button class="btn btn-success" type="button" ngbDropdownToggle>
      {{'moder/picture/acceptance/want-accept'|translate}}
    </button>
    <div ngbDropdownMenu>
      <ng-container *ngFor="let template of moderVoteTemplateOptions">
        <button class="dropdown-item" *ngIf="template.vote > 0" [textContent]="template.name" (click)="votePicture(template.vote, template.name);"></button>
      </ng-container>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" (click)="showCustomDialog(1)">{{'moder/picture/acceptance/custom'|translate}}</button>
    </div>
  </div>

  <div ngbDropdown *ngIf="!picture.moder_voted">
    <button class="btn btn-danger" type="button" ngbDropdownToggle>
      {{'moder/picture/acceptance/want-delete'|translate}}
    </button>
    <div ngbDropdownMenu>
      <ng-container *ngFor="let template of moderVoteTemplateOptions">
        <button class="dropdown-item" *ngIf="template.vote < 0" [textContent]="template.name" (click)="votePicture(template.vote, template.name);"></button>
      </ng-container>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" (click)="showCustomDialog(-1)">{{'moder/picture/acceptance/custom'|translate}}</button>
    </div>
  </div>

  <button class="btn btn-secondary" *ngIf="picture.moder_voted" (click)="cancelVotePicture()">
    {{'moder/picture/acceptance/cancel-vote'|translate}}
  </button>
</div>

<div *ngIf="picture.moder_votes.length">
  {{'moder/picture/acceptance/already-voted'|translate}}
  <ul class="list-unstyled">
    <li *ngFor="let moder_vote of picture.moder_votes">
      <i style="color:green" class="fa fa-thumbs-up" *ngIf="moder_vote.vote > 0"></i>
      <i style="color:red" class="fa fa-thumbs-down" *ngIf="moder_vote.vote <= 0"></i>
      <app-user [user]="moder_vote.user"></app-user>
      <span [ngStyle]="{color:moder_vote.vote > 0 ? 'green' : 'red'}" [textContent]="moder_vote.reason"></span>
    </li>
  </ul>
</div>
