[submodule "vendor/artpolikarpov/Flags"]
	path = vendor/artpolikarpov/Flags
	url = git://github.com/artpolikarpov/Flags.git
	
[submodule "vendor/kpdecker/jsdiff"]
	path = vendor/kpdecker/jsdiff
	url = git://github.com/kpdecker/jsdiff.git

