parameters:
    level: 5
    parallel:
        processTimeout: 300.0
        maximumNumberOfProcesses: 2
    paths:
        - module
    excludes_analyse:
        - "*/AttrUserValueCollectionInputFilter.php"
