<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./module/Application/src</directory>
      <directory suffix=".php">./module/Comments/src</directory>
      <directory suffix=".php">./module/Forums/src</directory>
      <directory suffix=".php">./module/Message/src</directory>
      <directory suffix=".php">./module/Traffic/src</directory>
      <directory suffix=".php">./module/User/src</directory>
      <directory suffix=".php">./module/Votings/src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <const name="IS_PHPUNIT" value="true"/>
  </php>
  <testsuites>
    <testsuite name="application">
      <directory>./module/Application/test</directory>
    </testsuite>
    <testsuite name="comments">
      <directory>./module/Comments/test</directory>
    </testsuite>
    <testsuite name="traffic">
      <directory>./module/Traffic/test</directory>
    </testsuite>
    <testsuite name="user">
      <directory>./module/User/test</directory>
    </testsuite>
  </testsuites>
</phpunit>
