<div class="nav nav-pills mb-4">
  <a class="nav-link" routerLink="." [queryParams]="{vehicle_type_id: 'empty', vehicle_childs_type_id: 19}">Buses without type</a>
  <a class="nav-link" routerLink="." [queryParams]="{vehicle_type_id: 'empty', vehicle_childs_type_id: 17}">Truck without type</a>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4">
    <h2 translate>moder/items/filter</h2>
    <form class="card card-body form-vertical">
      <div class="form-group">
        <label translate>moder/items/filter/name</label>
        <input placeholder="% - any characters" type="text" name="name" class="form-control" [(ngModel)]="filter.name" (input)="load()"
        />
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/name-exclude</label>
        <input placeholder="_ - any single character" type="text" name="name_exclude" class="form-control" [(ngModel)]="filter.name_exclude"
          (input)="load()" />
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/item-type</label>
        <select name="item_type_id" class="form-control" [(ngModel)]="filter.item_type_id" (change)="load()">
          <option value="">Any</option>
          <option value="1" translate>item/type/1/name</option>
          <option value="2" translate>item/type/2/name</option>
          <option value="3" translate>item/type/3/name</option>
          <option value="4" translate>item/type/4/name</option>
          <option value="5" translate>item/type/5/name</option>
          <option value="6" translate>item/type/6/name</option>
          <option value="7" translate>item/type/7/name</option>
          <option value="8" translate>item/type/8/name</option>
        </select>
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/vehicle-type</label>
        <select name="vehicle_type_id" class="form-control" [(ngModel)]="filter.vehicle_type_id" (change)="load()">
          <option value="">Any</option>
          <option value="empty" translate>moder/items/filter/vehicle-type/empty</option>
          <option value="{{item.id}}" *ngFor="let item of vehicleTypeOptions">{{'...'.repeat(item.deep)}}{{item.name|translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Have childs with type</label>
        <select name="vehicle_childs_type_id" class="form-control" [(ngModel)]="filter.vehicle_childs_type_id" (change)="load()">
          <option value="">Any</option>
          <option value="{{item.id}}" *ngFor="let item of vehicleTypeOptions">{{'...'.repeat(item.deep)}}{{item.name|translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/spec</label>
        <select name="spec" class="form-control" [(ngModel)]="filter.spec" (change)="load()">
          <option value="">Any</option>
          <option value="{{item.id}}" *ngFor="let item of specOptions">{{'...'.repeat(item.deep)}}{{item.short_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/from-year</label>
        <input type="text" name="from_year" class="form-control" [(ngModel)]="filter.from_year" (input)="load()" maxlength="4" />
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/to-year</label>
        <input type="text" name="to_year" class="form-control" [(ngModel)]="filter.to_year" (input)="load()" maxlength="4" />
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/parent</label>
        <ng-template #ancestorTemplate let-model="result">
          <span [innerHTML]="model.name_html"></span>
        </ng-template>
        <div class="input-group mb-3">
          <input [ngbTypeahead]="ancestorsDataSource" name="ancestor" [(ngModel)]="ancestorQuery" [inputFormatter]="ancestorFormatter"
            (selectItem)="ancestorOnSelect($event)" [resultTemplate]="ancestorTemplate" class="form-control" [class.border-primary]="ancestorID">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" [disabled]="!ancestorID" (click)="clearAncestor()">
              <span class="fa fa-close"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/text</label>
        <input type="text" name="text" class="form-control" [(ngModel)]="filter.text" (input)="load()" />
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="no_parent" value="1" [(ngModel)]="filter.no_parent" (change)="load()" /> {{'moder/items/filter/no-parents'|translate}}
        </label>
      </div>
      <div class="form-group">
        <label translate>moder/items/filter/order</label>
        <select name="order" class="form-control" [(ngModel)]="filter.order" (change)="load()">
          <option value="id_desc">id desc</option>
          <option value="id_asc">id asc</option>
          <option value="childs_count">childs count</option>
          <option value="name">name</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-lg-8 col-md-8">

    <div class="btn-group float-right">
      <a routerLink="." [queryParams]="{list: null}" queryParamsHandling="merge" class="btn btn-outline-secondary" [class.active]="!listMode">
        <i class="fa fa-th" aria-hidden="true"></i>
      </a>
      <a routerLink="." [queryParams]="{list: '1', order: 'name'}" queryParamsHandling="merge" class="btn btn-outline-secondary"
        [class.active]="listMode">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </a>
    </div>

    <h2>
      {{'page/131/name'|translate}}
      <span [hidden]="loading <= 0">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </span>
      <small *ngIf="paginator && paginator.totalItemCount" translate [translateParams]="{count: paginator.totalItemCount}">ng/%1$s-items</small>
    </h2>

    <div *ngIf="listMode">
      <div *ngFor="let item of items">
        <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
      </div>
    </div>

    <div *ngIf="!listMode">
      <app-item [item]="item" *ngFor="let item of items"></app-item>
    </div>

    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
  </div>
</div>
