<ngb-tabset>
  <ngb-tab [title]="'moder/markdown/edit'|translate">
    <ng-template ngbTabContent>
      <textarea [(ngModel)]="text" class="form-control" maxlength="65536" rows="1" aria-label="Text" autosize (change)="onChange()"></textarea>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="'moder/markdown/preview'|translate" [disabled]="!text || !text.length">
    <ng-template ngbTabContent>
      <div class="card card-body">
        <app-markdown [markdown]="text"></app-markdown>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
