<a routerLink="/moder/pages/add" class="btn btn-success">{{'moder/pages/new'|translate}}</a>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>move</th>
      <th>N</th>
      <th translate>page/name</th>
      <th>Breadcrumbs</th>
      <th>IsGroup?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="data-row" *ngFor="let page of items">
      <td style="white-space:nowrap">
        <button class="btn btn-secondary btn-sm" [disabled]="!page.moveUp" aria-label="move up" (click)="move(page, 'up')">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button class="btn btn-secondary btn-sm" [disabled]="!page.moveDown" aria-label="move down" (click)="move(page, 'down')">
          <i class="fa fa-arrow-down"></i>
        </button>
      </td>
      <td [textContent]="page.id"></td>
      <td [ngStyle]="{'padding-left': page.level * 20 + 'px'}" [textContent]="'page/' + page.id + '/name'|translate"></td>
      <td [textContent]="page.breadcrumbs"></td>
      <td>{{page.is_group_node ? 'yes' : 'no'}}</td>
      <td style="white-space:nowrap">
        <a class="btn btn-success btn-sm" routerLink="/moder/pages/add" [queryParams]="{parent_id: page.id}" aria-label="add">
          <i class="fa fa-plus"></i>
        </a>
        <a class="btn btn-secondary btn-sm" routerLink="/moder/pages/edit" [queryParams]="{id: page.id}" aria-label="edit">
          <i class="fa fa-pencil"></i>
        </a>
        <button class="btn btn-danger btn-sm" (click)="deletePage($event, page)" aria-label="delete" *ngIf="page.childs.length == 0">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
