.share {
  margin: 0 0 20px;

  a {
    color: #fff;
  }

  .bi-telegram { background-color: #54a9eb; }
  .bi-whatsapp { background-color: #1da851; }
  .bi-reddit { background-color: #5f99cf; }
  .bi-linkedin { background-color: #046293; }
  .bi-pinterest { background-color: #8c0615; }
  .bi-envelope-open { background-color: #5e5e5e; }
  .bi-google { background-color: #dd4b39; }
  .bi-twitter { background-color: #55acee; }
}
