@if (!pageEnv.layoutParams().isGalleryPage) {
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/" i18n>Index page</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/persons" i18n>Persons</a>
      </li>
    </ol>
  </nav>

  @if (item$ | async; as item) {
    <div class="page-header">
      <h1 [innerHTML]="item.nameHtml"></h1>
    </div>
    @if (isModer$ | async) {
      <p>
        <i class="bi bi-gear-fill me-1" aria-hidden="true"></i>
        <a i18n [routerLink]="['/moder/items/item', item.id]">edit</a>
      </p>
    }
  }
}

<router-outlet />
