<div class="card card-body">
    <div class="nav flex-column nav-pills">
        <a class="nav-link" ng-href="{{item.url}}" ng-if="item.url" ng-class="{active: item.active}" ng-repeat-start="item in ctrl.items">
            <span ng-class="{'badge badge-pill badge-secondary': true, 'float-right': true, 'alert-danger': item.newCount > 0}" ng-if="item.count !== undefined">
                <span ng-if="item.count <= 0" translate>count 0</span>
                <span ng-if="item.count > 0 && item.newCount === undefined">{{item.count}}</span>
                <span ng-if="item.count > 0 && item.newCount !== undefined && item.newCount <= 0">{{item.count}}</span>
                <span ng-if="item.count > 0 && item.newCount !== undefined && item.newCount > 0">{{item.count - item.newCount}}+{{item.newCount}}</span>
            </span>
            <i class="fa fa-{{item.icon}}" ng-if="item.icon"></i>
            {{item.name|translate}}
        </a>
        {{$state.href('account-messages')}}
        <a class="nav-link" ng-href="{{$state.href(item.sref, {}, {inherit: false})}}" ng-if="item.sref" ng-class="{active: item.active}">
            <span ng-class="{'badge badge-pill badge-secondary': true, 'float-right': true, 'alert-danger': item.newCount > 0}" ng-if="item.count !== undefined">
                <span ng-if="item.count <= 0" translate>count 0</span>
                <span ng-if="item.count > 0 && item.newCount === undefined">{{item.count}}</span>
                <span ng-if="item.count > 0 && item.newCount !== undefined && item.newCount <= 0">{{item.count}}</span>
                <span ng-if="item.count > 0 && item.newCount !== undefined && item.newCount > 0">{{item.count - item.newCount}}+{{item.newCount}}</span>
            </span>
            <i class="fa fa-{{item.icon}}" ng-if="item.icon"></i>
            {{item.name|translate}}
        </a>
        <span class="nav-link" ng-if="!item.url && !item.sref" ng-repeat-end>
            <i class="fa fa-{{item.icon}}" ng-if="item.icon"></i>
            {{item.name|translate}}
        </span>
    </div>
</div>
