<div class="page-header">
  <h1 i18n>My accounts</h1>
</div>
@if (accounts$ | async; as accounts) {
  @if (accounts.length > 0 && !disconnectFailed()) {
    <div class="card card-body mb-4">
      @for (account of accounts; track account.id) {
        <div>
          <p>
            @if (account.canRemove) {
              <button
                type="submit"
                class="btn btn-sm btn-danger"
                i18n-title
                title="Remove"
                style="margin-right: 16px"
                (click)="remove(account)"
              >
                <i class="bi bi-x" aria-hidden="true"></i>
              </button>
            }
            <i aria-hidden="true" [class]="account.icon"></i>
            @if (account.link) {
              <a [href]="account.link" [textContent]="account.name"></a>
            } @else {
              <span [textContent]="account.name"></span>
            }
          </p>
        </div>
      }
    </div>
  }
}

@if (disconnectFailed()) {
  <div class="card card-body">
    <remark
      i18n-markdown
      markdown="Не удалось удалить учетную запись.

Такое бывает, если привязанная учётная запись является единственным способом авторизации, т.е. не задан e-mail или другие учётный записи."
    />
  </div>
}
