<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
    @if (item$ | async; as item) {
      <li class="breadcrumb-item">
        <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.nameHtml"></a>
      </li>
    }
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Parent selection</h1>
</div>

@if (itemID$ | async; as itemID) {
  @if (tab$ | async; as tab) {
    <div class="nav nav-pills" style="margin-bottom: 10px">
      @if (showCatalogueTab$ | async) {
        <a
          class="nav-link"
          [class.active]="tab === 'catalogue'"
          [routerLink]="['/moder/items/item', itemID, 'select-parent']"
          [queryParams]="{tab: 'catalogue'}"
        >
          <i class="bi bi-list" aria-hidden="true"></i>
          &ngsp;<ng-container i18n>Catalogue</ng-container>
        </a>
      }
      @if (showBrandsTab$ | async) {
        <a
          class="nav-link"
          [class.active]="tab === 'brands'"
          [routerLink]="['/moder/items/item', itemID, 'select-parent']"
          [queryParams]="{tab: 'brands'}"
        >
          <i class="bi bi-list" aria-hidden="true"></i>
          &ngsp;<ng-container i18n>Brands</ng-container>
        </a>
      }
      <a
        class="nav-link"
        [class.active]="tab === 'categories'"
        [routerLink]="['/moder/items/item', itemID, 'select-parent']"
        [queryParams]="{tab: 'categories'}"
      >
        <i class="bi bi-tag-fill" aria-hidden="true"></i>
        &ngsp;<ng-container i18n>Categories</ng-container>
      </a>
      @if (showTwinsTab$ | async) {
        <a
          class="nav-link"
          [class.active]="tab === 'twins'"
          [routerLink]="['/moder/items/item', itemID, 'select-parent']"
          [queryParams]="{tab: 'twins'}"
        >
          <i class="bi bi-circle-half" aria-hidden="true"></i>
          &ngsp;<ng-container i18n>Twins</ng-container>
        </a>
      }
      @if (showFactoriesTab$ | async) {
        <a
          class="nav-link"
          [class.active]="tab === 'factories'"
          [routerLink]="['/moder/items/item', itemID, 'select-parent']"
          [queryParams]="{tab: 'factories'}"
        >
          <i class="bi bi-gear-wide-connected" aria-hidden="true"></i>
          &ngsp;<ng-container i18n>Factories</ng-container></a
        >
      }
    </div>
    @if (tab === 'catalogue') {
      @if (item$ | async; as item) {
        <app-moder-items-item-select-parent-catalogue
          [itemID]="itemID"
          [itemTypeID]="item.itemTypeId"
          (selected)="select(itemID, $event)"
        />
      }
    } @else if (tab === 'brands') {
      <app-moder-items-item-select-parent-brands (selected)="select(itemID, $event)" />
    } @else if (tab === 'categories') {
      <app-moder-items-item-select-parent-categories [itemID]="itemID" (selected)="select(itemID, $event)" />
    } @else if (tab === 'twins') {
      <app-moder-items-item-select-parent-twins [itemID]="itemID" (selected)="select(itemID, $event)" />
    } @else if (tab === 'factories') {
      <app-moder-items-item-select-parent-factories [itemID]="itemID" (selected)="select(itemID, $event)" />
    }
  }
}
