<div class="nav nav-pills" style="margin-bottom:10px" *ngIf="factory">
  <a class="nav-link active" routerLink="." [innerHTML]="factory.name_html"></a>
  <a class="nav-link" [routerLink]="['/factories', factory.id, 'items']" translate>factories/factory-items</a>
  <a class="nav-link" [routerLink]="['/moder/items/item', factory.id]" *ngIf="isModer">
    <i class="fa fa-cog"></i>
    {{'moder/edit-object'|translate}}
  </a>
</div>

<div style="width:100%;height:300px" class="mb-4" *ngIf="factory && factory.lng && factory.lat" leaflet [leafletOptions]="options"
  [leafletLayers]="markers"></div>

<app-markdown class="card card-body" *ngIf="factory && factory.description" [markdown]="factory.description|translate"></app-markdown>

<div *ngIf="pictures.length > 0">
  <h3 translate>factories/factory/pictures</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let picture of pictures">
      <app-thumbnail [picture]="picture"></app-thumbnail>
    </div>
  </div>
</div>

<div *ngIf="relatedPictures.length > 0">
  <h3 translate>factories/factory-items</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let item of relatedPictures">
      <div class="card mb-4">
        <a [href]="item.url">
          <img class="card-img-top" [src]="item.src" alt="" [title]="item.name" />
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a [href]="item.url" [textContent]="item.name"></a>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <p>
    <a [routerLink]="['/factories', factory.id, 'items']" translate>carlist/details</a>
  </p>
</div>
