<div class="row mb-4" *ngIf="item">
  <div class="col-md-2">
    <img *ngIf="randomPicture && randomPicture.thumb_medium" [src]="randomPicture.thumb_medium.src" alt="" class="mb-4 w-100 rounded border border-light"
    />
  </div>
  <div class="col-md-5">
    <div class="card card-body mb-4">
      <p translate [translateParams]="{id: item.id}">ng/moder/database-id-n</p>

      <p *ngIf="specsAllowed && canEditSpecifications">
        <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id}" translate>carlist/edit-specs</a>
        <span class="badge badge-pill badge-secondary" *ngIf="item.specifications_count" [textContent]="item.specifications_count"></span>
      </p>
      <p>
        <a routerLink="/log" [queryParams]="{item_id: item.id}" translate>moder/log-of-events</a>
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card card-body mb-4">
      <p translate>moder/vehicle/subscription/title</p>
      <p class="subscription">
        <button class="btn" [class.btn-success]="item.subscription" [class.btn-secondary]="!item.subscription" (click)="toggleSubscription()">
          <span [hidden]="!item.subscription">
            <i class="fa fa-check"></i>
            {{'moder/vehicle/subscription/subscribed'|translate}}
          </span>
          <span [hidden]="item.subscription">
            <i class="fa fa-times"></i>
            {{'moder/vehicle/subscription/not-subscribed'|translate}}
          </span>
        </button>
      </p>
    </div>
  </div>
</div>

<div class="nav nav-pills" style="margin-bottom:10px" *ngIf="item">
  <a [class.active]="activeTab == 'meta'" class="nav-link" routerLink="." [queryParams]="{tab: 'meta'}">
    <span class="glyphicon glyphicon-pencil"></span>
    <span translate>moder/vehicle/tabs/meta</span>
    <span class="badge badge-pill badge-secondary" *ngIf="metaTab.count" [textContent]="metaTab.count"></span>
  </a>
  <a [class.active]="activeTab == 'name'" class="nav-link" routerLink="." [queryParams]="{tab: 'name'}">
    <span class="glyphicon glyphicon-align-left"></span>
    <span translate>moder/vehicle/tabs/name</span>
    <span class="badge badge-pill badge-secondary" *ngIf="nameTab.count" [textContent]="nameTab.count"></span>
  </a>
  <a [class.active]="activeTab == 'logo'" class="nav-link" routerLink="." [queryParams]="{tab: 'logo'}" *ngIf="logoTab.visible">
    <span class="glyphicon glyphicon-align-left"></span>
    <span translate>brand/logo</span>
    <span class="badge badge-pill badge-secondary" *ngIf="logoTab.count" [textContent]="logoTab.count"></span>
  </a>
  <a [class.active]="activeTab == 'catalogue'" class="nav-link" routerLink="." [queryParams]="{tab: 'catalogue'}" *ngIf="catalogueTab.visible">
    <span translate>moder/vehicle/tabs/catalogue</span>
    <span class="badge badge-pill badge-secondary" *ngIf="catalogueTab.count" [textContent]="catalogueTab.count"></span>
  </a>
  <a [class.active]="activeTab == 'vehicles'" class="nav-link" routerLink="." [queryParams]="{tab: 'vehicles'}" *ngIf="vehiclesTab.visible">
    <span translate>moder/vehicle/tabs/vehicles</span>
    <span class="badge badge-pill badge-secondary" *ngIf="vehiclesTab.count" [textContent]="vehiclesTab.count"></span>
  </a>
  <a [class.active]="activeTab == 'tree'" class="nav-link" routerLink="." [queryParams]="{tab: 'tree'}" *ngIf="treeTab.visible">
    <span class="fa fa-tree"></span>
    <span translate>moder/vehicle/tabs/tree</span>
    <span class="badge badge-pill badge-secondary" *ngIf="treeTab.count" [textContent]="treeTab.count"></span>
  </a>
  <a [class.active]="activeTab == 'pictures'" class="nav-link" routerLink="." [queryParams]="{tab: 'pictures'}" *ngIf="picturesTab.visible">
    <span class="glyphicon glyphicon-th"></span>
    <span translate>moder/vehicle/tabs/pictures</span>
    <span class="badge badge-pill badge-secondary" *ngIf="picturesTab.count" [textContent]="picturesTab.count"></span>
  </a>
  <a [class.active]="activeTab == 'links'" class="nav-link" routerLink="." [queryParams]="{tab: 'links'}" *ngIf="linksTab.visible">
    <span class="glyphicon glyphicon-globe"></span>
    <span translate>moder/brands/links</span>
    <span class="badge badge-pill badge-secondary" *ngIf="linksTab.count" [textContent]="linksTab.count"></span>
  </a>
</div>

<app-moder-items-item-meta [item]="item" *ngIf="metaTab.visible && activeTab == 'meta' && item"></app-moder-items-item-meta>
<app-moder-items-item-name [item]="item" *ngIf="nameTab.visible && activeTab == 'name' && item"></app-moder-items-item-name>
<app-moder-items-item-logo [item]="item" *ngIf="logoTab.visible && activeTab == 'logo' && item"></app-moder-items-item-logo>
<app-moder-items-item-catalogue [item]="item" *ngIf="catalogueTab.visible && activeTab == 'catalogue' && item"></app-moder-items-item-catalogue>
<app-moder-items-item-vehicles [item]="item" *ngIf="vehiclesTab.visible && activeTab == 'vehicles' && item"></app-moder-items-item-vehicles>
<div class="tree card card-body" *ngIf="treeTab.visible && activeTab == 'tree' && tree">
  <app-moder-items-item-tree [item]="tree"></app-moder-items-item-tree>
</div>
<app-moder-items-item-pictures [item]="item" *ngIf="picturesTab.visible && activeTab == 'pictures' && item"></app-moder-items-item-pictures>
<app-moder-items-item-links [item]="item" *ngIf="linksTab.visible && activeTab == 'links' && item"></app-moder-items-item-links>
