<autowp-roles-tree roles="ctrl.rolesTree"></autowp-roles-tree>

<table class="table">
    <thead>
        <tr>
            <th>role</th>
            <th>resource</th>
            <th>privilege</th>
            <th>allowed</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rule in ctrl.rules">
            <td ng-bind="rule.role"></td>
            <td ng-bind="rule.resource"></td>
            <td ng-bind="rule.privilege"></td>
            <td>
                <i class="fa fa-check-circle" ng-if="rule.allowed"></i>
                <i class="fa fa-times-circle" ng-if="!rule.allowed"></i>
            </td>
        </tr>
    </tbody>
</table>

<form name="add-role-parent" class="card card-body form-vertical" ng-submit="ctrl.addRoleParent()">
    <h3 translate>moder/acl/add-parent</h3>
    <div class="form-group">
        <label translate>moder/acl/role</label>
        <select name="role" class="form-control" ng-model="ctrl.addRoleParentForm.role" required>
            <option ng-repeat="role in ctrl.roles" value="{{role.name}}">{{role.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label translate>moder/acl/parent-role</label>
        <select name="parent_role" class="form-control" ng-model="ctrl.addRoleParentForm.parentRole" required>
            <option ng-repeat="role in ctrl.roles" value="{{role.name}}">{{role.name}}</option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" translate>send</button>
    </div>
</form>

<form name="add-rule" class="card card-body form-vertical" ng-submit="ctrl.addRule()">
    <h3 translate>moder/acl/add-rule</h3>
    <div class="form-group">
        <label translate>moder/acl/role</label>
        <select name="role" class="form-control" ng-model="ctrl.addRuleForm.role" required>
            <option ng-repeat="role in ctrl.roles" value="{{role.name}}">{{role.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label translate>moder/acl/privilege</label>
        <select name="privilege" class="form-control" ng-model="ctrl.addRuleForm.privilege" required>
            <optgroup label="{{resource.name}}" ng-repeat="resource in ctrl.resources">
                <option ng-repeat="privilege in resource.privileges" value="{{resource.name + '/' + privilege.name}}">{{privilege.name}}</option>
            </optgroup>
        </select>
    </div>
    <div class="form-group">
        <label translate>moder/acl/add-rule/action</label>
        <select name="what" class="form-control" ng-model="ctrl.addRuleForm.allowed" required>
            <option value="0">{{'moder/acl/add-rule/action/deny'|translate}}</option>
            <option value="1">{{'moder/acl/add-rule/action/allow'|translate}}</option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" translate>send</button>
    </div>
</form>

<form name="add-role" class="card card-body form-vertical" ng-submit="ctrl.addRole()">
    <h3 translate>moder/acl/add-role</h3>
    <div class="form-group">
        <label translate>moder/acl/role</label>
        <input type="text" class="form-control" maxlength="255" name="name" ng-model="ctrl.addRoleForm.name" required />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" translate>send</button>
    </div>
</form>
