<md-dialog aria-label="{{'picture-moder-vote/custom/title'|translate}}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>picture-moder-vote/custom/title</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Reason</label>
                <input md-maxlength="50" required md-no-asterisk name="reason" ng-model="reason">
            </md-input-container>
            <md-checkbox ng-model="save">
                {{'picture-moder-vote/custom/save'|translate}}
            </md-checkbox>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-raised">
            {{'picture-moder-vote/custom/cancel'|translate}}
        </md-button>
        <md-button ng-click="ok()" class="md-raised" ng-class="{'md-warn': vote < 0, 'md-primary': vote > 0}">
            {{'picture-moder-vote/custom/send'|translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>