<div class="btn-group">
    <div class="btn-group" ng-if="!picture.moder_voted">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{'moder/picture/acceptance/want-accept'|translate}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="template in moderVoteTemplateOptions" ng-if="template.vote > 0">
                <a href="#" ng-bind="template.name" aria-label="{{template.name}}" ng-click="votePicture(template.vote, template.name);"></a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="showCustomDialog($event, 1)">{{'moder/picture/acceptance/custom'|translate}}</a>
            </li>
        </ul>
    </div>

    <div class="btn-group" ng-if="!picture.moder_voted">
        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{'moder/picture/acceptance/want-delete'|translate}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="template in moderVoteTemplateOptions" ng-if="template.vote < 0">
                <a href="#" ng-bind="template.name" aria-label="{{template.name}}" ng-click="votePicture(template.vote, template.name);"></a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="showCustomDialog($event, -1)">{{'moder/picture/acceptance/custom'|translate}}</a>
            </li>
        </ul>
    </div>
    
    <button class="btn btn-default" ng-if="picture.moder_voted" ng-click="cancelVotePicture()">
        {{'moder/picture/acceptance/cancel-vote'|translate}}
    </button>
</div>

<div ng-if="picture.moder_votes.length">
    {{'moder/picture/acceptance/already-voted'|translate}}
    <ul class="list-unstyled">
        <li ng-repeat="moder_vote in picture.moder_votes">
            <i style="color:green" class="fa fa-thumbs-up"></i>
            <autowp-user user="moder_vote.user"></autowp-user>
            <span style="color:{{moder_vote.vote > 0 ? 'green' : 'red'}}" ng-bind="moder_vote.reason"></span>
        </li>
    </ul>
</div>