<div class="btn-group">
    <div class="btn-group" ng-if="!picture.moder_voted">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{'moder/picture/acceptance/want-accept'|translate}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="template in moderVoteTemplateOptions" ng-if="template.vote > 0">
                <a href="#" ng-bind="template.name" aria-label="{{template.name}}" ng-click="votePicture(template.vote, template.name);"></a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="showCustomDialog($event, 1)">{{'moder/picture/acceptance/custom'|translate}}</a>
            </li>
        </ul>
    </div>

    <div class="btn-group" ng-if="!picture.moder_voted">
        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{'moder/picture/acceptance/want-delete'|translate}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="template in moderVoteTemplateOptions" ng-if="template.vote < 0">
                <a href="#" ng-bind="template.name" aria-label="{{template.name}}" ng-click="votePicture(template.vote, template.name);"></a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="showCustomDialog($event, -1)">{{'moder/picture/acceptance/custom'|translate}}</a>
            </li>
        </ul>
    </div>
    
    <button class="btn btn-secondary" ng-if="picture.moder_voted" ng-click="cancelVotePicture()">
        {{'moder/picture/acceptance/cancel-vote'|translate}}
    </button>
</div>

<div ng-if="picture.moder_votes.length">
    {{'moder/picture/acceptance/already-voted'|translate}}
    <ul class="list-unstyled">
        <li ng-repeat="moder_vote in picture.moder_votes">
            <i style="color:green" class="fa fa-thumbs-up" ng-if="moder_vote.vote > 0"></i>
            <i style="color:red" class="fa fa-thumbs-down" ng-if="moder_vote.vote <= 0"></i>
            <autowp-user user="moder_vote.user"></autowp-user>
            <span style="color:{{moder_vote.vote > 0 ? 'green' : 'red'}}" ng-bind="moder_vote.reason"></span>
        </li>
    </ul>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" translate>picture-moder-vote/custom/title</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Reason</label>
                    <input maxlength="50" required name="reason" ng-model="reason" class="form-control" />
                </div>
                <div class="checkbox">
	                <label>
	                    <input type="checkbox" name="save" ng-model="save" /> 
	                    {{'picture-moder-vote/custom/save'|translate}}
	                </label>
	            </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary" translate>picture-moder-vote/custom/cancel</button>
                <button type="button" ng-click="ok()" class="btn btn-primary" ng-class="{'md-warn': vote < 0, 'md-primary': vote > 0}">
                    {{'picture-moder-vote/custom/send'|translate}}
                </button>
            </div>
        </div>
    </div>
</div>