<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/new" i18n>New pictures</a>
    </li>
    @if (date$ | async; as date) {
      <li class="breadcrumb-item">
        <a [routerLink]="['/new', date]">{{ date | date: 'mediumDate' }}</a>
      </li>
    }
  </ol>
</nav>

@if (item$ | async; as item) {
  <div class="page-header">
    <h1 [innerHTML]="item.nameHtml"></h1>
  </div>
}

@if (pictures$ | async; as data) {
  <div class="row">
    @for (picture of data.items || []; track picture) {
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]" />
      </div>
    }
  </div>
  @if (data.paginator) {
    <app-paginator [data]="data.paginator" />
  }
}
