<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Cutaway</h1>
</div>

<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink="/cutaway/authors" i18n>Authors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cutaway/brands" i18n>Brands</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/cutaway" i18n>Pictures</a>
  </li>
</ul>

@if (query$ | async; as response) {
  <div class="row">
    @for (picture of response.items || []; track picture) {
      <div class="col-6 col-md-4 col-lg-3">
        <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]" />
      </div>
    }
  </div>
  @if (response.paginator) {
    <app-paginator [data]="response.paginator" />
  }
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
