<p>
  <span *ngIf="prev && prev.revision">
    <i class="fa fa-arrow-left"></i>
    <a routerLink="." [queryParams]="{revision: prev.revision}">Previous revision</a>
  </span>
  <span class="float-right" *ngIf="next && next.revision">
    <a routerLink="." [queryParams]="{revision: next.revision}">Next revision</a>
    <i class="fa fa-arrow-right"></i>
  </span>
</p>
<div class="row">
  <div class="col-md-6" *ngIf="prev">
    <h3 *ngIf="prev.revision">
      Revision {{prev.revision}}
      <small *ngIf="prev.user">
        <app-user [user]="prev.user"></app-user>
      </small>
    </h3>
    <pre [hidden]="!prev.revision" [textContent]="prev.text"></pre>
  </div>
  <div class="col-md-6" *ngIf="current">
    <h3>
      Revision {{current.revision}}
      <small *ngIf="current.user">
        <app-user [user]="current.user"></app-user>
      </small>
    </h3>
    <pre #pre class="diff"><ng-container *ngFor="let i of diff"><del *ngIf="i.removed" [textContent]="i.value"></del><ins *ngIf="i.added" [textContent]="i.value"></ins><ng-container *ngIf="!i.added && !i.removed">{{i.value}}</ng-container></ng-container></pre>
  </div>
</div>
