<table class="table table-striped">
  <thead>
    <tr>
      <th i18n scope="col">Topics</th>
      <th i18n scope="col">Author</th>
      <th i18n scope="col">Last message</th>
      @if (showSubscribe()) {
        <th i18n scope="col">Subscription</th>
      }
      @if (forumAdmin()) {
        <th scope="col"></th>
      }
    </tr>
  </thead>
  <tbody>
    @for (topic of topics(); track topic.id) {
      <tr
        app-forums-topic-list-item
        [topic]="topic"
        [showSubscribe]="showSubscribe()"
        [forumAdmin]="forumAdmin()"
        (reload)="reload.emit()"
      ></tr>
    }
  </tbody>
</table>
