<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/articles" i18n>Articles</a>
    </li>
  </ol>
</nav>

@if (article$ | async; as article) {
  @if (article) {
    <div class="page-header">
      <h1>{{ article.name }}</h1>
    </div>
    <div class="card card-body">
      <div class="article clearfix" [innerHTML]="article.html"></div>
    </div>
  }
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
