<div *ngIf="!brand">
  <div style="margin-bottom:20px">
    <input type="text" [(ngModel)]="search" (input)="onSearchInput()" class="form-control" placeholder="Type to search ..." auto-focus
    />
  </div>
  <span [hidden]="loading <= 0">
    <i class="fa fa-spinner fa-spin fa-fw fa-4x"></i>
  </span>
  <div class="row">
    <div class="col-md-2" *ngFor="let chunk of brands">
      <ng-container *ngFor="let brand of chunk">
        <a routerLink="/upload/select" [queryParams]="{brand_id: brand.id}" [textContent]="brand.name_only"></a>
        <br />
      </ng-container>
    </div>
  </div>

  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="select-in-brand" *ngIf="brand">

  <span [hidden]="loading <= 0">
    <i class="fa fa-spinner fa-spin fa-fw fa-4x"></i>
  </span>

  <div style="margin: 5px 0" *ngIf="brand.vehicles.length > 0">

    <div *ngFor="let item of brand.vehicles">

      <app-upload-select-tree-item [item]="item">
      </app-upload-select-tree-item>

    </div>
  </div>

  <div *ngIf="brand.engines.length > 0">
    <h5 translate>item/type/2/name-plural</h5>
    <div style="margin: 5px 0">
      <div *ngFor="let item of brand.engines">
        <app-upload-select-tree-item [item]="item">
        </app-upload-select-tree-item>
      </div>
    </div>
  </div>

  <div *ngIf="brand.concepts.length > 0">
    <i class="fa fa-folder-o" [hidden]="conceptsOpen"></i>
    <i class="fa fa-folder-open-o" [hidden]="!conceptsOpen"></i>
    <a href="#" (click)="conceptsOpen = !conceptsOpen" translate>upload/select/concepts</a>
    <ul class="list-unstyled" [hidden]="!conceptsOpen">
      <li *ngFor="let item of brand.concepts" style="margin-left:16px">
        <app-upload-select-tree-item [item]="item">
        </app-upload-select-tree-item>
      </li>
    </ul>
  </div>

  <div style="margin: 5px 0">
    <a routerLink="/upload" [queryParams]="{item_id: brand.item.id, perspective_id: 22}" translate>upload/select/logo</a>
    <br />
    <a routerLink="/upload" [queryParams]="{item_id: brand.item.id, perspective_id: 25}" translate>upload/select/mixed-long</a>
    <br />
    <a routerLink="/upload" [queryParams]="{item_id: brand.item.id, perspective_id: null}" translate>upload/select/unsorted-long</a>
  </div>
</div>
