<div class="row" ng-init="ctrl.initArrows()">
    <div class="col-md-6 text-right">
        <p>
            <a ui-sref="moder-pictures-item({id: picture.siblings.prev.id})" title="{{picture.siblings.prev.name_text}}" ng-if="picture.siblings.prev" translate>moder/picture/previous</a>
            <br ng-if="picture.siblings.prev" />
            <a ui-sref="moder-pictures-item({id: picture.siblings.prev_new.id})" title="{{picture.siblings.prev_new.name_text}}" ng-if="picture.siblings.prev_new" translate>moder/picture/previous-new</a>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <a ui-sref="moder-pictures-item({id: picture.siblings.next.id})" title="{{picture.siblings.next.name_text}}" ng-if="picture.siblings.next" translate>moder/picture/next</a>
            <br ng-if="picture.siblings.next" />
            <a ui-sref="moder-pictures-item({id: picture.siblings.next_new.id})" title="{{picture.siblings.next_new.name_text}}" ng-if="picture.siblings.next_new" translate>moder/picture/next-new</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <img ng-src="{{picture.thumbnail.src}}" ng-if="picture.thumbnail" />
    </div>
    <div class="col-md-5">
        <div class="well">
            <p translate="ng/moder/database-id-n" translate-values="{id: picture.id}"></p>
            <p>
                {{'moder/picture/public-url:'|translate}}
                <a ng-href="{{picture.url}}" ng-bind="picture.url"></a>
            </p>
            <p ng-if="picture.image" style="overflow: hidden; text-overflow: ellipsis;">
                {{'moder/picture/image:'|translate}}
                <a ng-href="{{picture.image.src}}" ng-bind="picture.image.src"></a>
            </p>
            <a ui-sref="log({picture_id: picture.id})" translate>moder/log-of-events</a>
        </div>
    </div>
    <div class="col-md-5">
        <div class="well">
            <p>{{'moder/picture/resolution:'|translate}}
            <b>{{picture.width}}×{{picture.height}}</b></p>
            <p ng-if="picture.dpi_x || picture.dpi_y">
                DPI: <b>{{picture.dpi_x}}×{{picture.dpi_y}}</b>
            </p>
            <p>{{'moder/picture/filesize:'|translate}} <b ng-bind="picture.filesize | filesize"></b></p>
            <p>{{'moder/picture/upload-date:'|translate}} <b am-time-ago="picture.add_date"></b></p>
        </div>
    </div>
</div>

<h3 translate>moder/picture/catalogue</h3>
<div class="well">
    <table class="table" ng-if="picture.items.length">
        <thead>
            <tr>
                <td>Item</td>
                <td translate>moder/picture/perspective</td>
                <td ng-if="picture.rights.crop">Area</td>
                <td ng-if="picture.rights.move">Move</td>
                <td ng-if="picture.rights.move"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in picture.items">
                <td>
                    <a ui-sref="moder-items-item({id: item.item_id})" ng-bind-html="item.item.name_html"></a>
                </td>
                <td>
                    <select class="form-control" ng-model="item.perspective_id" ng-change="savePerspective(item)" style="max-width:10em" ng-if="item.type == 1">
                        <option value="">--</option>
                        <option ng-repeat="perspective in perspectives" ng-value="perspective.id">
                            {{perspective.name | translate}}
                        </option>
                    </select>
                </td>
                <td ng-if="picture.rights.crop">
                    <a class="btn btn-default" ui-sref="moder-pictures-item-area({id: picture.id, item_id: item.item_id})" arial-label="Area" style="margin:0">
                        <i class="fa fa-crop"></i>
                        {{'moder/picture/catalogue/pick-item-area'|translate}}
                    </a>
                </td>
                <td ng-if="picture.rights.move">
                    <div class="btn-group" style="white-space:nowrap">
                        <a ui-sref="moder-pictures-item-move({id: picture.id, src_item_id: item.item_id, src_type: item.type})" class="btn btn-default">
                            <i class="fa fa-arrow-right"></i>
                            {{'moder/picture/catalogue/move-to'|translate}} ...
                        </a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="item.type == 1">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" ng-if="item.type == 1">
                            <li ng-if="last_item && !hasItem(last_item.id)">
                                <a href="" ng-click="moveItem(item.type, item.item_id, last_item.id)">
                                    <i class="fa fa-arrow-right"></i>
                                    {{'moder/picture/catalogue/move-to'|translate}}
                                    <span ng-bind-html="last_item.name_html"></span>
                                </a>
                            </li>
                            <li ng-repeat="brand in item.item.brands">
                                <a ui-sref="moder-pictures-item-move({id: picture.id, src_item_id: item.item_id, src_type: item.type, brand_id: brand.id})">
                                    <i class="fa fa-arrow-right"></i>
                                    {{'moder/picture/catalogue/move-to'|translate}}
                                    <span ng-bind-html="brand.name_html"></span> ...
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td ng-if="picture.rights.move">
                    <button class="btn btn-danger" ng-click="deletePictureItem(item)" aria-label="Delete" style="margin:0">
                        <span class="fa fa-times"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="picture.rights.move">
        <div ng-if="last_item && !hasItem(last_item.id)">
            <button class="btn btn-default" ng-click="addItem(last_item)">
                <i class="fa fa-plus"></i>
                {{'moder/picture/catalogue/add-to'|translate}}
                <span ng-bind-html="last_item.name_html"></span>
            </button>
        </div>
        <div>
            <a class="btn btn-success" ui-sref="moder-pictures-item-move({id: picture.id})">
                <i class="fa fa-plus"></i>
                {{'moder/picture/catalogue/add-to'|translate}} ...
            </a>
        </div>
    </div>
    
    <div class="progress" ng-show="pictureItemLoading">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 translate>moder/picture/settings</h3>
        <form class="well form-vertical">
            <div>
                <p class="text-danger">Achtung! High Voltage! Ты сюда не ходи!</p>
                <p class="text-danger">Поле использовать в ИСКЛЮЧИТЕЛЬНЫХ случаях. А лучше вообще никогда не использовать.</p>
            </div>
            
            <div class="form-group">
                <label translate>moder/picture/edit/special-name</label>
                <input type="text" class="form-control" maxlength="255" name="special_name" ng-model="picture.special_name" />
            </div>
            
            <div>
                <button class="btn btn-primary" ng-click="saveSpecialName()">{{'submit'|translate}}</button>
            </div>
            
            <div class="progress" ng-show="specialNameLoading">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </form>

        <h3 translate>moder/picture/copyrights</h3>
        <div class="well">
            <div btf-markdown="'moder/markdown/description'|translate"></div>
            <autowp-markdown-edit text="picture.copyrights"></autowp-markdown-edit>
            <button class="btn btn-primary" ng-click="saveCopyrights()" translate>submit</button>
            <p ng-if="picture.copyrights_text_id">
                <a ng-href="/info/text/id/{{picture.copyrights_text_id}}" translate>moder/markdown/history</a>
            </p>
            
            <div class="progress" ng-show="copyrightsLoading">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>

        <h3 ng-if="picture.iptc">IPTC</h3>
        <div class="well small" style="overflow:auto" ng-if="picture.iptc" ng-bind-html="picture.iptc"></div>

        <h3 ng-if="picture.exif">EXIF</h3>
        <div class="well small" style="overflow:auto" ng-if="picture.exif" ng-bind-html="picture.exif"></div>

    </div>

    <div class="col-md-6">

        <h3 translate ng-if="picture.replaceable">moder/picture/replacement</h3>
        <div class="well" ng-if="picture.replaceable"> 
            <div>
                <p>
                    {{'moder/picture/replacement/photo-suggested-to-replace'|translate}}
                    <a ng-href="{{picture.replaceable.url}}">{{picture.replaceable.url}}</a>
                </p>
                <button class="btn btn-success" ng-if="picture.rights.accept" ng-click="acceptReplace()">
                    <i class="fa fa-exchange"></i>
                    {{'moder/picture/replacement/accept-and-delete-double'|translate}}
                </button>
                <button class="btn btn-warning" ng-if="picture.rights.accept" ng-click="cancelReplace()">
                    <i class="fa fa-times"></i>
                    {{'moder/picture/replacement/cancel'|translate}}
                </button>
            </div>

            <div class="progress" ng-show="replaceLoading">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>


        <h3 translate>moder/picture/acceptance</h3>
        <div class="well">
            <autowp-user user="picture.change_status_user" ng-if="picture.change_status_user"></autowp-user>

            <div ng-if="picture.status == 'inbox'">
                <p><strong class="label label-warning" translate>moder/picture/acceptance/not-accepted</strong></p>
                
                <button class="btn btn-success" ng-click="acceptPicture()" ng-if="picture.rights.accept">
                    {{'moder/picture/acceptance/accept'|translate}}
                </button>
                <button class="btn btn-danger" ng-click="deletePicture()" ng-if="picture.rights.delete">
                    {{'moder/picture/acceptance/delete'|translate}}
                </button>
            </div>

            <div ng-show="picture.status == 'accepted'">
                <p><strong class="label label-success" translate>moder/picture/acceptance/accepted</strong></p>
                
                <button class="btn btn-warning" ng-click="unacceptPicture()" ng-if="picture.rights.unaccept">
                    {{'moder/picture/acceptance/unaccept'|translate}}
                </button>
            </div>

            <div ng-if="picture.status == 'removing'">
                <p><strong class="label label-danger" translate>moder/picture/acceptance/in-delete-queue</strong></p>

                <button class="btn btn-warning" ng-click="restorePicture()" ng-if="picture.rights.restore">
                    {{'moder/picture/acceptance/restore'|translate}}
                </button>
            </div>

            <div ng-if="picture.status == 'removed'">
                <p><strong class="label label-danger" translate>moder/picture/acceptance/removed</strong></p>
            </div>
            
            <autowp-picture-moder-vote picture="picture" change="pictureVoted"></autowp-picture-moder-vote>
            
            <p ng-if="picture.is_last">
                <span class="label label-warning" translate>moder/picture/acceptance/that-is-one-accepted-picture</span>
            </p>
            <p ng-if="!picture.is_last && (picture.accepted_count <= 4)">
                <span class="label label-warning" translate="ng/moder/picture/acceptance/accepted-pictures-is-n" translate-values="{count: picture.accepted_count}"></span>
            </p>
            
            <div class="progress" ng-show="statusLoading">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>

        <h3 translate ng-if="picture.rights.normalize || picture.rights.flop || picture.rights.crop">moder/picture/edit-and-repair</h3>
        <div class="well" ng-if="picture.rights.normalize || picture.rights.flop || picture.rights.crop">
            <div>
                <button class="btn btn-warning" ng-click="normalizePicture()" ng-if="picture.rights.normalize" ng-disabled="repairLoading">
                    <i class="fa fa-signal"></i>
                    {{'moder/picture/edit-and-repair/normalize'|translate}}
                </button>
                <button class="btn btn-warning" ng-click="flopPicture()" ng-if="picture.rights.flop" ng-disabled="repairLoading">
                    <i class="fa fa-arrows-h"></i>
                    {{'moder/picture/edit-and-repair/flop'|translate}}
                </button>
                <button class="btn btn-default" ui-sref="moder-pictures-item-crop({id: picture.id})" ng-if="picture.rights.crop" ng-disabled="repairLoading">
                    <i class="fa fa-crop"></i>
                    {{'moder/picture/edit-and-repair/crop'|translate}}
                </button>
            </div>

            <div>
                <button class="btn btn-default" ng-click="repairPicture()" ng-disabled="repairLoading">
                    <i class="fa fa-wrench"></i>
                    {{'moder/picture/edit-and-repair/repair-all-files'|translate}}
                </button>
                <button class="btn btn-default" ng-click="correctFileNames()" ng-disabled="repairLoading">
                    <i class="fa fa-wrench"></i>
                    {{'moder/picture/edit-and-repair/rebuild-files-names'|translate}}
                </button>
            </div>
            
            <div class="progress" ng-show="repairLoading">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
        
        <h3 ng-if="picture.similar">Similar picture</h3>
        <div class="well" ng-if="picture.similar">
            <p class="alert alert-warning" role="alert">
                <span class="fa fa-file-image-o"></span>
                <a ui-sref="moder-pictures-item({id: picture.similar.picture_id})">
                    Similar picture: {{picture.similar.distance}}
                </a>
            </p>
            <p>
                <a ui-sref="moder-pictures-item({id: picture.similar.picture_id})">
                    <img ng-if="picture.similar.picture.thumbnail" ng-src="{{picture.similar.picture.thumbnail.src}}" />
                </a>
            </p>
            <button ng-click="cancelSimilar()" class="btn btn-warning">That is not similar</button>

            <div class="progress" ng-show="similarLoading">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>

        <h3 translate>moder/picture/uploader</h3>
        <div class="well">
            <autowp-user user="picture.owner" ng-if="picture.owner"></autowp-user>
            <span ng-if="!picture.owner" translate>moder/picture/uploader/unknown</span>
            <div ng-if="picture.ip.address">
                {{'moder/picture/uploader/id-address:'|translate}}
                <b ng-bind="picture.ip.address"></b><br />
                <p ng-if="picture.ip.blacklist">
                    {{'ban/that-address-is-banned'|translate}}
                    <autowp-user user="picture.ip.blacklist.user" ng-if="picture.ip.blacklist.user"></autowp-user>
                    {{'ban/until'|translate}}
                    {{picture.ip.blacklist.up_to|date}}
                    <span ng-if="picture.ip.blacklist.reason" ng-bind="picture.ip.blacklist.reason"></span>
                </p>
                
                <button ng-if="picture.ip.blacklist && picture.ip.rights.remove_from_blacklist" class="btn btn-success" ng-click="removeFromBlacklist(picture.ip.address)">
                    {{'ban/unban'|translate}}
                </button>
               
                <form class="form-vertical" ng-if="!picture.ip.blacklist && picture.ip.rights.add_to_blacklist">
                    <div class="form-group">
                        <label translate>ban/period</label>
                        <select ng-model="ctrl.banPeriod" class="form-control" required>
                            <option ng-repeat="(value, name) in banPeriods" ng-value="{{value}}">
                                {{name|translate}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label translate>ban/reason</label>
                        <input maxlength="50" class="form-control" ng-model="ctrl.banReason" />
                    </div>
                    <button class="btn btn-danger" ng-click="addToBlacklist(picture.ip.address)">
                        {{'ban/ban'|translate}}
                    </button>
                </form>

<!-- 
                <?php if ($this->canBan) { ?>
                    <?=$this->partial('application/forms/bootstrap-horizontal', [
                        'form' => $this->banForm
                    ])?>
                <?php } ?>
 -->
            </div>
        </div>
    </div>
</div>