<form method="post" class="form-horizontal" ng-submit="ctrl.submit()"><fieldset>
    <div class="form-group row" ng-class="{'has-error':invalidParams.name}">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/name</label>
        <div class="col-md-10">
            <input type="text" name="name" ng-model="item.name" class="form-control" maxlength="{{ctrl.name_maxlength}}" />
            <p ng-repeat="message in invalidParams.name" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.full_name}" ng-if="item.item_type_id == 5">
        <label class="col-md-2 col-form-label" translate>moder/brands/meta-data/full-name</label>
        <div class="col-md-10">
            <input type="text" name="full_name" ng-model="item.full_name" class="form-control" maxlength="{{ctrl.full_name_maxlength}}" />
            <p ng-repeat="message in invalidParams.full_name" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.catname}" ng-if="item.item_type_id == 5 || item.item_type_id == 3">
        <label class="col-md-2 col-form-label">Catname</label>
        <div class="col-md-10">
            <input type="text" name="catname" ng-model="item.catname" class="form-control" />
            <p ng-repeat="message in invalidParams.catname" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.body}" ng-if="item.item_type_id == 1 || item.item_type_id == 2">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/body</label>
        <div class="col-md-10">
            <input type="text" name="body" ng-model="item.body" style="width: 30%" class="form-control" maxlength="{{ctrl.body_maxlength}}" />
            <p ng-repeat="message in invalidParams.body" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.spec_id}" ng-if="item.item_type_id == 1 || item.item_type_id == 2">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/spec</label>
        <div class="col-md-10">
            <select name="spec_id"
                ng-model="item.spec_id"
                style="width: 30%"
                class="form-control"
                ng-options="spec.id as '…'.repeat(spec.deep) + spec.short_name for spec in ctrl.getSpecOptions(ctrl.specOptions)">
            </select>
            <p ng-repeat="message in invalidParams.spec_id" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-if="item.item_type_id == 1 || item.item_type_id == 4">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/type</label>
        <div class="col-md-10">
            <tags-input ng-model="item.vehicle_type"
                placeholder="Add"
                replace-spaces-with-dashes="false"
                add-from-autocomplete-only="true"
                key-property="id"
                display-property="name"
                min-length="0"
                template="vehicle-type-tag-template">
                <auto-complete source="ctrl.loadVehicleTypes($query)"
                     min-length="0"
                     load-on-empty="true"
                     load-on-focus="true"
                     debounce-delay="0"
                     max-results-to-show="50"
                     template="vehicle-type-list-template"></auto-complete>
            </tags-input>
        </div>
        <script type="text/ng-template" id="vehicle-type-tag-template">
            <div>{{data.nameTranslated}} <a class="remove-button" ng-click="$removeTag()">&#10006;</a></div>
        </script>
        <script type="text/ng-template" id="vehicle-type-list-template">
            <div>{{'...'.repeat(data.deep)}}{{data.nameTranslated}}</div>
        </script>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.begin_model_year || invalidParams.end_model_year}" ng-if="item.item_type_id == 1 || item.item_type_id == 2">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/model-years</label>
        <div class="col-md-10">
            <fieldset class="form-inline">
                <input type="number" name="begin_model_year" ng-model="item.begin_model_year" placeholder="{{'moder/vehicle/year/from'|translate}}" style="width: 10%" min="1800" max="{{ctrl.model_year_max}}" class="form-control" maxlength="4" />
                <input type="number" name="end_model_year" ng-model="item.end_model_year" placeholder="{{'moder/vehicle/year/to'|translate}}" style="width: 10%" min="1800" max="{{ctrl.model_year_max}}" class="form-control" maxlength="4" />
            </fieldset>
            <p ng-repeat="message in invalidParams.begin_model_year" ng-bind="message" class="help-block"></p>
            <p ng-repeat="message in invalidParams.end_model_year" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.begin_year||invalidParams.begin_month}">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/begin</label>
        <div class="col-md-10">
            <fieldset class="form-inline">
                <input type="number" name="begin_year" ng-model="item.begin_year" placeholder="{{'moder/vehicle/year'|translate}}" style="width: 10%" min="1800" max="{{ctrl.year_max}}" class="form-control" maxlength="4" />
                <select name="begin_month"
                    ng-model="item.begin_month"
                    title="{{'moder/vehicle/month'|translate}}"
                    style="width: 20%"
                    class="form-control"
                    ng-options="month.value as month.name for month in ctrl.monthOptions">
                </select>
            </fieldset>
            <p ng-repeat="message in invalidParams.begin_year" ng-bind="message" class="help-block"></p>
            <p ng-repeat="message in invalidParams.begin_month" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.end_year||invalidParams.end_month||invalidParams.today}">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/end</label>
        <div class="col-md-10">
            <fieldset class="form-inline">
                <input type="number" name="end_year" ng-model="item.end_year" placeholder="{{'moder/vehicle/year'|translate}}" style="width: 10%" min="1800" max="{{ctrl.year_max}}" class="form-control" maxlength="4" />
                <select name="end_month"
                    ng-model="item.end_month"
                    title="{{'moder/vehicle/month'|translate}}"
                    style="width: 20%"
                    class="form-control"
                    ng-options="month.value as month.name for month in ctrl.monthOptions">
                </select>
                <select name="today"
                    ng-model="item.today"
                    style="width: 20%"
                    title="{{'moder/vehicle/today'|translate}}"
                    class="form-control"
                    ng-options="option.value as option.name|translate for option in ctrl.todayOptions">
                </select>
            </fieldset>
            <p ng-repeat="message in invalidParams.end_year" ng-bind="message" class="help-block"></p>
            <p ng-repeat="message in invalidParams.end_month" ng-bind="message" class="help-block"></p>
            <p ng-repeat="message in invalidParams.today" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.produced_count||invalidParams.produced_exactly}" ng-if="item.item_type_id == 1 || item.item_type_id == 2">
        <label class="col-md-2 col-form-label" translate>moder/item/produced</label>
        <div class="col-md-10">
            <fieldset class="form-inline">
                <input type="number" name="produced" ng-model="item.produced" style="width: 10%" min="0" max="100000000" class="form-control" title="{{'moder/item/produced/number'|translate}}" />
                <select name="produced_exactly"
                    ng-model="item.produced_exactly"
                    style="width: 20%"
                    class="form-control"
                    ng-options="option.value as option.name|translate for option in ctrl.producedOptions">
                </select>
            </fieldset>
            <p ng-repeat="message in invalidParams.produced_count" ng-bind="message" class="help-block"></p>
            <p ng-repeat="message in invalidParams.produced_exactly" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error':invalidParams.is_concept}" ng-if="item.item_type_id == 1 || item.item_type_id == 2">
        <label class="col-md-2 col-form-label" translate>moder/vehicle/concept</label>
        <div class="col-md-10">
            <select name="is_concept"
                ng-model="item.is_concept"
                style="width: 20%"
                class="form-control"
                ng-options="option.value as option.name|translate for option in ctrl.getIsConceptOptions(parent)">
            </select>
            <p ng-repeat="message in invalidParams.is_concept" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group row" ng-if="item.item_type_id == 1 || item.item_type_id == 2">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="is_group" value="1" ng-model="item.is_group" ng-disabled="item.childs_count > 0 || disableIsGroup" />
                    {{'moder/vehicle/group'|translate}}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row" ng-if="item.item_type_id == 6 || item.item_type_id == 7">
        <label class="col-md-2 col-form-label">Point</label>
        <div class="col-md-10">
            <fieldset class="form-inline">
                <input type="text" name="lat" ng-model="item.lat" maxlength="20" size="20" style="width: 20%" placeholder="{{'latitude'|translate}}" class="form-control" ng-change="ctrl.coordsChanged()" />
                <input type="text" name="lng" ng-model="item.lng" maxlength="20" size="20" style="width: 20%" placeholder="{{'longtitude'|translate}}" class="form-control" ng-change="ctrl.coordsChanged()" />
            </fieldset>
            <leaflet lf-center="ctrl.center" tiles="ctrl.tiles" markers="ctrl.markers" defaults="defaults" width="100%" height="300px"></leaflet>
        </div>
    </div>

    <div class="row" ng-if="!hideSubmit">
        <div class="col-md-10 offset-md-2">
            <button type="submit" name="submit" class="btn btn-primary" translate>submit</button>
        </div>
    </div>
</fieldset></form>
