<div class="row mb-4">
  <div class="col-lg-4 col-md-4">
    <h3 class="text-left" *ngIf="prev && prev.date">
      &#x2190;
      <a [routerLink]="['/new', prev.date]" [textContent]="prev.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(
        <span translate [translateParams]="{count: prev.count}">ng/%1$s-pictures</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-center" *ngIf="current">
      <span [textContent]="current.date | amDateFormat: 'LL'"></span>
      <br />
      <small>(
        <span translate [translateParams]="{count: current.count}">ng/%1$s-pictures</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-right" *ngIf="next && next.date">
      <a [routerLink]="['/new', next.date]" [textContent]="next.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(
        <span translate [translateParams]="{count: next.count}">ng/%1$s-pictures</span>)</small>
      &#x2192;
    </h3>
  </div>
</div>

<div *ngFor="let group of groups">
  <div *ngIf="group.type == 'item'">
    <app-new-list-item [item]="group.item" [pictures]="group.pictures" [totalPictures]="group.total_pictures" [date]="date"></app-new-list-item>
  </div>
  <div *ngIf="group.type != 'item'">
    <div class="row" *ngFor="let chunk of group.chunks">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let picture of chunk">
        <app-thumbnail [picture]="picture"></app-thumbnail>
      </div>
    </div>
  </div>
</div>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
