<div ng-if="!ctrl.brandId">
    <div style="margin-bottom:20px">
        <input type="text" ng-model="ctrl.search" ng-change="ctrl.loadBrands()" class="form-control" placeholder="Type to search ..." auto-focus />
    </div>
    <span ng-show="ctrl.loading > 0">
        <i class="fa fa-spinner fa-spin fa-fw fa-4x"></i>
    </span>
    <div class="row">
        <div class="col-md-2" ng-repeat="chunk in ctrl.brands">
            <a ng-repeat-start="brand in chunk" ui-sref="cars-select-engine({brand_id: brand.id})" ng-bind="brand.name_only"></a>
            <br ng-repeat-end />
        </div>
    </div>
    
    <autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
</div>
<div ng-if="ctrl.brandId">
    <div ng-repeat="item in ctrl.items">
         <autowp-cars-select-engine-tree-item item="item" select-engine="ctrl.selectEngine" load-childs="ctrl.loadChildCatalogues">
         </autowp-cars-select-engine-tree-item>
     </div>
</div>