<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/donate" i18n>Donate</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Donate log</h1>
</div>

@if (items$ | async; as items) {
  <table class="table" aria-describedby="header">
    <thead>
      <tr>
        <th i18n>Date</th>
        <th i18n>Donor</th>
        <th i18n>Sum</th>
        <th i18n>Purpose</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items; track item) {
        <tr>
          <td>
            @if (item.date) {
              <span [ngbTooltip]="item.date | date: 'medium'">{{ item.date | timeAgo }}</span>
            }
          </td>
          <td>
            @if (item.user$ | async; as user) {
              <app-user [user]="user" />
            }
          </td>
          <td>{{ item.sum | currency: item.currency }}</td>
          <td>{{ item.purpose }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
