<div class="row">
  <div class="col-md-4">
    <h2 translate>moder/comments/filter</h2>
    <form class="card card-body form-vertical">
      <div class="form-group">
        <ng-template #userTemplate let-model="result">
          <span [innerHTML]="model.name"></span>
        </ng-template>
        <div class="input-group">
          <input [ngbTypeahead]="usersDataSource" name="user" [(ngModel)]="userQuery" [inputFormatter]="userFormatter" (selectItem)="userOnSelect($event)"
            [resultTemplate]="userTemplate" [placeholder]="'moder/comments/filter/user-id'|translate" class="form-control"
            [class.border-primary]="userID">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" [disabled]="!userID" (click)="clearUser()">
              <span class="fa fa-close"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label translate>moder/comments/filter/moderator_attention</label>
        <select name="moderator_attention" class="form-control" [(ngModel)]="moderatorAttention" (change)="setModeratorAttention()"
          [class.border-primary]="moderatorAttention !== null">
          <option [ngValue]="null">{{'moder/comments/filter/moderator_attention/not-matters'|translate}}</option>
          <option [ngValue]="0">{{'moder/comments/filter/moderator_attention/not-required'|translate}}</option>
          <option [ngValue]="1">{{'moder/comments/filter/moderator_attention/required'|translate}}</option>
          <option [ngValue]="2">{{'moder/comments/filter/moderator_attention/resolved'|translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <ng-template #itemTemplate let-model="result">
          <span [innerHTML]="model.name_html"></span>
        </ng-template>
        <div class="input-group">
          <input [ngbTypeahead]="itemsDataSource" name="item" [(ngModel)]="itemQuery" [inputFormatter]="itemFormatter" (selectItem)="itemOnSelect($event)"
            [resultTemplate]="itemTemplate" [placeholder]="'moder/comments/filter/vehicle-id'|translate" class="form-control"
            [class.border-primary]="itemID">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" [disabled]="!itemID" (click)="clearItem()">
              <span class="fa fa-close"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <h2>
      {{'moder/comments/title'|translate}}
      <span [hidden]="loading <= 0">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </span>
      <small *ngIf="paginator && paginator.totalItemCount" translate [translateParams]="{count: paginator.totalItemCount}">ng/%1$s-comments</small>
    </h2>

    <ul class="comments">
      <li *ngFor="let comment of comments" ngPreserveWhitespaces>
        <span class="badge badge-warning" *ngIf="comment.is_new" translate>moder/comments/not-readed</span>
        <span class="badge badge-{{comment.status.class}}" *ngIf="comment.status">{{comment.status.name|translate}}</span>
        <a [href]="comment.url" [textContent]="comment.preview"></a>
        <app-user [user]="comment.user"></app-user>
      </li>
    </ul>
    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
  </div>
</div>
