<table class="table table-striped">
    <thead>
        <tr>
            <th translate>forums/theme/topics</th>
            <th translate>forums/theme/author</th>
            <th translate>forums/theme/last-message</th>
            <th translate>forums/theme/subscription</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="topic in ctrl.topics">
            <td>
                <span class="fa fa-lock" ng-if="topic.status == 'closed'"></span>
                <a ui-sref="forums-topic({topic_id: topic.id})" ng-bind="topic.name" ng-if="topic.status != 'deleted'"></a>
                <span ng-bind="topic.name" ng-if="topic.status == 'deleted'"></span>
                <span class="badge">
                    {{topic.old_messages + (topic.new_messages > 0 ? '+' + topic.new_messages : '')}}
                </span>
            </td>
            <td>
                <autowp-past-time-indicator date="topic.add_datetime"></autowp-past-time-indicator>
                <br />
                <autowp-user user="topic.author" ng-if="topic.author"></autowp-user>
            </td>
            <td>
                <div ng-if="topic.last_message">
                    <small ng-if-start="topic.last_message.datetime">
                        <autowp-past-time-indicator date="topic.last_message.datetime"></autowp-past-time-indicator>
                    </small>
                    <br ng-if-end />
                    <autowp-user user="topic.last_message.user" ng-if="topic.last_message.user"></autowp-user>
                    <a ui-sref="forums-message({nessage_id: topic.last_message.id})" translate-attr="{title: 'forums/go-to-last-message'}"><i class="fa fa-share"></i></a>
                </div>
                <span ng-if="!topic.last_message">&#x2014;</span>
            </td>
            <td>
                <button class="btn btn-xs btn-warning" ng-click="ctrl.unsubscribe(topic)">
                    <translate>forums/unsubscribe</translate>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>