<div class="nav nav-pills" style="margin-bottom: 30px" *ngIf="!srcItemID">
  <a [class.active]="!show_factories && !show_museums && !show_persons && !show_authors" *ngIf="!srcType || srcType == 1" class="nav-link"
    routerLink="." [queryParams]="{show_factories: null, show_museums: null, show_persons: null, show_authors: null}" queryParamsHandling="merge"
    translate>moder/pciture/move/brands</a>
  <a [class.active]="show_factories" *ngIf="!srcType || srcType == 1" class="nav-link" routerLink="." [queryParams]="{show_factories: 1, show_museums: null, show_persons: null, show_authors: null}"
    queryParamsHandling="merge" translate>moder/pciture/move/factories</a>
  <a [class.active]="show_museums" *ngIf="!srcType || srcType == 1" class="nav-link" routerLink="." [queryParams]="{show_factories: null, show_museums: 1, show_persons: null, show_authors: null}"
    queryParamsHandling="merge" translate>item/type/7/name-plural</a>
  <a [class.active]="show_persons" *ngIf="!srcType || srcType == 1" class="nav-link" routerLink="." [queryParams]="{show_factories: null, show_museums: null, show_persons: 1, show_authors: null}"
    queryParamsHandling="merge">{{'item/type/8/name-plural'|translate}} (content)</a>
  <a [class.active]="show_authors" *ngIf="!srcType || srcType == 2" class="nav-link" routerLink="." [queryParams]="{show_factories: null, show_museums: null, show_persons: null, show_authors: 1}"
    queryParamsHandling="merge">{{'item/type/8/name-plural'|translate}} (author)</a>
</div>

<div *ngIf="show_museums && !srcItemID && (!srcType || srcType == 1)">
  <div class="card card-body">
    <ng-container *ngFor="let item of museums">
      <a href="#" (click)="selectItem({itemId: item.id, perspectiveId: 0, type: 1})" [innerHTML]="item.name_html"></a>
      <br />
    </ng-container>
  </div>

  <app-paginator [data]="museums_paginator" *ngIf="museums_paginator"></app-paginator>
</div>

<div *ngIf="show_factories && !srcItemID && (!srcType || srcType == 1)">

  <div class="card card-body">
    <ng-container *ngFor="let item of factories">
      <a href="#" (click)="selectItem({itemId: item.id, perspectiveId: 0, type: 1})" [innerHTML]="item.name_html"></a>
      <br />
    </ng-container>
  </div>

  <app-paginator [data]="factories_paginator" *ngIf="factories_paginator"></app-paginator>
</div>

<div *ngIf="show_persons && !srcItemID && (!srcType || srcType == 1)">

  <div class="card card-body">
    <div style="margin-bottom:20px">
      <input type="text" [(ngModel)]="searchPerson" (input)="doSearchPerson()" class="form-control" placeholder="Type to search ..."
        auto-focus />
    </div>
    <ng-container *ngFor="let item of persons">
      <a href="#" (click)="selectItem({itemId: item.id, perspectiveId: 0, type: 1})" [innerHTML]="item.name_html"></a>
      <br />
    </ng-container>
  </div>

  <app-paginator [data]="persons_paginator" *ngIf="persons_paginator"></app-paginator>
</div>

<div *ngIf="show_authors && !srcItemID && (!srcType || srcType == 2)">

  <div class="card card-body">
    <div style="margin-bottom:20px">
      <input type="text" [(ngModel)]="searchAuthor" (input)="doSearchAuthor()" class="form-control" placeholder="Type to search ..."
        auto-focus />
    </div>
    <ng-container *ngFor="let item of authors">
      <a href="#" (click)="selectItem({itemId: item.id, perspectiveId: 0, type: 2})" [innerHTML]="item.name_html"></a>
      <br />
    </ng-container>
  </div>

  <app-paginator [data]="authors_paginator" *ngIf="authors_paginator"></app-paginator>
</div>


<div *ngIf="!show_factories && !show_museums && !show_persons && !show_authors && (!srcType || srcType == 1)">
  <div *ngIf="!brand_id">

    <div class="card card-body">
      <div style="margin-bottom:20px">
        <input type="text" [(ngModel)]="searchBrand" (input)="doSearchBrand()" class="form-control" placeholder="Type to search ..."
          auto-focus />
      </div>
      <div class="row">
        <div *ngFor="let chunk of brands" class="col-2">
          <ng-container *ngFor="let item of chunk">
            <a [routerLink]="[]" [queryParams]="{page: null, brand_id: item.id}" queryParamsHandling="merge" [innerHTML]="item.name_html"></a>
            <br />
          </ng-container>
        </div>
      </div>
    </div>

    <app-paginator [data]="brands_paginator" *ngIf="brands_paginator"></app-paginator>
  </div>
  <div *ngIf="brand_id">
    <div class="select-in-brand">

      <div style="margin: 5px 0" *ngIf="vehicles">
        <app-moder-picture-move-item [item]="item" (selected)="selectItem($event)" *ngFor="let item of vehicles"></app-moder-picture-move-item>
      </div>

      <h5 translate *ngIf="engines">item/type/2/name-plural</h5>
      <div style="margin: 5px 0" *ngIf="engines">
        <app-moder-picture-move-item [item]="item" (selected)="selectItem($event)" *ngFor="let item of engines"></app-moder-picture-move-item>
      </div>

      <div style="margin: 5px 0" *ngIf="concepts.length > 0">
        <a href="" class="arrow" (click)="toggleConcepts()">
          <i class="fa fa-plus-circle" [hidden]="concepts_expanded"></i>
          <i class="fa fa-minus-circle" [hidden]="!concepts_expanded"></i>
          {{'upload/select/concepts'|translate}}
        </a>
        <div style="margin:0 0 4px 18px" [hidden]="!concepts_expanded">
          <app-moder-picture-move-item [item]="item" (selected)="selectItem($event)" *ngFor="let item of concepts"></app-moder-picture-move-item>
        </div>
      </div>

      <div style="margin: 5px 0" *ngIf="!srcItemID">
        <a href="" (click)="selectItem({itemId: brand_id, perspectiveId: 22, type: 1})" translate>upload/select/logo</a>
        <br />
        <a href="" (click)="selectItem({itemId: brand_id, perspectiveId: 25, type: 1})" translate>upload/select/mixed-long</a>
        <br />
        <a href="" (click)="selectItem({itemId: brand_id, perspectiveId: 0, type: 1})" translate>upload/select/unsorted-long</a>
        <br />
      </div>

    </div>
  </div>
</div>
