body {
    padding-top: 60px;
}

@media (min-width: 768px) and (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

.page-header, legend {
    border-bottom-color: #FFF;
}

.label {
    font-weight: inherit;
}

.page-header-small {
    border-bottom: 1px solid #FFF;
    margin: 18px 0;
    padding-bottom: 8px;
    
    h3 {
        line-height: 1;
    }
}

/*.dropdown-menu a:visited {
    color: #333;
}*/

.btn-default,
.btn-primary, 
.btn-warning, 
.btn-danger, 
.btn-success, 
.btn-info {
    &:visited {
        color: #fff;
    }
}

.thumbnail > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

a {
    &:visited { 
        color: #574CAD;
    }
    
    &:hover, &:active {
        .badge {
            text-decoration: none;
        }
    }
}

#google-map img, .jcrop-holder img, img#picture-to-crop {
    max-width: none;
}

dl.picture-behaviour {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    
    .badge, .label {
        font-size: 12px;
    }
    
    dd {
        margin: 0 0 0 3px;
        padding: 0;
        text-align: right;
    }
    
    dt {
        margin: 0;
        padding: 0;
        clear: both;
        float: left;
        font-weight: normal;
    }
    
    .new-comments {
        color: #CC0000;
    }
}

ul.pictures2 .picture-preview .moder-votes {
    margin: 5px 3px 0;
}

.picture-preview {
    .thumbnail {
        margin-bottom: 20px;
        .caption {
            padding: 2px 0 0;
        }
    }
}

.message {
    margin-bottom: 20px;
    .text { 
        background: white;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        .box-shadow(0 1px 1px rgba(0, 0, 0, 0.075));
        padding: 10px;
        min-height: 100px;
    }
}

.thumbnail { background: white }

.avatar, .max-width { max-width: 100% }

.popover-handler { cursor: help }

#moderatorMenuContainer {
    position: fixed;
    right: 0;
    bottom: 0;
}


.copyrights {
    background-color: #d1cab8;
    padding: 10px;
    border-radius: 3px;
    .box-shadow(0 0 2px #333);
    font-size: 11px;
    line-height: 16px;
}

img.avatar {
    border: 1px black solid;
}

.brand-hero-unit {
    background-color: #f5f5f5;
    .logo {
        float: left;
        margin: -30px 20px 20px -30px;
    }
}

.hero-unit {
    background-color: #f5f5f5;
}

.login-page {
    .nav { margin-bottom: 0; }
}

.thumbnails .thumbnail {
    margin-bottom: 20px;
}

.well {
    background-color: white;
    border: none;
    .box-shadow(0 1px 1px rgba(0, 0, 0, 0.075));
    
    &.transparent {
        background-color: transparent;
        .box-shadow(none);
        border-radius: 0;
    }
}

.thumbnail-inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.inline-picture-details {
    position: absolute;
    background-color: white;
    margin: 0;
    width: 160px;
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    .box-shadow(0 1px 1px rgba(0, 0, 0, 0.075));
}

.nav-tree .nav .nav {
    padding-left: 15px;
}

.checkbox-tree {
    li {
        list-style-type: none;
        
        > .checkbox-tree {
            display: none;
        }
        
        > .glyphicon-plus-sign {
            display: inline-block;
            cursor: pointer;
        }
        
        > .glyphicon-minus-sign {
            display: none;
            cursor: pointer;
        }
        
        .radio.inline, 
        .checkbox.inline {
            padding-top: 0px;
        }
        
        input[type="radio"], 
        input[type="checkbox"] {
            margin-top: 2px;
        }
        
        &.active {
            > .glyphicon-plus-sign {
                display: none;
            }
        
            > .glyphicon-minus-sign {
                display: inline-block;
            }
            
            > .checkbox-tree {
                display: block;
            }
        }
    }
}

.bottom-line { 
    border-top: 1px solid #D1CAB8; 
    margin: 20px 0;
    
    p {
        text-align: center;
        margin-top: -0.7em;
        
        strong { background-color: #EDE9DE; padding: 0 50px; }
    }
}

.titlebar {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 3px 0;
}

sup.designBrand {
    padding: 1px 2px;
    background-color: white;
    font-weight: normal;
} 

/** ex picture.css **/
#picture_voting_bar {
    background-image: url(/img/stars.gif);
    background-repeat: repeat-x;
    background-position: 0 0;
    height: 25px;
    width: 250px;
    cursor: pointer;
    margin: 0 auto 10px;
}

#voting_bar_positive {
    background-image: url(/img/stars.gif);
    background-repeat: repeat-x;
    background-position: 0 -25px;
    height: 25px;
    width: 0px;
    cursor: pointer;
    margin: 0 auto 0 0;
}

#voting_bar_vote {
    background-image: url(/img/stars.gif);
    background-repeat: repeat-x;
    background-position: 0 -50px;
    height: 25px;
    width: 0px;
    cursor: pointer;
    display: none;
    margin: 0 auto 0 0;
}

.voted { 
    #voting_bar_positive, #voting_bar_vote, &#picture_voting_bar {
        cursor: default;
       }
}

span.count {
    font-size: 11px;
    color: #666666;
    white-space: nowrap;
    
    span, a {
        font-size: 11px;
        color: #CC0000;
        text-decoration: none;
    }
    
    .popover {
        font-size: 13px;
        color: #333;
    }
}

.brands-switch.nav-tabs > .active {
    > a, > a:hover, > a:focus {
        background: #fff;
    }
}

.user {
    a {
        font-weight: bold;
        color: #3333CC;
    }
    
    &.green-man a {
        color: #339933;
    }
    
    &.long-away a {
        color: #999;
    }
}

.brand-icons {
    margin-bottom: 20px;
}