<app-markdown [markdown]="'donate/vod/text'|translate"></app-markdown>

<h1 translate>donate/vod/select-date</h1>
<div class="card card-body mb-4">
  <ul>
    <li *ngFor="let date of dates">
      <span *ngIf="date.free">
        <span *ngIf="date.value == selectedDate">
          <strong [textContent]="date.name"></strong>
          <span class="fa fa-check"></span>
        </span>
        <span *ngIf="date.value != selectedDate">
          <a routerLink="." [queryParams]="{date: date.value}" queryParamsHandling="merge" [textContent]="date.name"></a>
        </span>
      </span>

      <span *ngIf="!date.free">
        <span class="muted" [textContent]="date.name"></span>
        ({{'donate/vod/date-busy'|translate}})
      </span>
    </li>
  </ul>
</div>

<h1 translate>donate/vod/select-item</h1>
<div class="card card-body mb-4">

  <app-markdown [markdown]="'donate/vod/select-item-text'|translate"></app-markdown>

  <p *ngIf="selectedItem">
    {{'donate/vod/select-item/selection:'|translate}}
    <strong [innerHTML]="selectedItem.name_html"></strong>
  </p>

  <a routerLink="/donate/vod/select" [queryParams]="{date: selectedDate, anonymous: anonymous ? 1 : null}" class="btn btn-primary btn-lg"
    translate>donate/vod/select-item/select</a>
</div>

<h1 translate>donate/vod/preview</h1>

<div class="card card-body mb-4">
  <div class="btn-group">
    <a routerLink="." [queryParams]="{anonymous: '1'}" queryParamsHandling="merge" class="btn btn-secondary" [class.active]="anonymous"
      translate>donate/vod/anonymous</a>
    <a routerLink="." [queryParams]="{anonymous: null}" queryParamsHandling="merge" class="btn btn-secondary" [class.active]="!anonymous"
      [class.disabled]="!userID" translate>donate/vod/with-name</a>
  </div>
</div>

<app-item-of-day *ngIf="selectedItem" [item]="selectedItem" [user]="anonymous ? null : user"></app-item-of-day>

<h1 translate>donate/vod/make-donation</h1>

<form ngNoForm method="post" action="https://money.yandex.ru/quickpay/confirm.xml" (ngSubmit)="submit($event)" class="card card-body mb-4">
  <div *ngIf="selectedDate && selectedItem">
    <input type="hidden" *ngFor="let param of formParams" [name]="param.name" [value]="param.value" />
    <div class="form-group">
      <textarea name="comment" [placeholder]="'donate/vod/message'|translate" class="form-control" maxlength="200"></textarea>
    </div>
  </div>
  <p>
    {{'donate/vod/price:'|translate}}
    <strong>{{sum}}{{'donate/vod/price/currency'|translate}}</strong>
    (
    <span translate [translateParams]="{price: '$'+(sum / 59.70).toFixed(2)}">donate/vod/price-aroud</span>)
  </p>
  <div *ngIf="selectedDate && selectedItem">
    <div class="form-group">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="paymentType" [(ngModel)]="paymentType">
        <label class="btn btn-secondary" ngbButtonLabel>
          <input type="radio" ngbButton name="paymentType" value="AC" autocomplete="off">
          <span class="fa fa-credit-card"></span>
          {{'donate/vod/method/credit-card'|translate}}
        </label>
        <label class="btn btn-secondary" ngbButtonLabel>
          <input type="radio" ngbButton name="paymentType" value="MC" autocomplete="off">
          <span class="fa fa-mobile"></span>
          {{'donate/vod/method/mobile'|translate}}
        </label>
        <label class="btn btn-secondary" ngbButtonLabel>
          <input type="radio" ngbButton name="paymentType" value="PC" autocomplete="off"> {{'donate/vod/method/yandex.money'|translate}}
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" translate>donate/vod/send</button>
  </div>
  <div *ngIf="!selectedDate || !selectedItem">
    <button class="btn btn-secondary" disabled>
      <span class="fa fa-credit-card"></span>
      {{'donate/vod/method/credit-card'|translate}}
    </button>
    <button class="btn btn-secondary" disabled>
      <span class="fa fa-mobile"></span>
      {{'donate/vod/method/mobile'|translate}}
    </button>
    <button class="btn btn-secondary" disabled translate>donate/vod/method/yandex.money</button>
  </div>
</form>
