<p class="float-right" *ngIf="user && user.specs_weight !== null">
  {{'account/specs/weight'|translate}}: {{user.specs_weight.toFixed(2)}}
</p>

<div class="nav nav-pills" style="margin-bottom:10px">
  <a class="nav-link" [class.active]="filter == '0'" routerLink="." [queryParams]="{filter: 0}" queryParamsHandling="merge"
    translate>account/specs/conflicts/filter/all</a>
  <a class="nav-link" [class.active]="filter == '-1'" routerLink="." [queryParams]="{filter: -1}" queryParamsHandling="merge"
    translate>account/specs/conflicts/filter/i-disagree</a>
  <a class="nav-link" [class.active]="filter == '1'" routerLink="." [queryParams]="{filter: 1}" queryParamsHandling="merge"
    translate>account/specs/conflicts/filter/do-not-agree-with-me</a>
  <a class="nav-link" [class.active]="filter == 'minus-weight'" routerLink="." [queryParams]="{filter: 'minus-weight'}" queryParamsHandling="merge"
    translate>account/specs/conflicts/filter/errors</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th translate>account/specs/conflicts/title/object</th>
      <th translate>account/specs/conflicts/title/parameter</th>
      <th translate>account/specs/conflicts/title/my-value</th>
      <th translate>account/specs/conflicts/title/other-values</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conflict of conflicts">
      <td [textContent]="conflict.object"></td>
      <td [textContent]="conflict.attribute"></td>
      <td>
        <ng-container *ngFor="let value of conflict.values">
          <div *ngIf="value.user_id == user.id">
            <em *ngIf="value.value === null" translate>account/specs/conflicts/my-value/none</em>
            <span *ngIf="value.value !== null">
              {{value.value}}
              <span *ngIf="conflict.unit">{{conflict.unit.abbr | translate}}</span>
            </span>
            <a [href]="conflict.url">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let value of conflict.values">
          <div *ngIf="value.user_id != user.id">
            <em *ngIf="value.value === null" translate>account/specs/conflicts/my-value/none</em>
            <span *ngIf="value.value !== null">
              {{value.value}}
              <span *ngIf="conflict.unit">{{conflict.unit.abbr | translate}}</span>
            </span>
            <app-user [user]="value.user" *ngIf="value.user"></app-user>
          </div>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
