<div class="row">
  <div class="col-lg-8 mb-4 order-2">
    <h2 translate>account/access/change-password</h2>
    <div class="card card-body mb-4">
      <form class="form-horizontal" (submit)="submit()">
        <fieldset>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="password_old" translate>account/access/change-password/current</label>
            <div class="col-md-10">
              <input type="password" size="50" maxlength="50" name="password_old" class="form-control" [(ngModel)]="form.password_old"
                [class.is-invalid]="invalidParams && invalidParams.password_old">
              <p *ngFor="let message of invalidParams | invalidParams : 'password_old'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="password" translate>account/access/change-password/new</label>
            <div class="col-md-10">
              <input type="password" size="50" maxlength="50" name="password" class="form-control" [(ngModel)]="form.password" [class.is-invalid]="invalidParams && invalidParams.password">
              <p *ngFor="let message of invalidParams | invalidParams : 'password'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="password_confirm" translate>account/access/change-password/new-confirm</label>
            <div class="col-md-10">
              <input type="password" size="50" maxlength="50" name="password_confirm" class="form-control" [(ngModel)]="form.password_confirm"
                [class.is-invalid]="invalidParams && invalidParams.password_confirm">
              <p *ngFor="let message of invalidParams | invalidParams : 'password_confirm'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-2">
              <button type="submit" class="btn btn-primary" translate>send</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <p>
      <a routerLink="/account/delete" class="btn btn-danger btn-lg">
        <i class="fa fa-times"></i>
        {{'account/access/self-delete'|translate}}
      </a>
    </p>
  </div>
  <div class="col-lg-4 mb-4 order-1">
    <app-account-sidebar></app-account-sidebar>
  </div>
</div>
