/cmd/goautowp/debug
/goautowp
/THIRD_PARTY_LICENSES.txt
/build/package/goautowp
/build/package/migrations
/vendor
/images/*
/.idea
/minio
cov.out
coverage.xml
/app
im7/*
/spec.pb.go
/spec.pb.gw.go
/spec_grpc.pb.go
