<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/donate" i18n>Donate</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/donate/vod" i18n>Theme of the day</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Donate success</h1>
</div>

<app-markdown
  i18n-markdown
  markdown="When the information about your donation comes to us your choice will be carried out.

Thank you for your support.

We will try not to disappoint you."
/>
