<ul class="nav nav-pills">
    <li>
        <a ui-sref="moder-traffic">Traffic</a>
    </li>
    <li class="active">
        <a ui-sref="moder-traffic-whitelist">Whitelist</a>
    </li>
</ul>
<table class="table table-striped table-condensed">
    <tbody>
        <tr ng-repeat="item in ctrl.items">
            <td ng-bind="item.ip"></td>
            <td ng-bind="item.hostname"></td>
            <td ng-bind="item.description"></td>
            <td><a ng-href="http://nic.ru/whois/?query={{item.whois_url}}">whois</a></td>
            <td>
                <button class="btn btn-danger" ng-click="ctrl.deleteItem(item)" style="margin:0" aria-label="Delete">
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>