<form class="spec-editor-form" (submit)="saveSpecs()">
  <p class="alert alert-danger">
    <!--  TODO: *ngIf="form.getMessages()" -->
    <i class="fa fa-exclamation-triangle"></i>
    {{'specifications-editor/not-save'|translate}}
  </p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th translate>specifications-editor/parameter</th>
        <th translate>specifications-editor/your-value</th>
        <th translate>specifications-editor/actual-value</th>
        <th translate>specifications-editor/all-values</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attribute of attributes" [class.subform-header]="!!attribute.childs.length">
        <!-- [class.has-error]="$element.getMessages()" -->
        <td colspan="4" [ngStyle]="{'padding-left': (attribute.deep * 20) + 'px'}" *ngIf="attribute.childs.length">
          <h4 [textContent]="attribute.name | translate"></h4>
        </td>
        <td *ngIf="!attribute.childs.length">
          <label [ngStyle]="{'padding-left': (attribute.deep * 20) + 'px'}" [textContent]="attribute.name | translate"></label>
        </td>
        <td *ngIf="!attribute.childs.length">
          <div class="input-group" *ngIf="currentUserValues[attribute.id]">
            <!--  [class.has-error]="element.getMessages()" -->
            <div class="input-group-prepend">
              <button type="button" class="btn btn-secondary" (click)="currentUserValues[attribute.id].empty = !currentUserValues[attribute.id].empty"
                [class.active]="attribute.disabled">
                <span class="fa fa-remove"></span>
              </button>
            </div>
            <select class="form-control input-sm" *ngIf="attribute.type_id == 5" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [disabled]="currentUserValues[attribute.id].empty">
              <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
            </select>
            <select class="form-control input-sm" *ngIf="(attribute.type_id == 6 || attribute.type_id == 7) && !attribute.is_multiple"
              [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value" [disabled]="currentUserValues[attribute.id].empty">
              <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
            </select>
            <select class="form-control input-sm" *ngIf="(attribute.type_id == 6 || attribute.type_id == 7) && attribute.is_multiple"
              [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value" [disabled]="currentUserValues[attribute.id].empty"
              multiple>
              <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
            </select>
            <input type="number" *ngIf="attribute.type_id == 2" class="form-control input-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [disabled]="currentUserValues[attribute.id].empty" min="-2147483649" max="2147483648" />
            <input type="number" *ngIf="attribute.type_id == 3" class="form-control input-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [step]="getStep(attribute)" min="-2147483649" max="2147483648" [disabled]="currentUserValues[attribute.id].empty"
            />
            <input type="text" *ngIf="attribute.type_id == 1" class="form-control input-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [disabled]="currentUserValues[attribute.id].empty" />
            <div class="input-group-append" *ngIf="attribute.unit">
              <span [title]="attribute.unit.name|translate" class="unit input-group-text" [textContent]="attribute.unit.abbr|translate"></span>
            </div>
          </div>
          <!--TODO: p class="help-block" *ngFor="let error of $element.getMessages()" [textContent]="error"></p-->
          <small *ngIf="attribute.description" [textContent]="attribute.description|translate"></small>
        </td>
        <td class="actual" *ngIf="!attribute.childs.length">
          <div *ngIf="values.has(attribute.id)">
            <em translate *ngIf="values.get(attribute.id)['value'] === null">account/specs/conflicts/my-value/none</em>
            <span *ngIf="values.get(attribute.id)['value'] !== null">
              {{values.get(attribute.id)['value_text']}}
              <span *ngIf="attribute.unit" class="unit" title="attribute.unit.name|translate" [textContent]="attribute.unit.abbr|translate"></span>
            </span>
          </div>
        </td>
        <td *ngIf="!attribute.childs.length">
          <div *ngFor="let value of userValues.get(attribute.id)">
            <em translate *ngIf="value.value_text === null">account/specs/conflicts/my-value/none</em>
            <span *ngIf="value.value_text !== null" [textContent]="value.value_text"></span>
            <app-user [user]="value.user" *ngIf="value.user"></app-user>
            <span class="date" *ngIf="value.update_date">[
              <span [textContent]="value.update_date | amTimeAgo"></span>]</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="btn btn-success" translate>specifications-editor/save</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
