<form method="post" class="form-horizontal" ng-if="user" ng-submit="ctrl.submit()"><fieldset>
    <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.name}">
        <label class="col-md-2 control-label" for="name" translate>forums/topic/name</label>
        <div class="col-md-10">
            <input type="text" name="name" size="80" maxlength="100" class="form-control" ng-model="ctrl.form.name" />
            <p ng-repeat="message in ctrl.invalidParams.name" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.text}">
        <label class="col-md-2 control-label" for="text" translate>forums/topic/text</label>
        <div class="col-md-10">
            <textarea name="text" cols="140" rows="15" maxlength="4096" class="form-control" ng-model="ctrl.form.text"></textarea>
            <p ng-repeat="message in ctrl.invalidParams.text" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.moderator_attention}">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="moderator_attention" value="1" ng-model="ctrl.form.moderator_attention" />
                    <translate>comments/it-requires-attention-of-moderators</translate>
                </label>
            </div>
            <p ng-repeat="message in ctrl.invalidParams.moderator_attention" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.subscription}">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="subscription" value="1" ng-model="ctrl.form.subscription" />
                    <translate>forums/topic/subscribe-to-new-messages</translate>
                </label>
            </div>
            <p ng-repeat="message in ctrl.invalidParams.subscription" ng-bind="message" class="help-block"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary" translate>send</button>
        </div>
    </div>
</fieldset></form>

<div ng-if="!user" class="alert alert-block alert-error" autowp-markdown="'forums/register-to-create-topic'|translate"></div>