<div ng-if="item.item.childs_count > 0">
    <i class="fa fa-folder-o" ng-show="!item.open"></i>
    <i class="fa fa-folder-open-o" ng-show="item.open"></i>
    <span ng-if="item.type_id == 1" translate>catalogue/related</span>
    <span ng-if="item.type_id == 2" translate>catalogue/sport</span>
    <span ng-if="item.type_id == 3" translate>catalogue/design</span>
    <a href="#" class="toggle" ng-click="item.open = !item.open; item.open && loadChilds(item)" ng-bind-html="item.item.name_html"></a>
    <ul ng-show="item.open">
        <li ng-show="item.open && !item.childs && item.loading">
            <span>
                <i class="fa fa-spinner fa-spin fa-fw"></i>
            </span>
        </li>
        <li ng-repeat="child in item.item.childs">
            <autowp-upload-select-tree-item item="child" load-childs="loadChilds">
            </autowp-upload-select-tree-item>
        </li>
        <li><a ui-sref="upload({item_id: item.item_id, perspective_id: null})" translate>upload/select/other-modification</a></li>
    </ul>
</div>
<span ng-if="(!item.item.childs_count || item.item.childs_count <= 0)">
    <span ng-if="item.type_id == 1" translate>catalogue/related</span>
    <span ng-if="item.type_id == 2" translate>catalogue/sport</span>
    <span ng-if="item.type_id == 3" translate>catalogue/design</span>
    <a ui-sref="upload({item_id: item.item_id, perspective_id: null})" ng-bind-html="item.item.name_html"></a>
</span>