.share {
    margin: 0 0 20px;

    a {
        padding: 5px 0;
        border-radius: 3px;
        background-color: white;
        text-decoration: none;
        text-align: center;
        color: #fff;
        width: 2em;
    }
    
    .fa-telegram { background-color: #54a9eb; }
    .fa-vk { background-color: #43648c; }
    .fa-whatsapp { background-color: #1da851; }
    .fa-reddit { background-color: #5f99cf; }
    .fa-linkedin { background-color: #046293; }
    .fa-pinterest { background-color: #8c0615; }
    .fa-envelope-o { background-color: #5e5e5e; }
    .fa-tumblr { background-color: #35465c; }
    .fa-google-plus { background-color: #dd4b39; }
    .fa-twitter { background-color: #55acee; }
    .fa-facebook { background-color: #3b5998; }
}
