<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Persons</h1>
</div>

<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink="/persons" i18n [class.active]="(authors$ | async) === false">Persons on photo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/persons/authors" i18n [class.active]="authors$ | async">Authors</a>
  </li>
</ul>

@if (charGroups$ | async; as groups) {
  @let char = char$ | async;
  @for (group of [groups.latin, groups.cyrillic, groups.han, groups.numbers, groups.other]; track group) {
    @if (group.length) {
      <div class="btn-group mb-2">
        @for (c of group; track c) {
          <a
            class="btn btn-secondary"
            routerLink="."
            [class.active]="c === char"
            [queryParams]="{char: c, page: null}"
            >{{ c }}</a
          >
        }
      </div>
    }
  }
}

@if (data$ | async; as data) {
  @for (item of data.items; track item.id) {
    <app-catalogue-list-item [item]="item" />
  }
  @if (data.paginator) {
    <app-paginator [data]="data.paginator" />
  }
}
