<div class="car item-list-item"> <!--  data-module="car-list" -->

    <h3>
        <span ng-bind-html="item.name_html"></span>
        <sup class="design-brand" ng-if="item.design">{{'ng/carlist/designed by'|translate}}<a ng-href="{{item.design.url}}" ng-bind="item.design.name"></a></sup>

        <small ng-if="item.produced > 1">
            <span ng-if="item.produced_exactly" translate="ng/carlist/produced/%1$s" translate-values="{count: item.produced}"></span>
            <span ng-if="!item.produced_exactly" translate="ng/carlist/produced-about/%1$s" translate-values="{count: item.produced}"></span>
        </small>
        <small translate ng-if="item.produced == 1">carlist/produced/one</small>
    </h3>

    <h4 ng-bind="item.name_default" ng-if="item.name_default"></h4>

    <div class="row">
        <div ng-class="ctrl.thumbnailClasses(picture, $index)" ng-if="ctrl.havePhoto()" ng-repeat="picture in pictures">
            <a ng-href="{{picture.url}}" ng-if="picture.thumbnail" class="rounded d-block mb-4">
                <img class="rounded w-100 border border-light" ng-src="{{picture.thumbnail.src}}" alt="{{picture.picture.name}}" title="{{picture.picture.name}}" />
            </a>
            <span ng-if="!picture">&#xa0;</span>
        </div>

        <div class="col-md-2 col-sm-2" ng-if="!ctrl.havePhoto() && ctrl.canHavePhoto(item)">
            <div class="rounded d-block mb-4 no-photo" ng-title="{{'carlist/no-photo'|translate}}">
                <a ui-sref="upload({item_id: item.id})" title="{{'carlist/no-photo/add'|translate}}" class="fa fa-plus-circle text-success"></a>
                <span class="fa fa-camera fa-lg fa-4x" aria-hidden="true"></span>
            </div>
        </div>
    </div>

    <div class="text" ng-if="item.description.length" autowp-markdown="item.description"></div>

    <ul class="list-inline">
        <li ng-if="totalPictures > 6" class="list-inline-item">
            <span class="fa fa-th"></span>
            <a ui-sref="new-item({date: date, item_id: item.id, page: null})">{{'carlist/all pictures'|translate}} ({{totalPictures}})</a>
        </li>

        <li ng-if="item.specs_url" class="list-inline-item">
            <i class="fa fa-list-alt"></i>
            <a ng-href="{{item.specs_url}}" translate>carlist/specifications</a>
        </li>

        <li ng-repeat="twinsGroup in item.twins_groups" class="list-inline-item">
            <i class="fa fa-adjust"></i>
            <a ng-href="{{twinsGroup.url}}" translate>carlist/twins</a>
        </li>

        <li ng-repeat="category in item.categories" class="list-inline-item">
            <i class="fa fa-tag"></i>
            <a ng-href="{{category.url}}" ng-bind-html="category.name_html"></a>
        </li>

        <li ng-if="ctrl.is_moder" class="list-inline-item">
            <i class="fa fa-cog"></i>
            <a ui-sref="moder-items-item({id: item.id})" translate>moder/edit-object</a>
        </li>

        <li ng-if="item.spec_editor_url" class="list-inline-item">
            <i class="fa fa-pencil"></i>
            <a ng-href="{{item.spec_editor_url}}" translate>carlist/edit-specs</a>
        </li>
    </ul>
</div>
