<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Picture vote templates</h1>
</div>

@for (template of templates$ | async; track template.id) {
  <p>
    @if (template.vote > 0) {
      <i class="bi bi-hand-thumbs-up-fill text-success" aria-hidden="true"></i>
    }
    @if (template.vote < 0) {
      <i class="bi bi-hand-thumbs-down-fill text-danger" aria-hidden="true"></i>
    }
    <span [textContent]="template.message"></span>
    <button type="button" class="btn btn-danger btn-sm" aria-label="Delete" (click)="deleteTemplate(template)">
      <span class="bi bi-x" aria-hidden="true"></span>
    </button>
  </p>
}

<form class="card card-body form-vertical" name="add" (submit)="createTemplate()">
  <h2 i18n>Add template</h2>

  <div class="mb-3">
    <label i18n for="name">Reason</label>
    <input type="text" name="name" id="name" class="form-control" required maxlength="50" [(ngModel)]="name" />
  </div>
  <div class="mb-3">
    <label i18n for="vote">Vote</label>
    <select name="vote" id="vote" required class="form-select" [(ngModel)]="vote">
      <option value="-1" class="text-danger" i18n>Negative</option>
      <option value="1" class="text-success" i18n>Positive</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" i18n>Submit</button>
</form>
