<div class="select-in-brand" ng-if="ctrl.brand">
    <div style="margin: 5px 0" ng-if="ctrl.vehicles.length > 0">
        <?=$this->partial('application/donate/vod-select-item-items', [
            'cars' => $this->vehicles
        ])?>
    </div>

    <div style="margin: 5px 0" ng-if="ctrl.haveConcepts">
        <a href="#" class="arrow" data-load="$this->conceptsUrl">
            <i class="fa fa-plus-circle"></i>
            {{'upload/select/concepts'|translate}}
        </a>
        <div style="margin:0 0 4px 18px;display:none">
            <div class="loading"><em>Loading ...</em></div>
        </div>
    </div>
</div>

<div class="row" ng-if="!ctrl.brand">
    <div class="col-md-2" ng-repeat="chunk in ctrl.brands">
        <a ui-sref=".({brand_id: brand.id})" ng-bind="brand.name" ng-repeat-start="item in chunk"></a>
        <br ng-repeat-end />
    </div>
</div>
