<div class="card mb-4" [class.vote-accept]="picture.moder_vote && picture.moder_vote.vote > 0" [class.vote-remove]="picture.moder_vote && picture.moder_vote.vote < 0"
  [class.vote-neutral]="picture.moder_vote && picture.moder_vote.count > 0 && picture.moder_vote.vote == 0">
  <a [href]="picture.url" *ngIf="picture.thumb_medium">
    <img class="card-img-top" [src]="picture.thumb_medium.src" [alt]="picture.name_text" [title]="picture.name_text">
  </a>
  <div class="card-body">
    <h6 class="card-title">
      <a [href]="picture.url" [innerHtml]="picture.name_html"></a>
    </h6>

    <p class="picture-behaviour clearfix">
      <span title="Status" *ngIf="picture.status">
        <i class="fa fa-check text-success" *ngIf="picture.status=='accepted'"></i>
        <i class="fa fa-hourglass text-warning" *ngIf="picture.status=='inbox'"></i>
        <i class="fa fa-trash text-danger" *ngIf="picture.status=='removed'"></i>
        <i class="fa fa-trash text-danger" *ngIf="picture.status=='removing'"></i>
      </span>

      <span [title]="'Resolution'|translate">
        {{picture.resolution}}
        <i *ngIf="isModer && picture.cropped" class="fa fa-scissors" style="cursor:help" title="{{'picture-preview/crop-desc'|translate}} ({{picture.crop_resolution}})"></i>
      </span>

      <br />

      <span [title]="'Views'|translate" *ngIf="picture.views > 0" class="mr-2">
        <span *ngIf="picture.views >= 1000">{{picture.views/1000 | number:1}}K</span>
        <span *ngIf="picture.views < 1000">{{picture.views | number:0}}</span>
        <i class="fa fa-eye"></i>
      </span>

      <span class="mr-2" *ngIf="picture.votes.positive > 0">
        {{picture.votes.positive}}
        <i class="fa fa-thumbs-up"></i>
      </span>

      <span [title]="'Comments count'|translate" *ngIf="picture.comments_count.total > 0" class="mr-2">
        <a [href]="picture.url" *ngIf="picture.comments_count.new > 0">
          {{picture.comments_count.total > picture.comments_count.new ? picture.comments_count.total - picture.comments_count.new :
          ''}}
          <span class="text-danger">+{{picture.comments_count.new}}</span>
          <i class="fa fa-comment text-danger"></i>
        </a>
        <a [href]="picture.url" *ngIf="picture.comments_count.new == 0">
          {{picture.comments_count.total}}
          <i class="fa fa-comment"></i>
        </a>
      </span>

      <br *ngIf="picture.owner" />
      <app-user [user]="picture.owner" *ngIf="picture.owner"></app-user>
    </p>

    <label class="btn btn-sm float-left mr-1 mb-2" [class.btn-primary]="picture.selected" [class.btn-secondary]="!picture.selected"
      (click)="onPictureSelect($event)" *ngIf="selectable">
      <i class="fa fa-check"></i>
    </label>

    <a [routerLink]="['/moder/pictures', picture.id]" class="btn btn-secondary btn-sm settings mr-1 mb-2" title="Settings" *ngIf="isModer">
      <i class="fa fa-cog"></i>
    </a>
    <select *ngIf="picture.perspective_item" class="form-control form-control-sm mr-1 mb-2" [(ngModel)]="picture.perspective_item.perspective_id"
      (change)="savePerspective()">
      <option [ngValue]="null">--</option>
      <option *ngFor="let item of perspectiveOptions" [ngValue]="item.id">{{item.name|translate}}</option>
    </select>
    <p class="alert alert-warning" role="alert" *ngIf="picture.similar">
      <span class="fa fa-file-image-o"></span>
      <a [routerLink]="['/moder/pictures', picture.similar.picture_id]">Similar picture: {{picture.similar.distance}}</a>
    </p>
  </div>
</div>
