<td>
  @if (topic().status === 'closed') {
    <span class="bi bi-lock" aria-hidden="true"></span>
  }
  @if (topic().status !== 'deleted') {
    <a [routerLink]="['/forums/topic', topic().id]">{{ topic().name }}</a>
  } @else {
    <span>{{ topic().name }}</span>
  }
  <span class="badge rounded-pill text-bg-secondary">
    {{ topic().oldMessages + (topic().newMessages > 0 ? '+' + topic().newMessages : '') }}
  </span>
</td>
<td>
  @if (createdAt(); as createdAt) {
    <app-past-time-indicator [date]="createdAt" />
  }
  <br />
  @if (authorResource.value(); as author) {
    <app-user [user]="author" />
  }
</td>
<td>
  @if (lastMessageResource.value(); as lastMessage) {
    <div>
      @if (lastMessageDate(); as date) {
        <small>
          <app-past-time-indicator [date]="date" />
        </small>
        <br />
      }
      @if (lastMessageAuthorResource.value(); as lastMessageAuthor) {
        <app-user [user]="lastMessageAuthor" />
      }
      <a i18n-title title="Go to last message" [routerLink]="['/forums/message', lastMessage.id]">
        <i class="bi bi-arrow-right-short" aria-hidden="true"></i>
      </a>
    </div>
  } @else {
    <span>&#x2014;</span>
  }
</td>
@if (showSubscribe()) {
  <td>
    <button type="button" class="btn btn-sm btn-warning" i18n (click)="unsubscribe()">Unsubscribe</button>
  </td>
}
@if (forumAdmin()) {
  <td>
    <div class="btn-group">
      @if (topic().status === 'closed') {
        <button type="button" i18n-title title="open" class="btn btn-sm btn-warning open" (click)="openTopic()">
          <i class="bi bi-check-circle" aria-hidden="true"></i>
        </button>
      } @else {
        <button
          type="button"
          i18n-title
          title="close"
          class="btn btn-sm btn-warning close-topic"
          (click)="closeTopic()"
        >
          <i class="bi bi-x-circle-fill" aria-hidden="true"></i>
        </button>
      }
      <a
        routerLink="/forums/move-topic"
        class="btn btn-secondary btn-sm"
        title="move"
        i18n-title
        [queryParams]="{topic_id: topic().id}"
      >
        <i class="bi bi-arrows-move" aria-hidden="true"></i>
      </a>
      <button type="button" i18n-title title="delete" class="btn btn-sm btn-danger delete" (click)="deleteTopic()">
        <i class="bi bi-slash-circle" aria-hidden="true"></i>
      </button>
    </div>
  </td>
}
