<span class="text-muted" ng-if="item.type == 1" translate>catalogue/related</span>
<span class="text-muted" ng-if="item.type == 2" translate>catalogue/sport</span>
<a href="#" ng-if="!item.item.childs_count" ng-click="selectItem(item.item_id)" ng-bind-html="item.item.name_html"></a>
<br ng-if="!item.item.childs_count" />
<div ng-if="item.item.childs_count">
    <a href="" class="arrow" ng-click="toggleItem(item)">
        <i class="fa fa-plus-circle" ng-show="!item.expanded"></i>
        <i class="fa fa-minus-circle" ng-show="item.expanded"></i>
        <span ng-bind-html="item.item.name_html"></span>
    </a>
    <div style="margin:0 0 4px 18px;" ng-show="item.expanded">
        <autowp-moder-picture-move-item item="child" select-item="selectItem" ng-repeat="child in childs"></autowp-moder-picture-move-item>
        <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
        <a href="" ng-click="selectItem(item.item_id)" translate>upload/select/other-modification</a>
    </div>
</div>