<section class="forum-topic-page comments">
    <autowp-comments item-id="ctrl.topic.id" type-id="5" user="user" ng-if="ctrl.topic" limit="20" page="ctrl.page"></autowp-comments>

    <div class="text-right" ng-if="user" style="margin-bottom:10px">
        <button class="btn btn-link subscription" ng-if="!ctrl.topic.subscription" ng-click="ctrl.subscribe()">
            <i class="fa fa-envelope"></i>
            <translate>comments/subscribe</translate>
        </button>
        <button class="btn btn-link subscription" ng-if="ctrl.topic.subscription" ng-click="ctrl.unsubscribe()">
            <i class="fa fa-envelope"></i>
            <translate>comments/unsubscribe</translate>
        </button>
    </div>

    <div class="well" btf-markdown="'forums/register-to-post'|translate" ng-if="ctrl.topic.status == 'normal' && !user"></div>
    <p class="alert alert-block alert-error" translate ng-if="ctrl.topic.status == 'closed'">forums/topic-closed-text</p>
</section>