<div class="car item-list-item">
  <!--  data-module="car-list" -->
  <h3 *ngIf="!disableTitle">
    <span [innerHTML]="item.name_html"></span>
    <sup class="design-brand" *ngIf="item.design">{{'ng/carlist/designed by'|translate}}
      <a [href]="item.design.url" [textContent]="item.design.name"></a>
    </sup>

    <small *ngIf="item.produced > 1">
      <span *ngIf="item.produced_exactly" translate [translateParams]="{count: item.produced}">ng/carlist/produced/%1$s</span>
      <span *ngIf="!item.produced_exactly" translate [translateParams]="{count: item.produced}">ng/carlist/produced-about/%1$s</span>
    </small>
    <small translate *ngIf="item.produced == 1">carlist/produced/one</small>
  </h3>

  <h4 [textContent]="item.name_default" *ngIf="item.name_default"></h4>

  <div class="row" *ngIf="havePhoto(item) && item.preview_pictures.length > 4">
    <div class="col-12 col-lg-6" *ngFor="let picture of item.preview_pictures.slice(0, 1)">
      <a [href]="picture.url" *ngIf="picture.picture.thumb_medium" class="d-block rounded mb-4">
        <img [src]="picture.picture.thumb_medium.src" [alt]="picture.picture.name" [title]="picture.picture.name" class="rounded w-100 border border-light"
        />
      </a>
      <span *ngIf="!picture">&#xa0;</span>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-6" *ngFor="let picture of item.preview_pictures.slice(1)">
          <a [href]="picture.url" *ngIf="picture.picture.thumb_medium" class="d-block rounded mb-4">
            <img [src]="picture.picture.thumb_medium.src" [alt]="picture.picture.name" [title]="picture.picture.name" class="rounded w-100 border border-light"
            />
          </a>
          <span *ngIf="!picture">&#xa0;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="havePhoto(item) && item.preview_pictures.length &lt;= 4">
    <div class="col-6 col-lg-3" *ngFor="let picture of item.preview_pictures">
      <a [href]="picture.url" *ngIf="picture.picture && picture.picture.thumb_medium" class="d-block rounded mb-4">
        <img [src]="picture.picture.thumb_medium.src" alt="{{picture.picture.name}}" [title]="picture.picture.name" class="rounded w-100 border border-light"
        />
      </a>
      <span *ngIf="!picture">&#xa0;</span>
    </div>
  </div>

  <div class="row" *ngIf="!havePhoto(item) && canHavePhoto(item)">
    <div class="col-6 col-lg-3">
      <div class="no-photo rounded w-100 border border-light mb-4" [title]="'carlist/no-photo'|translate">
        <a routerLink="/upload" [queryParams]="{item_id: item.id}" [title]="'carlist/no-photo/add'|translate" class="fa fa-plus-circle text-success"></a>
        <span class="fa fa-camera fa-lg fa-4x" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <app-markdown class="text" *ngIf="item.description.length" [markdown]="item.description"></app-markdown>

  <div *ngIf="item.engine_vehicles && item.engine_vehicles.length">
    <p translate>catalogue/engine/mounted-on:</p>
    <ul>
      <li *ngFor="let vehicle of item.engine_vehicles">
        <a [href]="vehicle.url" [innerHTML]="vehicle.name_html"></a>
      </li>
    </ul>
  </div>

  <ul class="list-inline" ngPreserveWhitespaces>

    <li *ngIf="(item.has_text || item.childs_count) && item.url" class="list-inline-item">
      <i class="fa fa-align-left"></i>
      <a [href]="item.url">{{'carlist/details'|translate}}
        <span *ngIf="item.childs_count > 1"> ({{item.childs_count}})</span>
      </a>
    </li>

    <li *ngIf="item.item_type_id == 8" class="list-inline-item">
      <i class="fa fa-align-left"></i>
      <a [routerLink]="['/persons', item.id]">{{'carlist/details'|translate}}</a>
    </li>

    <li *ngIf="item.tuning" class="list-inline-item">
      <i class="fa fa-align-left"></i>
      <a [href]="item.tuning.url">{{'catalogue/related'|translate|lowercase}} ({{item.tuning.count}})</a>
    </li>

    <li *ngIf="item.sport" class="list-inline-item">
      <i class="fa fa-align-left"></i>
      <a [href]="item.sport.url">{{'catalogue/sport'|translate|lowercase}} ({{item.sport.count}})</a>
    </li>

    <li *ngIf="item.more_pictures_url" class="list-inline-item">
      <span class="fa fa-th"></span>
      <a [href]="item.more_pictures_url">{{'carlist/all pictures'|translate}} ({{item.total_pictures}})</a>
    </li>

    <!--
        <li *ngIf="item.specsLinks.length > 1" class="list-inline-item">
            <i class="fa fa-list-alt"></i>
            {{'carlist/specifications'|translate}}
            <a [href]="specLink.url" [textContent]="specLink.name" *ngFor="let specLink of item.specsLinks"></a>
        </li>
         -->
    <li *ngIf="item.specs_url" class="list-inline-item">
      <i class="fa fa-list-alt"></i>
      <a [href]="item.specs_url" translate>carlist/specifications</a>
    </li>

    <li *ngFor="let twinsGroup of item.twins_groups" class="list-inline-item">
      <i class="fa fa-adjust"></i>
      <a [href]="twinsGroup.url" translate>carlist/twins</a>
    </li>

    <li *ngFor="let category of item.categories" class="list-inline-item">
      <i class="fa fa-tag"></i>
      <a [href]="category.url" [innerHTML]="category.name_html"></a>
    </li>

    <li *ngIf="isModer" class="list-inline-item">
      <i class="fa fa-cog"></i>
      <a [routerLink]="['/moder/items/item', item.id]" translate>moder/edit-object</a>
    </li>

    <li *ngIf="item.spec_editor_url" class="list-inline-item">
      <i class="fa fa-pencil"></i>
      <a [href]="item.spec_editor_url" translate>carlist/edit-specs</a>
    </li>
  </ul>
</div>
