<div class="modal-header">
  <h3 class="modal-title" i18n>Vehicle type</h3>
  <button class="btn-close" type="button" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  @for (type of types$ | async; track type.id) {
    <div class="mb-3">
      <button
        type="button"
        class="btn d-block"
        [class.btn-success]="isActive(type.id)"
        [class.btn-outline-secondary]="!isActive(type.id)"
        (click)="toggle(type.id)"
      >
        {{ type.name }}
      </button>
      @if ((type.childs || []).length > 0) {
        <div class="mb-3 ms-4">
          @for (subtype of type.childs; track subtype.id) {
            <button
              type="button"
              class="btn btn-sm"
              [class.d-block]="(subtype.childs || []).length > 0"
              [class.btn-success]="isActive(subtype.id)"
              [class.btn-outline-secondary]="!isActive(subtype.id)"
              (click)="toggle(subtype.id)"
            >
              {{ subtype.name }}
            </button>
            @if ((subtype.childs || []).length > 0) {
              <div class="mb-3 ms-4">
                @for (subsubtype of subtype.childs; track subsubtype.id) {
                  <button
                    type="button"
                    class="btn btn-sm"
                    [class.btn-success]="isActive(subsubtype.id)"
                    [class.btn-outline-secondary]="!isActive(subsubtype.id)"
                    (click)="toggle(subsubtype.id)"
                  >
                    {{ subsubtype.name }}
                  </button>
                }
              </div>
            }
          }
        </div>
      }
    </div>
  }
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" i18n (click)="activeModal.close()">Close</button>
</div>
