<div class="row"><div class="col-md-8 col-md-offset-2 login-page">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/login/">
                <i class="fa fa-sign-in"></i>
                {{'login/sign-in'|translate}}
            </a>
        </li>
        <li>
            <a href="/ng/signup">
                <i class="fa fa-pencil"></i>
                {{'login/registration'|translate}}
            </a>
        </li>
    </ul>
    <div class="well">
        <form class="form-horizontal" ng-submit="ctrl.submit()"><fieldset>
            <legend translate>login/sign-in</legend>
            <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.login}">
                <label class="col-md-3 control-label" translate>login/login-or-email</label>
                <div class="col-md-9">
                    <input type="text" name="login" class="form-control" ng-model="ctrl.form.login" maxlength="50">
                    <p ng-repeat="message in ctrl.invalidParams.login" ng-bind="message" class="help-block"></p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.password}">
                <label class="col-md-3 control-label" translate>user/password</label>
                <div class="col-md-9">
                    <input type="password" name="password" class="form-control" ng-model="ctrl.form.password">
                    <p ng-repeat="message in ctrl.invalidParams.password" ng-bind="message" class="help-block"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" value="1" ng-model="ctrl.form.remember">
                            {{'login/remember'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i>
                        {{'login/sign-in'|translate}}
                    </button>
                </div>
            </div>
        </fieldset></form>
    </div>

    <div class="row" style="margin-top:50px;margin-bottom:50px"><div class="col-md-9 col-md-offset-3">
        <p translate>login/sign-in-using-account</p>
        <a ng-href="{{service.url}}" class="btn btn-default btn-lg" ng-repeat="service in ctrl.services" title="{{service.name}}">
            <i class="fa fa-fw fa-2x {{service.icon}}"></i>
        </a>
    </div></div>

    <div btf-markdown="'login/if-you-lose-password'|translate"></div>
    <div btf-markdown="'login/if-you-not-registered'|translate"></div>

</div></div>