<app-markdown [markdown]="'donate/text'|translate"></app-markdown>
<br />

<p class="text-center">
  <i class="fa fa-paypal fa-5x"></i>
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center" *ngIf="language == 'ru'" ngNoForm>
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="APTV6TLLJ4W32">
  <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal">
  <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center" *ngIf="language == 'fr'" ngNoForm>
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="KKGS9MRL545FQ">
  <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal">
  <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center" *ngIf="language != 'fr' && language != 'ru'" ngNoForm>
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="PHRAPAMQWV4SJ">
  <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal">
  <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<div style="margin:50px auto;width:524px">
  <iframe [src]="frameUrl" width="524" height="187"></iframe>
</div>
