<div class="row">
    <div class="col-lg-8 mb-4 order-2">
        <div class="card card-body">
            <div ng-if="!ctrl.sent">
                <p ng-if="ctrl.email">
                    <translate>account/email/your-current-email:</translate>
                    <a ng-href="{{ctrl.email}}" ng-bind="ctrl.email"></a>
                </p>
                <p translate ng-if="!ctrl.email">account/email/your-dont-enter-email</p>
                <div autowp-markdown="'account/email/text'|translate"></div>
                <form method="post" class="form-horizontal" ng-submit="ctrl.submit()"><fieldset>
                    <div class="form-group row" ng-class="{'has-error': ctrl.invalidParams.email}">
                        <label class="col-md-2 col-form-label" for="email">E-mail</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" ng-model="ctrl.newEmail" maxlength="255" />
                            <p ng-repeat="message in ctrl.invalidParams.email" ng-bind="message" class="help-block"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" class="btn btn-primary" translate>send</button>
                        </div>
                    </div>
                </fieldset></form>
            </div>

            <p translate ng-if="ctrl.sent">users/change-email/confirmation-message-sent</p>
        </div>
    </div>
    <div class="col-lg-4 mb-4 order-1">
        <autowp-account-sidebar user="user"></autowp-account-sidebar>
    </div>
</div>
