<p ng-if="isModer">
    <i class="fa fa-cog"></i>
    <a ui-sref="moder-items-item({id: ctrl.item.id})" ui-sref-options="{inherit: false}" translate>moder/edit-object</a>
</p>

<div class="card card-body mb-4" ng-if="ctrl.links.length > 0 || ctrl.item.description">
    <div autowp-markdown="ctrl.item.description"></div>

    <p ng-if="ctrl.links.length > 0">
        {{'museums/museum/website:'|translate}}
        <a ng-href="{{link.url}}" ng-repeat-start="link in ctrl.links" ng-bind="link.name ? link.name : link.url"></a>
        <br ng-repeat-end />
    </p>
</div>

<div ng-if="ctrl.authorPictures.length > 0">
    <h3 translate>factories/factory/pictures</h3>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="picture in ctrl.authorPictures">
            <autowp-thumbnail picture="picture" is-moder="isModer"></autowp-thumbnail>
        </div>
    </div>

    <autowp-paginator data="ctrl.authorPicturesPaginator" ng-if="ctrl.authorPicturesPaginator"></autowp-paginator>
</div>

<div ng-if="ctrl.contentPictures.length > 0">
    <h3 translate>factories/factory/pictures</h3>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="picture in ctrl.contentPictures">
            <autowp-thumbnail picture="picture" is-moder="isModer"></autowp-thumbnail>
        </div>
    </div>

    <autowp-paginator data="ctrl.contentPicturesPaginator" ng-if="ctrl.contentPicturesPaginator"></autowp-paginator>
</div>
