<div class="crop-area" style="margin-bottom:20px">
    <img ng-src="{{picture.image.src}}" />
</div>

<div style="margin-bottom:50px">
    <span translate="crop-dialog/resolution-x-aspect-y" translate-values="{resolution: resolution, aspect: aspect}"></span>
    <button ng-click="selectAll()" class="btn btn-default" translate>crop-dialog/select-all</button>
    <span class="pull-right">
        <a ui-sref="moder-pictures-item({id: picture.id})" class="btn btn-default" translate>crop-dialog/close</a>
        <button ng-click="saveCrop()" class="btn btn-primary" translate>crop-dialog/save</button>
    </span>
</div>