<div class="card card-body">
  <div class="btn-group" *ngFor="let group of groups">
    <a *ngFor="let c of group" class="btn btn-secondary" [class.active]="c == char" [textContent]="c" routerLink="." [queryParams]="{char: c, page: null}"></a>
  </div>
</div>

<div [hidden]="!items">
  <div class="card card-body">
    <span [hidden]="loading <= 0">
      <i class="fa fa-spinner fa-spin fa-fw"></i>
    </span>
    <div *ngFor="let item of items">
      <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
    </div>
    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
  </div>
</div>
