@if (paginator(); as paginator) {
  @if (paginator.pageCount > 1) {
    <div>
      <h4 class="text-end" i18n>Other photos</h4>
      <div id="pager" class="clearfix text-end">
        <div class="nearLinks">
          @if (paginator.previous) {
            <a class="me-1" [routerLink]="prefix().concat([paginator.previous])"
              >←<ng-container i18n>previous</ng-container></a
            >
          } @else {
            <span class="me-1">←<ng-container i18n>previous</ng-container></span>
          }
          @if (paginator.next) {
            <a [routerLink]="prefix().concat([paginator.next])"><ng-container i18n>next</ng-container>→</a>
          } @else {
            <span><ng-container i18n>next</ng-container>→</span>
          }
        </div>
        <div class="numberLinks">
          @for (item of paginator.pagesInRange; track item) {
            @if (item.identity !== paginator.current) {
              <a [routerLink]="prefix().concat([item.identity])">
                {{ format(item.page, paginator.pageCount) }}
              </a>
            } @else {
              <strong style="font-size: 1.5em">{{ format(item.page, paginator.pageCount) }}</strong>
            }
          }
        </div>
      </div>
    </div>
  }
}
