@import "../variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.picture-vote {
  margin: 0 0 20px 15px;
  line-height: 2em;

  .fa {
    text-decoration: none;
  }

  .positive,
  .negative {
    margin: 0 7px 0 3px;
    vertical-align: top;
    display: inline-block;
  }
}
