<div class="nav nav-pills" style="margin-bottom:10px" *ngIf="item">
  <a [class.active]="tab == 'catalogue'" *ngIf="showCatalogueTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'catalogue'}">
    <i class="fa fa-list"></i> Catalogue</a>
  <a [class.active]="tab == 'brands'" *ngIf="showBrandsTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'brands'}">
    <i class="fa fa-list"></i> Brands</a>
  <a [class.active]="tab == 'categories'" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']" [queryParams]="{tab: 'categories'}">
    <i class="fa fa-tag"></i> Categories</a>
  <a [class.active]="tab == 'twins'" *ngIf="showTwinsTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'twins'}">
    <i class="fa fa-adjust"></i> Twins</a>
  <a [class.active]="tab == 'factories'" *ngIf="showFactoriesTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'factories'}">
    <i class="fa fa-cogs"></i> {{'moder/vehicle/tabs/factories'|translate}}</a>
</div>

<div class="card card-body" *ngIf="tab == 'catalogue'">
  <input type="text" [(ngModel)]="search" (input)="doSearch()" class="form-control mb-4" placeholder="Type to search ..." auto-focus
  />
  <table class="table" *ngIf="!brand_id">
    <tbody>
      <tr>
        <td [ngStyle]="{width: 100/6 + '%'}" *ngFor="let chunk of brands">
          <ng-container *ngFor="let item of chunk">
            <a routerLink="." [queryParams]="{brand_id: item.id}" queryParamsHandling="merge" [innerHTML]="item.name_html"></a>
            <br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <ul *ngIf="brand_id">
    <li class="car-node" *ngFor="let citem of items">
      <app-moder-items-item-select-parent-tree [item]="citem" (select)="select($event)" [disableItemID]="item.id" (loadChilds)="loadChildCatalogues($event)">
      </app-moder-items-item-select-parent-tree>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab == 'brands'">
  <input type="text" [(ngModel)]="search" (input)="doSearch()" class="form-control mb-4" placeholder="Type to search ..." auto-focus
  />
  <table class="table">
    <tbody>
      <tr>
        <td [ngStyle]="{width: 100/6 + '%'}" *ngFor="let chunk of brands">
          <ng-container *ngFor="let item of chunk">
            <a href="" (click)="select(item)" [innerHTML]="item.name_html"></a>
            <br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab == 'categories'">
  <ul>
    <li class="car-node" *ngFor="let citem of categories">
      <app-moder-items-item-select-parent-tree-item [item]="citem" (select)="select($event)" (loadChilds)="loadChildCategories($event)"
        [disableItemID]="item.id">
      </app-moder-items-item-select-parent-tree-item>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab == 'twins'">
  <table class="table" *ngIf="!brand_id">
    <tbody>
      <tr>
        <td [ngStyle]="{width: 100/6 + '%'}" *ngFor="let chunk of brands">
          <ng-container *ngFor="let item of chunk">
            <a routerLink="." [queryParams]="{brand_id: item.id}" queryParamsHandling="merge" [innerHTML]="item.name_html"></a>
            <br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <ul *ngIf="brand_id">
    <li class="car-node" *ngFor="let citem of items">
      <app-moder-items-item-select-parent-tree-item [item]="citem" (select)="select($event)" [disableItemID]="item.id">
      </app-moder-items-item-select-parent-tree-item>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab == 'factories'">
  <ul>
    <li class="car-node" *ngFor="let citem of factories">
      <app-moder-items-item-select-parent-tree-item [item]="citem" (select)="select($event)" [disableItemID]="item.id">
      </app-moder-items-item-select-parent-tree-item>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>
