<div class="card card-body">
  <ul class="articleList">
    <li *ngFor="let article of articles">
      <a [routerLink]="['/articles', article.catname]" *ngIf="article.preview_url">
        <img [src]="article.preview_url" style="float:left;margin:0 10px 4px 0" />
      </a>

      <p>
        <a [routerLink]="['/articles', article.catname]" [textContent]="article.name"></a>
      </p>
      <p>
        {{article.description}}
        <a [routerLink]="['/articles', article.catname]" translate>carlist/details</a>
      </p>
      <p>
        <app-user *ngIf="article.author" [user]="article.author"></app-user>
        <span class="date" *ngIf="article.date" [textContent]="article.date | amTimeAgo"></span>
      </p>
    </li>
  </ul>

  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>
