<div ng-repeat="line in ctrl.items" ng-if="line"><div class="btn-group">
    <a class="btn btn-secondary" ng-href="#char{{info.id}}" ng-bind="info.char" ng-repeat="info in line"></a>
</div></div>

<div ng-repeat="line in ctrl.items">
    <h2 id="char{{info.id}}" ng-repeat-start="info in line">→ {{info.char}}</h2>
    <div class="brand-icons" ng-repeat-end>
        <div ng-repeat="brand in info.brands">
            <a ng-href="{{brand.url}}" class="brandicon brandicon-{{brand.cssClass}}"></a>
            <h4>
                <a ng-href="{{brand.url}}" ng-bind="brand.name"></a>
                <small>({{brand.totalCars - brand.newCars}}<span 
                    ng-if="brand.newCars > 0" 
                    data-href="{{brand.new_cars_url}}" 
                    data-toggle="popover" 
                    data-container="body" 
                    class="popover-handler" 
                    translate-attr="{title: 'brands/new-cars-of-brand'}"
                    translate-values="{brand: brand.name}"
                    ng-bind="'+' + brand.newCars"></span>)</small>
            </h4>
            <p><small>{{'brands/pictures:'|translate}} {{brand.totalPictures}}</small></p>
        </div>
    </div>
</div>