<div class="row">
    <div class="col-lg-4 col-md-4">
        <h3 class="text-left" ng-if="ctrl.prev.date">
            &#x2190;
            <a ui-sref=".({date: ctrl.prev.date, page: null})" ng-bind="ctrl.prev.date | amDateFormat: 'LL'"></a>
            <small>(<span translate="ng/%1$s-pictures" translate-values="{count: ctrl.prev.count}"></span>)</small>
        </h3>
    </div>
    <div class="col-lg-4 col-md-4">
        <h3 class="text-center" ng-if="ctrl.current">
            <span ng-bind="ctrl.current.date | amDateFormat: 'LL'"></span>
            <small>(<span translate="ng/%1$s-pictures" translate-values="{count: ctrl.current.count}"></span>)</small>
        </h3>
    </div>
    <div class="col-lg-4 col-md-4">
        <h3 class="text-right" ng-if="ctrl.next.date">
            <a ui-sref=".({date: ctrl.next.date, page: null})" ng-bind="ctrl.next.date | amDateFormat: 'LL'"></a>
            <small>(<span translate="ng/%1$s-pictures" translate-values="{count: ctrl.next.count}"></span>)</small>
            &#x2192;
        </h3>
    </div>
</div>

<div ng-repeat="group in ctrl.groups">
    <div ng-if="group.type == 'item'">
        <autowp-new-item item="group.item" pictures="group.pictures" total-pictures="group.total_pictures" date="ctrl.date"></autowp-item>
    </div>
    <div ng-if="group.type != 'item'">
        <div class="row" ng-repeat="chunk in group.chunks">
            <div class="col-sm-2" ng-repeat="picture in chunk">
                <autowp-thumbnail picture="picture"></autowp-thumbnail>
            </div>
        </div>
    </div>
</div>

<autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
