@if (brandResource.error(); as error) {
  <p class="alert alert-danger" role="alert">{{ errorMessage(error) }}</p>
} @else if (brandResource.value(); as brand) {
  <app-gallery
    [filter]="{
      exactItemID: brand.id,
      perspectiveID: data().perspective_id || 0,
      perspectiveExclude: data().perspective_exclude_id || [],
    }"
    [current]="identity()"
    [galleryPrefix]="['/', brand.catname, data().catname, 'gallery']"
    [picturePrefix]="['/', brand.catname, data().catname]"
    (pictureSelected)="pictureSelected($event)"
  />
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
