@if (item$ | async; as item) {
  @if (links$ | async; as links) {
    @if (links.length > 0 || item.description) {
      <div class="card card-body mb-4">
        <app-markdown [markdown]="item.description" />
        @if (links.length > 0) {
          <p>
            <ng-container i18n>Web-site:</ng-container>
            @for (link of links; track link) {
              <a [href]="link.url" [textContent]="link.name ? link.name : link.url"></a>
              <br />
            }
          </p>
        }
      </div>
    }
  }
}

@if (authorPictures$ | async; as data) {
  @if ((data.items || []).length > 0) {
    <div>
      <h3 i18n>Pictures</h3>
      <div class="row">
        @for (picture of data.items || []; track picture) {
          <div class="col-6 col-md-4 col-lg-3">
            <app-thumbnail [picture]="picture" [route]="['author', picture.identity]" />
          </div>
        }
      </div>
      @if (data.paginator) {
        <app-paginator [data]="data.paginator" />
      }
    </div>
  }
}

@if (contentPictures$ | async; as data) {
  @if ((data.items || []).length > 0) {
    <div>
      <h3 i18n>Pictures</h3>
      <div class="row">
        @for (picture of data.items || []; track picture) {
          <div class="col-6 col-md-4 col-lg-3">
            <app-thumbnail [picture]="picture" [route]="[picture.identity]" />
          </div>
        }
      </div>
      @if (data.paginator) {
        <app-paginator [data]="data.paginator" />
      }
    </div>
  }
}
