<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n="@@page/106/name">Rules</h1>
</div>

<app-markdown2 class="card card-body" ngPreserveWhitespaces i18n="@@rules">
  1. ## Common 1. При размещении любых материалов или их фрагментов обязательно указывать источник 2. Запрещено
  одновременное использование нескольких аккаунтов одним пользователем. 3. На всём сайте в любой форме запрещён мат,
  нецензурные выражения и т.д. 4. Запрещено оскорбление посетителей сайта 5. Запрещено поднятие вопросов: политики,
  религии, сексуальных предпочтений и прочего, если это напрямую не связано с предметом обсуждения или не оговорено
  особым образом 6. Запрещено обсуждение действий модераторов где либо, кроме как в специально обозначенных местах или
  личной переписке с ними 7. Запрещена публикация личной переписки или любой иной информации, дискредитирующей других
  участников сайта 8. Запрещено использование в качестве аватаров или фотографий нецензурных изображений 2. ##
  Комментарии 1. Запрещено обсуждение чего либо, кроме предмета комментирования 2. Запрещено написание бессмысленных
  сообщений, содержащих только "смайлик" или другой способ уведомления о настроении 3. Неккоректные сообщения будут
  удаляться без уведомления 3. ## Форум 1. Запрещено использование написания заглавными буквами, воспринимаемого как
  крик 2. Запрещен "оффтопик" в любом виде 3. Запрещено создание одинаковых тем в нескольких ветках 4. Запрещено
  поднятие вопроса о "лучшем автомобиле", без уточнения сферы использования 4. ## Правила ведения каталога ###
  Именование автомобилей 1. Названия автомобилям присваиваются в соответствии с их оригинальным названием, доступным на
  кузове или в официальных изданиях компании 2. Название автомобиля пишется с заглавной буквы, но допускается написание
  только строчными или только заглавными буквами, если это соответсвует официальному наименованию автомобиля 3.
  Желательно указание кода кузова/серии/модели 4. Допутимо использование кириллицы, латиницы, отдельных символов
  греческого алфавита 5. Допустимо использование цифр 6. Допустимо использование специальных символов, если таковые
  применялись производителем 7. Для разделения автомобилей по типу кузова, допустимо добавлять его к названию 8.
  Допустимо добавления к названию информации, идентифицирующей рынок сбыта, для разделения автомобилей по этому
  признаку. Например, UK-spec, North America, ZA-spec 9. Адаптированные к языковой версии сайта названия автомобилей
  следуют тем же правилам, но не имеют ограничения на используемый алфавит
</app-markdown2>
