<div class="row">
    <div class="col-sm-8 order-2">
        <div class="row" ng-repeat="chunk in ctrl.chunks">
            <div class="col-sm-3" ng-repeat="picture in chunk">
                <autowp-thumbnail picture="picture" is-moder="isModer"></autowp-thumbnail>
            </div>
        </div>
        <autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
    </div>
    <div class="col-sm-4 order-1">
        <autowp-account-sidebar user="user"></autowp-account-sidebar>
    </div>
</div>
