<div class="row">
    <div class="col-lg-8 mb-4 order-2">
        <div class="row">
            <div class="col-12 cols-sm-6 col-md-6 col-lg-4" ng-repeat="picture in ctrl.pictures">
                <autowp-thumbnail picture="picture" is-moder="isModer"></autowp-thumbnail>
            </div>
        </div>
        <autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
    </div>
    <div class="col-lg-4 mb-4 order-1">
        <autowp-account-sidebar user="user"></autowp-account-sidebar>
    </div>
</div>
