@if (data(); as data) {
  @if (window(); as window) {
    @if (data.pageCount > 1) {
      <div>
        <p>
          @if (window.previous) {
            <a routerLink="." queryParamsHandling="merge" [queryParams]="{page: window.previous}"
              >←<ng-container i18n>previous</ng-container></a
            >
          } @else {
            <span>←<ng-container i18n>previous</ng-container></span>
          }
          @if (window.next) {
            <a routerLink="." queryParamsHandling="merge" [queryParams]="{page: window.next}"
              ><ng-container i18n>next</ng-container>→</a
            >
          } @else {
            <span><ng-container i18n>next</ng-container>→</span>
          }
        </p>
        <p>
          @if (window.first < window.firstPageInRange) {
            <a routerLink="." queryParamsHandling="merge" [queryParams]="{page: window.first}">{{
              padd(window.first)
            }}</a>
          }
          @if (window.first < window.firstPageInRange - 1) {
            <span>…</span>
          }
          @for (page of window.pages; track page) {
            <span>
              @if (page !== data.current) {
                <a routerLink="." queryParamsHandling="merge" [queryParams]="{page: page}">{{ padd(page) }}</a>
              } @else {
                <strong style="font-size: 20px; margin: 0 3px">{{ padd(page) }}</strong>
              }
            </span>
          }
          @if (window.last > window.lastPageInRange + 1) {
            <span>…</span>
          }
          @if (window.last > window.lastPageInRange) {
            <a routerLink="." queryParamsHandling="merge" [queryParams]="{page: window.last}">{{
              padd(window.last)
            }}</a>
          }
        </p>
      </div>
    }
  }
}
