<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    @if (brand$ | async; as brand) {
      <li class="breadcrumb-item">
        <a [routerLink]="['/', brand.catname]" [innerHTML]="brand.nameHtml"></a>
      </li>
      @if (data$ | async; as data) {
        <li class="breadcrumb-item">
          <a [routerLink]="['/', brand.catname, data.catname]">{{ data.picture_page.breadcrumbs }}</a>
        </li>
      }
    }
  </ol>
</nav>

@if (brand$ | async; as brand) {
  <div>
    @if (picture$ | async; as picture) {
      @if (data$ | async; as data) {
        <app-picture
          [picture]="picture"
          [prefix]="['/', brand.catname, data.catname]"
          [galleryRoute]="['/', brand.catname, data.catname, 'gallery', picture.identity]"
          (changed)="reloadPicture()"
        />
      }
      @if (picture) {
        <div id="comments">
          <app-comments [typeID]="CommentsType.PICTURES_TYPE_ID" [itemID]="picture.id" [limit]="null" />
        </div>
      }
    } @else {
      <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
    }
  </div>
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
