<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    @if (dataResource.value(); as data) {
      @if (data.theme) {
        <li class="breadcrumb-item">
          <a routerLink="/forums" i18n>Forums</a>
        </li>
      }
    }
  </ol>
</nav>

@if (dataResource.error(); as error) {
  <p class="alert alert-danger" role="alert">{{ error.message }}</p>
} @else if (dataResource.value(); as data) {
  <div class="page-header">
    @if (data.theme) {
      <h1>{{ getForumsThemeTranslation(data.theme.name) }}</h1>
    } @else {
      <h1 i18n id="header">Forums</h1>
    }
  </div>
  @for (theme of data.themes; track theme.id) {
    <app-forums-theme-summary [theme]="theme" />
  }
  @if (data.theme && !data.theme.disableTopics) {
    <div>
      <a class="btn btn-primary mb-3" [routerLink]="['/forums/new-topic', data.theme.id]">
        <i class="bi bi-chat-fill" aria-hidden="true"></i>
        <ng-container i18n>Create new topic</ng-container>
      </a>
      @if (topicsResource.value(); as topics) {
        <app-forums-topic-list [topics]="topics.items || []" (reload)="reload()" />
        @if (topics.paginator) {
          <app-paginator [data]="topics.paginator" />
        }
      }
    </div>
  }
  @if (data.theme; as theme) {
    <p class="text-end small">
      <ng-container i18n="@@n-topics">{theme.topicsCount, plural,
        one {{{theme.topicsCount}} topic}
        other {{{theme.topicsCount}} topics}
      }</ng-container
      >,
      <ng-container i18n="@@n-messages">{theme.messagesCount, plural,
        one {{{theme.messagesCount}} message}
        other {{{theme.messagesCount}} messages}
      }</ng-container>
    </p>
  }
}
