<ul class="nav nav-pills" style="margin-bottom:10px">
    <li ng-class="{active: ctrl.rating == 'specs'}">
        <a ui-sref=".({rating: 'specs'})" translate>users/rating/specifications</a>
    </li>
    <li ng-class="{active: ctrl.rating == 'pictures'}">
        <a ui-sref=".({rating: 'pictures'})" translate>users/rating/pictures</a>
    </li>
    <li ng-class="{active: ctrl.rating == 'likes'}">
        <a ui-sref=".({rating: 'likes'})" translate>users/rating/likes</a>
    </li>
    <li ng-class="{active: ctrl.rating == 'picture-likes'}">
        <a ui-sref=".({rating: 'picture-likes'})" translate>users/rating/picture-likes</a>
    </li>
</ul>

<span ng-show="ctrl.loading > 0">
    <i class="fa fa-spinner fa-spin fa-fw"></i>
</span>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th></th>
            <th class="text-right" ng-bind="ctrl.valueTitle|translate"></th>
            <th class="text-right" ng-if="ctrl.rating == 'specs'" translate>users/rating/specs-volume</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in ctrl.users">
            <td ng-bind="$index + 1"></td>
            <td><autowp-user user="row.user"></autowp-user></td>
            <td>
                <div ng-if="row.brands.length > 0">
                    <a ng-repeat-start="brand in row.brands" href="{{brand.url}}" ng-bind="brand.name"></a><span ng-repeat-end>, </span>
                    …
                </div>
                <small ng-if="row.fans.length > 0">
                    <autowp-user ng-repeat-start="fan in row.fans" user="fan.user"></autowp-user>
                    <span class="badge badge-pill badge-secondary" ng-bind="(fan.volume > 0 ? '+' : '') + fan.volume"></span>
                    <span ng-repeat-end>, </span>
                    …
                </small>
            </td>{{ number_expression | number : fractionSize}}
            <td class="text-right" ng-bind="row.volume | number: 0"></td>
            <td class="text-right" ng-class="{danger: row.weight < 0.50, warning: row.weight >= 0.50 && row.weight < 1.50}" ng-if="ctrl.rating == 'specs'" ng-bind="row.weight | number : 2"></td>
        </tr>
    </tbody>
</table>
