<div btf-markdown="'moder/markdown/description'|translate"></div>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{'moder/markdown/edit'|translate}}">
        <md-input-container class="md-block">
            <textarea ng-model="text" md-maxlength="65536" rows="1" aria-label="Text"></textarea>
        </md-input-container>
    </md-tab>
    <md-tab label="{{'moder/markdown/preview'|translate}}" ng-disabled="!text.length">
        <div class="well">
            <div btf-markdown="text"></div>
        </div>
    </md-tab>
</md-tabs>
<button class="btn btn-primary" ng-click="save()">{{'submit'|translate}}</button>