<ul class="nav nav-pills" style="margin-bottom: 20px">
    <li ng-if="ctrl.isModer">
        <a ui-sref="moder-items-item({id: ctrl.item.id})">
            <i class="fa fa-cog"></i>
            {{'moder/edit-object'|translate}}
            <span ng-bind-html="ctrl.item.name_html"></span>
        </a>
    </li>
    <li>
        <a ui-sref="cars-attrs-change-log({item_id: ctrl.item.id})">
            <i class="fa fa-list"></i>
            {{'specifications-editor/log'|translate}}
        </a>
    </li>
</ul>


<?php if ($this->user()->get()['specs_weight'] < 1) { ?>
    <div class="alert alert-danger" btf-markdown="'specifications-editor/errors-alert'|translate"></div>
<?php } ?>

<ul class="nav nav-tabs" id="myTab">
    <li ng-repeat="(id, tab) in ctrl.tabs" ng-class="{active: id == ctrl.tab}">
        <a ui-sref="cars-specifications-editor({tab: id})">
            <span class="{{tab.icon}}" ng-if="tab.icon"></span>
            {{tab.title | translate}}
            <span class="badge" ng-if="tab.count" ng-bind="tab.count"></span>
        </a>
    </li>
</ul>

<div class="tab-content well">
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'info'}" id="info">
        <div btf-markdown="'specifications-editor/description'|translate"></div>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'engine'}" id="engine" ng-if="ctrl.item.item_type_id == 1">
        <h2 translate>specifications-editor/engine</h2>

        <div ng-if="ctrl.isAllowedEditEngine">
            <div ng-if="ctrl.engine">
                <p><a ui-sref="moder-items-item({id: ctrl.engine.id})" ng-bind-html="ctrl.engine.name_html"></a></p>
                <h6 ng-repeat="car in ctrl.engineInheritedFrom" ng-if="ctrl.engineInherited"><em>
                    {{'specifications-editor/engine/inherited-from'|translate}}
                    <a ng-href="{{car.url}}" ng-bind-html="car.name_html"></a>
                </em></h6>
                <a ui-sref="cars-select-engine({item_id: ctrl.item.id})" class="btn btn-primary" translate>specifications-editor/engine/select-another</a>
                <button class="btn btn-warning" ng-click="ctrl.cancelInheritance()" translate>specifications-editor/engine/cancel</button>
                <button class="btn btn-warning" ng-click="ctrl.inheritEngine()" ng-if="!ctrl.engineInherited" translate>specifications-editor/engine/inherit</button>
            </div>
            <div ng-if="!ctrl.engine">
                <p translate>specifications-editor/engine/not-selected</p>
                <a ui-sref="cars-select-engine({item_id: ctrl.item.id})" class="btn btn-primary" translate>specifications-editor/engine/select</a>
                <button class="btn btn-warning" ng-click="ctrl.inheritEngine()" ng-if="ctrl.engineInherited" translate>specifications-editor/engine/inherit</button>
                <button class="btn btn-warning" ng-click="ctrl.cancelInheritance()" ng-if="!ctrl.engineInherited" translate>specifications-editor/engine/dont-inherit</button>
            </div>
        </div>
        <div ng-if="ctrl.engine && !ctrl.isAllowedEditEngine">
            <p ng-bind-html="ctrl.engine.name_html"></p>
            <h6 ng-repeat="car in ctrl.engineInheritedFrom" ng-if="ctrl.engineInherited"><em>
                {{'specifications-editor/engine/inherited-from'|translate}}
                <span ng-bind-html="car.name_html"></span>
            </em></h6>
        </div>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'spec'}" id="spec">
        <?=$this->partial('application/cars/partial/form', [
            'form'    => $this->form,
            'data'    => $this->formData,
            'service' => $this->service
        ])?>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'result'}" id="result">
        <div ng-bind-html="ctrl.resultHtml"></div>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'admin'}" id="admin" ng-if="ctrl.isSpecsAdmin">
        <p><a ui-sref="cars-specs-admin({item_id: ctrl.item.id})">Admin</a></p>
        <div>
            <button class="btn btn-default" ng-click="ctrl.refreshInheritance()">Refresh inheritance</button>
        </div>
    </div>
</div>