<ul class="nav nav-pills" style="margin-bottom: 20px">
    <li ng-if="ctrl.isModer">
        <a ui-sref="moder-items-item({id: ctrl.item.id})">
            <i class="fa fa-cog"></i>
            {{'moder/edit-object'|translate}}
            <span ng-bind-html="ctrl.item.name_html"></span>
        </a>
    </li>
    <li>
        <a ui-sref="cars-attrs-change-log({item_id: ctrl.item.id})">
            <i class="fa fa-list"></i>
            {{'specifications-editor/log'|translate}}
        </a>
    </li>
</ul>


<?php if ($this->user()->get()['specs_weight'] < 1) { ?>
    <div class="alert alert-danger" autowp-markdown="'specifications-editor/errors-alert'|translate"></div>
<?php } ?>

<ul class="nav nav-tabs" id="myTab">
    <li ng-repeat="(id, tab) in ctrl.tabs" ng-class="{active: id == ctrl.tab}">
        <a ui-sref="cars-specifications-editor({tab: id})">
            <span class="{{tab.icon}}" ng-if="tab.icon"></span>
            {{tab.title | translate}}
            <span class="badge" ng-if="tab.count" ng-bind="tab.count"></span>
        </a>
    </li>
</ul>

<div class="tab-content well">
    <span ng-show="ctrl.loading > 0">
        <i class="fa fa-spinner fa-spin fa-fw fa-4x"></i>
    </span>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'info'}" id="info">
        <div autowp-markdown="'specifications-editor/description'|translate"></div>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'engine'}" id="engine" ng-if="ctrl.item.item_type_id == 1">
        <h2 translate>specifications-editor/engine</h2>

        <div ng-if="ctrl.isAllowedEditEngine">
            <div ng-if="ctrl.engine">
                <p><a ui-sref="moder-items-item({id: ctrl.engine.id})" ng-bind-html="ctrl.engine.name_html"></a></p>
                <h6 ng-repeat="car in ctrl.engineInheritedFrom" ng-if="ctrl.engineInherited"><em>
                    {{'specifications-editor/engine/inherited-from'|translate}}
                    <a ng-href="{{car.url}}" ng-bind-html="car.name_html"></a>
                </em></h6>
                <a ui-sref="cars-select-engine({item_id: ctrl.item.id})" class="btn btn-primary" translate>specifications-editor/engine/select-another</a>
                <button class="btn btn-warning" ng-click="ctrl.cancelInheritance()" translate>specifications-editor/engine/cancel</button>
                <button class="btn btn-warning" ng-click="ctrl.inheritEngine()" ng-if="!ctrl.engineInherited" translate>specifications-editor/engine/inherit</button>
            </div>
            <div ng-if="!ctrl.engine">
                <p translate>specifications-editor/engine/not-selected</p>
                <a ui-sref="cars-select-engine({item_id: ctrl.item.id})" class="btn btn-primary" translate>specifications-editor/engine/select</a>
                <button class="btn btn-warning" ng-click="ctrl.inheritEngine()" ng-if="ctrl.engineInherited" translate>specifications-editor/engine/inherit</button>
                <button class="btn btn-warning" ng-click="ctrl.cancelInheritance()" ng-if="!ctrl.engineInherited" translate>specifications-editor/engine/dont-inherit</button>
            </div>
        </div>
        <div ng-if="ctrl.engine && !ctrl.isAllowedEditEngine">
            <p ng-bind-html="ctrl.engine.name_html"></p>
            <h6 ng-repeat="car in ctrl.engineInheritedFrom" ng-if="ctrl.engineInherited"><em>
                {{'specifications-editor/engine/inherited-from'|translate}}
                <span ng-bind-html="car.name_html"></span>
            </em></h6>
        </div>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'spec'}" id="spec">
        <form class="spec-editor-form" ng-submit="ctrl.saveSpecs()">
            <p class="alert alert-danger" ng-if="form.getMessages()">
                <i class="fa fa-exclamation-triangle"></i>
                {{'specifications-editor/not-save'|translate}}
            </p>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-lg-3 col-sm-3" translate>specifications-editor/parameter</th>
                        <th class="col-lg-4 col-sm-4" translate>specifications-editor/your-value</th>
                        <th class="col-lg-2 col-sm-2" translate>specifications-editor/actual-value</th>
                        <th class="col-lg-3 col-sm-3" translate>specifications-editor/all-values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attribute in ctrl.attributes" id="subform-{{attribute.id}}" ng-class="{'subform-header': !!attribute.childs.length, 'has-error': $element.getMessages()}">
                        <td colspan="4" ng-style="{'padding-left': (attribute.deep * 20) + 'px'}" ng-if="attribute.childs.length">
                            <h4 ng-bind="attribute.name | translate"></h4>
                        </td>
                        <td ng-if="!attribute.childs.length">
                            <label ng-style="{'padding-left': (attribute.deep * 20) + 'px'}" ng-bind="attribute.name | translate"></label>
                        </td>
                        <td ng-if="!attribute.childs.length">
                            {{ctrl.currentUserValues[attribute.id]}}
                            <div class="input-group" ng-class="{'has-error': element.getMessages()}">
                                <span class="input-group-addon btn btn-default" 
                                    ng-click="ctrl.currentUserValues[attribute.id].empty = !ctrl.currentUserValues[attribute.id].empty" 
                                    ng-class="{active: attribute.disabled}">
                                    <span class="fa fa-remove"></span>
                                </span>
                                <select class="form-control input-sm" 
                                    ng-if="attribute.type_id == 5"
                                    ng-options="item.id as item.name for item in attribute.options" 
                                    ng-model="ctrl.currentUserValues[attribute.id].value"
                                    ng-disabled="ctrl.currentUserValues[attribute.id].empty"
                                >
                                </select>
                                <select class="form-control input-sm" 
                                    ng-if="(attribute.type_id == 6 || attribute.type_id == 7) && !attribute.is_multiple" 
                                    ng-options="item.id as item.name for item in attribute.options"
                                    ng-model="ctrl.currentUserValues[attribute.id].value"
                                    ng-disabled="ctrl.currentUserValues[attribute.id].empty"
                                >
                                </select>
                                <select class="form-control input-sm"
                                    multiple
                                    ng-if="(attribute.type_id == 6 || attribute.type_id == 7) && attribute.is_multiple" 
                                    ng-options="item.id as item.name for item in attribute.options"
                                    ng-disabled="ctrl.currentUserValues[attribute.id].empty"
                                    ng-model="ctrl.currentUserValues[attribute.id].value"
                                >
                                </select>
                                <input type="number" 
                                    ng-if="attribute.type_id == 2" 
                                    class="form-control input-sm" 
                                    ng-model="ctrl.currentUserValues[attribute.id].value"
                                    ng-disabled="ctrl.currentUserValues[attribute.id].empty"
                                    min="-2147483649"
                                    max="2147483648"
                                />
                                <input type="number" 
                                    ng-if="attribute.type_id == 3" 
                                    class="form-control input-sm" 
                                    ng-model="ctrl.currentUserValues[attribute.id].value"
                                    step="{{ctrl.getStep(attribute)}}"
                                    min="-2147483649"
                                    max="2147483648"
                                    ng-disabled="ctrl.currentUserValues[attribute.id].empty"
                                />
                                <input type="text" 
                                    ng-if="attribute.type_id == 1" 
                                    class="form-control input-sm" 
                                    ng-model="ctrl.currentUserValues[attribute.id].value"
                                    ng-disabled="ctrl.currentUserValues[attribute.id].empty" 
                                />
                                <span ng-if="attribute.unit" class="input-group-addon" translate-attrs="{title: attribute.unit.name}" class="unit" ng-bind="attribute.unit.abbr|translate"></span>
                            </div>
                            <p class="help-block" ng-repeat="error in $element.getMessages()" ng-bind="error"></p>
                            <small ng-if="attribute.description" ng-bind="attribute.description|translate"></small>
                        </td>
                        <td class="actual" ng-if="!attribute.childs.length">
                            <div ng-if="ctrl.values.has(attribute.id)">
                                <em translate ng-if="ctrl.values.get(attribute.id)['value'] === null">account/specs/conflicts/my-value/none</em>
                                <span ng-if="ctrl.values.get(attribute.id)['value'] !== null">
                                    {{ctrl.values.get(attribute.id)['value_text']}}
                                    <span ng-if="attribute.unit" class="unit" translate-attrs="{title: attribute.unit.name}" ng-bind="attribute.unit.abbr|translate"></span>
                                </span>
                            </div>
                        </td>
                        <td ng-if="!attribute.childs.length">
                            <div ng-repeat="value in ctrl.userValues.get(attribute.id)">
                                <em translate ng-if="value.value_text === null">account/specs/conflicts/my-value/none</em>
                                <span ng-if="value.value_text !== null" ng-bind="value.value_text"></span>
                                <autowp-user user="value.user" ng-if="value.user"></autowp-user>
                                <span class="date" ng-if="value.update_date">[<span am-time-ago="value.update_date"></span>]</span>
                            </div>
                        </td>
                    </tr>
                    <tr><td>
                        <button type="submit" class="btn btn-success" translate>specifications-editor/save</button>
                    </td></tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'result'}" id="result">
        <div ng-bind-html="ctrl.resultHtml"></div>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tab == 'admin'}" id="admin" ng-if="ctrl.isSpecsAdmin">
        <p><a ui-sref="cars-specs-admin({item_id: ctrl.item.id})">Admin</a></p>
        <div>
            <button class="btn btn-default" ng-click="ctrl.refreshInheritance()">Refresh inheritance</button>
        </div>
    </div>
</div>