<p>
    <span ng-if="ctrl.prev.revision">
        <i class="fa fa-arrow-left"></i>
        <a ui-sref=".({revision: ctrl.prev.revision})">Previous revision</a>
    </span>
    <span class="pull-right" ng-if="ctrl.next.revision">
        <a ui-sref=".({revision: ctrl.next.revision})">Next revision</a>
        <i class="fa fa-arrow-right"></i>
    </span>
</p>
<div class="row">
    <div class="col-md-6">
        <h3>
            Revision {{ctrl.prev.revision}}
            <small ng-if="ctrl.prev.user"><autowp-user user="ctrl.prev.user"></autowp-user></small>
        </h3>
        <pre ng-bind="ctrl.prev.text"></pre>
    </div>
    <div class="col-md-6">
        <h3>
            Revision {{ctrl.current.revision}}
            <small ng-if="ctrl.current.user"><autowp-user user="ctrl.current.user"></autowp-user></small>
        </h3>
        <pre class="diff" ng-bind="ctrl.current.text"></pre>
    </div>
</div>