<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Pictures</h1>
</div>

<div class="nav nav-pills mb-4">
  <a
    class="nav-link"
    routerLink="/moder/pictures"
    i18n
    [queryParams]="{order: PicturesRequest.Order.ORDER_ADD_DATE_DESC, status: 'inbox'}"
    >Inbox</a
  >
  <a
    class="nav-link"
    routerLink="/moder/pictures"
    i18n
    [queryParams]="{
      order: PicturesRequest.Order.ORDER_ADD_DATE_DESC,
      status: 'accepted',
      perspective_id: 'null',
      type_id: 1,
    }"
    >Missing perspective</a
  >
  <a
    class="nav-link"
    routerLink="/moder/pictures"
    i18n
    [queryParams]="{order: PicturesRequest.Order.ORDER_REMOVING_DATE, status: 'removing'}"
    >Delete queue</a
  >
  <a
    class="nav-link"
    routerLink="/moder/pictures"
    i18n
    [queryParams]="{order: PicturesRequest.Order.ORDER_ADD_DATE_DESC, requests: 3, status: 'custom1'}"
    >Votes</a
  >
  <a
    class="nav-link"
    routerLink="/moder/pictures"
    i18n
    [queryParams]="{order: PicturesRequest.Order.ORDER_COMMENTS, comments: 1}"
    >Comments</a
  >
  <a
    class="nav-link"
    routerLink="/moder/pictures"
    i18n
    [queryParams]="{order: PicturesRequest.Order.ORDER_MODER_VOTES, requests: 3, status: 'custom1'}"
    >New votes</a
  >
  <a
    class="nav-link"
    routerLink="/moder/pictures"
    i18n
    [queryParams]="{order: PicturesRequest.Order.ORDER_ADD_DATE_DESC, status: 'inbox', replace: 'true'}"
    >Replaces</a
  >
</div>
<div class="row">
  <div class="col-lg-4 col-md-4">
    <h2 i18n>Filter</h2>
    <div class="card card-body">
      <div class="btn-group mb-3" ngbDropdown>
        <button
          class="btn btn-block"
          ngbDropdownToggle
          type="button"
          [class.btn-primary]="status() !== null"
          [class.btn-outline-secondary]="status() === null"
        >
          <ng-container i18n>Status</ng-container>:
          @for (option of statusOptions; track option) {
            @if (option.value === status()) {
              {{ option.name }}
            }
          }
        </button>
        <div ngbDropdownMenu>
          @for (option of statusOptions; track option) {
            <a
              class="dropdown-item"
              routerLink="."
              queryParamsHandling="merge"
              [class.active]="option.value === status()"
              [queryParams]="{status: option.value}"
              >{{ option.name }}</a
            >
          }
        </div>
      </div>
      <div class="btn-group mb-3" ngbDropdown>
        <button
          class="btn btn-block"
          ngbDropdownToggle
          type="button"
          [class.btn-primary]="vehicleTypeID() !== null"
          [class.btn-outline-secondary]="vehicleTypeID() === null"
        >
          <ng-container i18n>Vehicle type</ng-container>:
          @for (option of vehicleTypeOptions$ | async; track option.value) {
            @if (option.value === vehicleTypeID()) {
              {{ option.name }}
            }
          }
        </button>
        <div ngbDropdownMenu style="max-height: 200px; overflow-y: auto">
          @for (option of vehicleTypeOptions$ | async; track option.value) {
            <a
              class="dropdown-item"
              routerLink="."
              queryParamsHandling="merge"
              [class.active]="option.value === vehicleTypeID()"
              [queryParams]="{vehicle_type_id: option.value}"
              >{{ '...'.repeat(option.deep) }}{{ option.name }}</a
            >
          }
        </div>
      </div>
      <div class="btn-group mb-3" ngbDropdown>
        <button
          class="btn btn-block"
          ngbDropdownToggle
          type="button"
          [class.btn-primary]="perspectiveID() !== null"
          [class.btn-outline-secondary]="perspectiveID() === null"
        >
          <ng-container i18n>Perspective</ng-container>:
          @for (option of perspectiveOptions$ | async; track option.value) {
            @if (option.value === perspectiveID()) {
              {{ option.name }}
            }
          }
        </button>
        <div ngbDropdownMenu style="max-height: 200px; overflow-y: auto">
          @for (option of perspectiveOptions$ | async; track option.value) {
            <a
              class="dropdown-item"
              routerLink="."
              queryParamsHandling="merge"
              [class.active]="option.value === perspectiveID()"
              [queryParams]="{perspective_id: option.value}"
              >{{ option.name }}</a
            >
          }
        </div>
      </div>

      <ng-template #itemTemplate let-model="result">
        <span [innerHTML]="model.nameHtml"></span>
      </ng-template>
      <div class="input-group mb-3">
        <input
          name="item"
          placeholder="Item"
          i18n-placeholder
          class="form-control"
          [ngbTypeahead]="itemsDataSource"
          [formControl]="itemQuery"
          [inputFormatter]="itemFormatter"
          [resultTemplate]="itemTemplate"
          [class.border-primary]="itemID()"
          (selectItem)="itemOnSelect($event)"
        />
        <button class="btn btn-outline-secondary" type="button" [disabled]="!itemID()" (click)="clearItem()">
          <span class="bi bi-x" aria-hidden="true"></span>
        </button>
      </div>

      <div class="input-group mb-3">
        <input
          name="exclude_item"
          placeholder="Exclude item"
          i18n-placeholder
          class="form-control"
          [ngbTypeahead]="itemsDataSource"
          [formControl]="excludeItemQuery"
          [inputFormatter]="itemFormatter"
          [resultTemplate]="itemTemplate"
          [class.border-primary]="excludeItemID()"
          (selectItem)="excludeItemOnSelect($event)"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          [disabled]="!excludeItemID()"
          (click)="clearExcludeItem()"
        >
          <span class="bi bi-x" aria-hidden="true"></span>
        </button>
      </div>

      <div class="btn-group mb-3" ngbDropdown>
        <button
          class="btn btn-block"
          ngbDropdownToggle
          type="button"
          [class.btn-primary]="comments() !== null"
          [class.btn-outline-secondary]="comments() === null"
        >
          <ng-container i18n>Comments</ng-container>:
          @for (option of commentsOptions; track option) {
            @if (option.value === comments()) {
              {{ option.name }}
            }
          }
        </button>
        <div ngbDropdownMenu>
          @for (option of commentsOptions; track option) {
            <a
              class="dropdown-item"
              routerLink="."
              queryParamsHandling="merge"
              [class.active]="option.value === comments()"
              [queryParams]="{comments: option.value}"
              >{{ option.name }}</a
            >
          }
        </div>
      </div>

      <ng-template #ownerTemplate let-model="result">
        <span [innerHTML]="model.name"></span>
      </ng-template>
      <div class="input-group mb-3">
        <input
          name="owner"
          placeholder="Uploaded by"
          i18n-placeholder
          class="form-control"
          [ngbTypeahead]="ownersDataSource"
          [formControl]="ownerQuery"
          [inputFormatter]="ownerFormatter"
          [resultTemplate]="ownerTemplate"
          [class.border-primary]="ownerID()"
          (selectItem)="ownerOnSelect($event)"
        />
        <button class="btn btn-outline-secondary" type="button" [disabled]="!ownerID()" (click)="clearOwner()">
          <span class="bi bi-x" aria-hidden="true"></span>
        </button>
      </div>

      <div class="btn-group mb-3" ngbDropdown>
        <button
          class="btn btn-block"
          ngbDropdownToggle
          type="button"
          [class.btn-primary]="replace() !== null"
          [class.btn-outline-secondary]="replace() === null"
        >
          <ng-container i18n>Replacement</ng-container>:
          @for (option of replaceOptions; track option) {
            @if (option.value === replace()) {
              {{ option.name }}
            }
          }
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          @for (option of replaceOptions; track option) {
            <a
              class="dropdown-item"
              routerLink="."
              queryParamsHandling="merge"
              [class.active]="option.value === replace()"
              [queryParams]="{replace: option.value}"
              >{{ option.name }}</a
            >
          }
        </div>
      </div>
      <div class="btn-group mb-3" ngbDropdown>
        <button
          class="btn btn-block"
          ngbDropdownToggle
          type="button"
          [class.btn-primary]="requests() !== null"
          [class.btn-outline-secondary]="requests() === null"
        >
          <ng-container i18n>Votes</ng-container>:
          @for (option of requestsOptions; track option) {
            @if (option.value === requests()) {
              {{ option.name }}
            }
          }
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          @for (option of requestsOptions; track option) {
            <li role="menuitem">
              <a
                class="dropdown-item"
                routerLink="."
                queryParamsHandling="merge"
                [class.active]="option.value === requests()"
                [queryParams]="{requests: option.value}"
                >{{ option.name }}</a
              >
            </li>
          }
        </ul>
      </div>

      <div class="mb-3">
        <label i18n for="added_from">Added from (date)</label>
        <input
          type="text"
          name="added_from"
          id="added_from"
          class="form-control"
          placeholder="2010-01-28"
          [formControl]="addedFrom"
        />
      </div>

      <a
        class="btn mb-3"
        routerLink="."
        queryParamsHandling="merge"
        [class.btn-primary]="specialName()"
        [class.btn-outline-secondary]="!specialName()"
        [queryParams]="{special_name: specialName() ? null : 'true'}"
      >
        <ng-container i18n>Special name only</ng-container>
      </a>

      <a
        class="btn mb-3"
        routerLink="."
        queryParamsHandling="merge"
        [class.btn-primary]="lost()"
        [class.btn-outline-secondary]="!lost()"
        [queryParams]="{lost: lost() ? null : 'true'}"
      >
        <ng-container i18n>Not linked</ng-container>
      </a>

      <a
        class="btn mb-3"
        routerLink="."
        queryParamsHandling="merge"
        [class.btn-primary]="gps()"
        [class.btn-outline-secondary]="!gps()"
        [queryParams]="{gps: gps() ? null : 'true'}"
      >
        <ng-container i18n>With coordinates</ng-container>
      </a>

      <a
        class="btn mb-3"
        routerLink="."
        queryParamsHandling="merge"
        [class.btn-primary]="similar()"
        [class.btn-outline-secondary]="!similar()"
        [queryParams]="{similar: similar() ? null : 'true'}"
      >
        <ng-container i18n>Similar</ng-container>
      </a>

      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-outline-secondary btn-block" ngbDropdownToggle type="button" id="dropdownMenuButton">
          <ng-container i18n>Order by</ng-container>:
          @for (option of orderOptions; track option) {
            @if (option.value === order()) {
              {{ option.name }}
            }
          }
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          @for (option of orderOptions; track option) {
            <a
              class="dropdown-item"
              routerLink="."
              queryParamsHandling="merge"
              [class.active]="option.value === order()"
              [queryParams]="{order: option.value}"
              >{{ option.name }}</a
            >
          }
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <h2>
      <ng-container i18n>Pictures</ng-container>

      @if (data$ | async; as data) {
        @if (data.paginator; as paginator) {
          @if (paginator.totalItemCount) {
            <small i18n="@@n-pictures">{paginator.totalItemCount, plural,
              one {{{paginator.totalItemCount}} picture}
              other {{{paginator.totalItemCount}} pictures}
            }</small>
          }
        }
      } @else {
        <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
      }
    </h2>

    <div style="margin-bottom: 20px">
      <div class="btn-group">
        @if (data$ | async; as data) {
          <button
            type="button"
            class="btn btn-success"
            i18n
            [disabled]="!hasSelectedItem()"
            (click)="acceptPictures(data.pictures)"
          >
            Accept
          </button>
        }
        <div class="btn-group" ngbDropdown>
          <button class="btn btn-success" ngbDropdownToggle type="button" [disabled]="!hasSelectedItem()">
            <ng-container i18n>Want accept</ng-container>
            <span class="caret" aria-hidden="true"></span>
          </button>
          @if (data$ | async; as data) {
            <div ngbDropdownMenu>
              @for (template of moderVoteTemplateOptions$ | async; track template) {
                <div role="menuitem">
                  @if (template.vote > 0) {
                    <button
                      type="button"
                      class="btn btn-link dropdown-item"
                      (click)="votePictures(data.pictures, template.vote, template.message)"
                    >
                      {{ template.message }}
                    </button>
                  }
                </div>
              }
            </div>
          }
        </div>
        <div class="btn-group" ngbDropdown>
          <button class="btn btn-danger" ngbDropdownToggle type="button" [disabled]="!hasSelectedItem()">
            <ng-container i18n>Want delete</ng-container>
            <span class="caret" aria-hidden="true"></span>
          </button>
          @if (data$ | async; as data) {
            <div ngbDropdownMenu>
              @for (template of moderVoteTemplateOptions$ | async; track template) {
                <div role="menuitem">
                  @if (template.vote < 0) {
                    <a
                      tabindex="0"
                      class="dropdown-item"
                      (click)="votePictures(data.pictures, template.vote, template.message)"
                      (keyup.enter)="votePictures(data.pictures, template.vote, template.message)"
                      >{{ template.message }}</a
                    >
                  }
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>

    @if (data$ | async; as data) {
      @if (data.paginator) {
        <app-paginator [data]="data.paginator" />
      }
      @for (chunk of data.chunks; track chunk) {
        <div class="row">
          @for (picture of chunk; track picture) {
            <div class="col-sm-4">
              <app-thumbnail
                [picture]="picture"
                [route]="['/picture', picture.identity]"
                [selectable]="true"
                (selected)="onPictureSelect($event, picture)"
              />
            </div>
          }
        </div>
      }
      @if (data.paginator) {
        <app-paginator [data]="data.paginator" />
      }
    }
  </div>
</div>
