<div class="row">
  <div class="col-lg-8 mb-4 order-2">
    <div class="card card-body">
      <app-markdown [markdown]="'account/delete/text'|translate"></app-markdown>
      <hr />
      <form class="form-horizontal" (submit)="submit()">
        <fieldset>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="password_old" translate>user/password</label>
            <div class="col-md-10">
              <input type="password" size="50" maxlength="50" name="password_old" class="form-control" [(ngModel)]="form.password_old"
                [class.is-invalid]="invalidParams && invalidParams.password_old">
              <p *ngFor="let message of invalidParams | invalidParams : 'password_old'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-2">
              <button type="submit" class="btn btn-primary" translate>send</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-lg-4 mb-4 order-1">
    <app-account-sidebar></app-account-sidebar>
  </div>
</div>
