<form class="well form-vertical" ng-submit="ctrl.save()">
    <div class="form-group">
        <label translate>page/parent</label>
        <select ng-model="ctrl.item.parent_id" name="parent_id" class="form-control">
            <option value="">None</option>
            <option ng-repeat="page in ctrl.pages" value="{{page.id}}">
                {{'...'.repeat(page.level)}}{{'page/'+page.id+'/name' | translate}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label translate>page/name</label>
        <input ng-model="ctrl.item.name" name="name" maxlength="255" class="form-control" />
    </div>
    <div class="form-group">
        <label>Title</label>
        <input ng-model="ctrl.item.title" name="title" maxlength="255" class="form-control" />
    </div>
    <div class="form-group">
        <label>Breadcrumbs</label>
        <input ng-model="ctrl.item.breadcrumbs" name="breadcrumbs" maxlength="255" class="form-control" />
    </div>
    <div class="form-group">
        <label>URL</label>
        <input ng-model="ctrl.item.url" name="url" maxlength="255" class="form-control" />
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="is_group_node" ng-model="ctrl.item.is_group_node" /> 
                {{'page/is_group_node'|translate}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="registered_only" ng-model="ctrl.item.registered_only" /> 
                {{'page/registered_only'|translate}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="guest_only" ng-model="ctrl.item.guest_only" /> 
                {{'page/guests_only'|translate}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label translate>page/class</label>
        <input ng-model="ctrl.item.class" name="class" maxlength="255" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" translate>send</button>
        <span ng-show="ctrl.loading > 0">
            <i class="fa fa-spinner fa-spin fa-fw fa-3x"></i>
        </span>
    </div>
</form>
