<div class="row" *ngFor="let theme of themes">
  <div class="col-md-6">
    <div class="card card-body mb-4">
      <p ngPreserveWhitespaces>
        <i class="fa fa-th-list"></i>
        <strong>
          <a [routerLink]="['/forums', theme.id]" [textContent]="theme.name|translate"></a>
        </strong>
      </p>
      <p [textContent]="theme.description|translate" *ngIf="theme.description"></p>
      <p [translateParams]="{topics: theme.topics_count, messages: theme.messages_count}" translate>{{'{topics} topics and {messages} messages'}}</p>
      <div *ngIf="theme.subthemes && theme.subthemes.length > 0" ngPreserveWhitespaces>
        {{'forums/subforums'|translate}}
        <a [href]="subtheme.url" *ngFor="let subtheme of theme.subthemes" [textContent]="subtheme.name|translate"></a>
      </div>
      <p *ngIf="!theme.subthemes">
        <a [routerLink]="['/forums', theme.id]" translate>forums/go-to-theme</a>
      </p>
    </div>
  </div>
  <div class="col-md-6" *ngIf="theme.last_topic">
    <div class="m-4 transparent">
      <div *ngIf="theme.last_message" ngPreserveWhitespaces>
        <p>
          <i class="fa fa-comment"></i>
          <a [routerLink]="['/forums/topic', theme.last_topic.id]" [translateParams]="{topic_name: theme.last_topic.name}" translate>{{'forums/last-message-in-topic-{topic_name}'}}</a>
        </p>
        <p>
          <app-past-time-indicator [date]="theme.last_message.datetime"></app-past-time-indicator>
          <app-user [user]="theme.last_message.user" *ngIf="theme.last_message.user"></app-user>
          <a [routerLink]="['/forums/message', theme.last_message.id]" [title]="'forums/go-to-last-message'|translate">
            <i class="fa fa-share"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="theme && !theme.disable_topics">

  <a [routerLink]="['/forums/new-topic', theme.id]" class="btn btn-info">
    <i class="fa fa-comment"></i>
    {{'forums/create-new-topic'|translate}}
  </a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th translate>forums/theme/topics</th>
        <th translate>forums/theme/author</th>
        <th translate>forums/theme/last-message</th>
        <th *ngIf="forumAdmin"></th>
      </tr>
    </thead>
    <tbody *ngIf="theme">
      <tr *ngFor="let topic of theme.topics.items">
        <td ngPreserveWhitespaces>
          <span class="fa fa-lock" *ngIf="topic.status == 'closed'"></span>
          <a [routerLink]="['/forums/topic', topic.id]" [textContent]="topic.name"></a>
          <span class="badge badge-pill badge-secondary">
            {{topic.old_messages + (topic.new_messages > 0 ? '+' + topic.new_messages : '')}}
          </span>
        </td>
        <td>
          <app-past-time-indicator [date]="topic.add_datetime"></app-past-time-indicator>
          <br />
          <app-user [user]="topic.author" *ngIf="topic.author"></app-user>
        </td>
        <td ngPreserveWhitespaces>
          <div *ngIf="topic.last_message">
            <ng-container *ngIf="topic.last_message.datetime">
              <small>
                <app-past-time-indicator [date]="topic.last_message.datetime"></app-past-time-indicator>
              </small>
              <br />
            </ng-container>
            <app-user [user]="topic.last_message.user" *ngIf="topic.last_message.user"></app-user>
            <a [routerLink]="['/forums/message', topic.last_message.id]" [title]="'forums/go-to-last-message'|translate">
              <i class="fa fa-share"></i>
            </a>
          </div>
          <span *ngIf="!topic.last_message">&#x2014;</span>
        </td>
        <td *ngIf="forumAdmin" ngPreserveWhitespaces>
          <div class="btn-group">
            <button [title]="'forums/topic/open'|translate" class="btn btn-sm btn-warning open" (click)="openTopic(topic)" *ngIf="topic.status == 'closed'">
              <i class="fa fa-check-circle"></i>
            </button>
            <button [title]="'forums/topic/close'|translate" class="btn btn-sm btn-warning close-topic" (click)="closeTopic(topic)" *ngIf="topic.status != 'closed'">
              <i class="fa fa-times-circle"></i>
            </button>
            <a routerLink="/forums/move-topic" [queryParams]="{topic_id: topic.id}" class="btn btn-secondary btn-sm" [title]="'forums/topic/move'|translate">
              <i class="fa fa-share"></i>
            </a>
            <button [title]="'forums/topic/delete'|translate" class="btn btn-sm btn-danger delete" (click)="deleteTopic(topic)">
              <i class="fa fa-ban"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-paginator [data]="theme.topics.paginator" *ngIf="theme.topics.paginator"></app-paginator>
</div>

<p class="text-right small" *ngIf="theme" translate [translateParams]="{topics: theme.topics_count, messages: theme.messages_count}">{{'{topics} topics and {messages} messages'}}</p>
