<div class="card card-body mb-4" *ngIf="voting">
  <p style="white-space:pre-line" [textContent]="voting.text"></p>
  <hr />

  <form *ngIf="voting.can_vote" (submit)="vote()">
    <ul class="unstyled">
      <li *ngFor="let variant of voting.variants">
        <label class="checkbox inline" *ngIf="voting.multivariant">
          <input type="checkbox" name="variant" [(ngModel)]="selected[variant.id]" /> {{variant.name|translate}}
        </label>
        <label class="radio inline" *ngIf="!voting.multivariant">
          <input type="radio" name="variant" [(ngModel)]="selected" [value]="variant.id" /> {{variant.name|translate}}
        </label>

        <p class="text-info" *ngIf="variant.text" [textContent]="variant.text"></p>
      </li>
    </ul>
    <button type="submit" class="btn btn-primary" [disabled]="!isVariantSelected()" translate>votings/do-vote</button>
  </form>

  <ng-container *ngIf="!voting.can_vote">
    <div *ngFor="let variant of voting.variants" class="mb-3">
      <p class="float-right" *ngIf="variant.votes > 0">
        <a class="who-vote" href="#" translate (click)="showWhoVoted(variant)">votings/who-voted</a>
      </p>
      {{variant.name}}
      <p class="text-info" *ngIf="variant.text" [textContent]="variant.text"></p>
      <ngb-progressbar style="clear:both" [type]="variant.is_max ? 'success' : variant.is_min ? 'danger' : 'primary'" [value]="variant.percent">{{variant.votes > 0 ? variant.votes : ''}}</ngb-progressbar>
    </div>
  </ng-container>
</div>
<!--<p class="float-right" *ngIf="isModer">
  <a routerLink="." [queryParams]="{filter: null}" *ngIf="filter" translate>votings/voting/voters/show-all</a>
  <a routerLink="." [queryParams]="{filter: 1}" *ngIf="!filter" translate>votings/voting/voters/show-contributors</a>
</p>-->

<p *ngIf="voting" [translateParams]="{from: (voting.begin_date | amDateFormat : 'LL'), to: (voting.end_date | amDateFormat : 'LL')}"
  translate>votings/voting/duration</p>

<app-comments [itemID]="voting.id" [typeID]="3" *ngIf="voting"></app-comments>
