<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card card-body">
            <div autowp-markdown="'restore-password/text'|translate"></div>
            <form class="form-horizontal" ng-submit="ctrl.submit()"><fieldset>
                <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.email}">
                    <label class="col-md-2 control-label" for="email">E-mail</label>
                    <div class="col-md-10">
                        <input type="text" name="email" maxlength="255" size="80" autocomplete="email" class="form-control" ng-model="ctrl.form.email">
                        <p ng-repeat="message in ctrl.invalidParams.email" ng-bind="message" class="help-block"></p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.captcha}" ng-if="ctrl.showCaptcha">
                    <div class="col-md-10 offset-md-2">
                        <div vc-recaptcha key="ctrl.recaptchaKey" ng-if="ctrl.recaptchaKey" ng-model="ctrl.form.captcha"></div>
                        <p ng-repeat="message in ctrl.invalidParams.captcha" ng-bind="message" class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary" translate>submit</button>
                    </div>
                </div>
            </fieldset></form>
        </div>

        <p ng-if="ctrl.failure" translate>restore-password/new-password/email-not-found</p>
    </div>
</div>
