<table class="table">
    <thead>
        <tr>
            <td>Дата</td>
            <td>Жертвователь</td>
            <td>Сумма</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in ctrl.items">
            <td am-time-ago="item.date"></td>
            <td>
                <autowp-user user="item.user" ng-if="item.user"></autowp-user>
            </td>
            <td>
                {{item.sum | number : 2}} {{item.currency}}
            </td>
        </tr>
    </tbody>
</table>
