<div class="nav nav-pills mb-4">
  <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{order: 1, status: 'inbox'}" translate>moder/picture/inbox</a>
  <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{order: 1, status: 'accepted', perspective_id: 'null', type_id: 1}"
    translate>moder/picture/missing-perspective</a>
  <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{order: 11, status: 'removing'}" translate>moder/picture/delete-queue</a>
  <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{order: 1, requests: 3, status: 'custom1'}" translate>moder/picture/votes</a>
  <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{order: 7, comments: 1}" translate>moder/picture/comments</a>
  <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{order: 9, requests: 3, status: 'custom1'}" translate>moder/picture/new-votes</a>
  <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{order: 1, status: 'inbox', replace: 1}" translate>moder/picture/replaces</a>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4">
    <h2 translate>moder/pictures/filter</h2>
    <div class="card card-body">
      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-block" ngbDropdownToggle [class.btn-primary]="status !== null" [class.btn-outline-secondary]="status === null"
          type="button" id="dropdownMenuButton">
          {{'moder/picture/filter/status'|translate}}:
          <ng-container *ngFor="let option of statusOptions">
            <ng-container *ngIf="option.value === status">{{option.name|translate}}</ng-container>
          </ng-container>
        </button>
        <div ngbDropdownMenu>
          <a *ngFor="let option of statusOptions" class="dropdown-item" [class.active]="option.value === status" routerLink="." [queryParams]="{status: option.value}"
            queryParamsHandling="merge">{{option.name|translate}}</a>
        </div>
      </div>
      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-block" ngbDropdownToggle [class.btn-primary]="vehicleTypeID !== null" [class.btn-outline-secondary]="vehicleTypeID === null"
          type="button" id="dropdownMenuButton">
          {{'moder/picture/filter/vehicle-type'|translate}}:
          <ng-container *ngFor="let option of vehicleTypeOptions">
            <ng-container *ngIf="option.value === vehicleTypeID">{{option.name|translate}}</ng-container>
          </ng-container>
        </button>
        <div ngbDropdownMenu style="max-height:200px;overflow-y:auto">
          <a *ngFor="let option of vehicleTypeOptions" class="dropdown-item" [class.active]="option.value === vehicleTypeID" routerLink="."
            [queryParams]="{vehicle_type_id: option.value}" queryParamsHandling="merge">{{'...'.repeat(option.deep)}}{{option.name|translate}}</a>
        </div>
      </div>
      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-block" ngbDropdownToggle [class.btn-primary]="perspectiveID !== null" [class.btn-outline-secondary]="perspectiveID === null"
          type="button" id="dropdownMenuButton">
          {{'moder/pictures/filter/perspective'|translate}}:
          <ng-container *ngFor="let option of perspectiveOptions">
            <ng-container *ngIf="option.value === perspectiveID">{{option.name|translate}}</ng-container>
          </ng-container>
        </button>
        <div ngbDropdownMenu style="max-height:200px;overflow-y:auto">
          <a *ngFor="let option of perspectiveOptions" class="dropdown-item" [class.active]="option.value === perspectiveID" routerLink="."
            [queryParams]="{perspective_id: option.value}" queryParamsHandling="merge">{{option.name|translate}}</a>
        </div>
      </div>

      <ng-template #itemTemplate let-model="result">
        <span [innerHTML]="model.name_html"></span>
      </ng-template>
      <div class="input-group mb-3">
        <input [ngbTypeahead]="itemsDataSource" name="item" [(ngModel)]="itemQuery" [inputFormatter]="itemFormatter" (selectItem)="itemOnSelect($event)"
          [resultTemplate]="itemTemplate" [placeholder]="'moder/picture/filter/item'|translate" class="form-control" [class.border-primary]="itemID">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" [disabled]="!itemID" (click)="clearItem()">
            <span class="fa fa-close"></span>
          </button>
        </div>
      </div>

      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-block" ngbDropdownToggle [class.btn-primary]="comments !== null" [class.btn-outline-secondary]="comments === null"
          type="button" id="dropdownMenuButton">
          {{'moder/pictures/filter/comments'|translate}}:
          <ng-container *ngFor="let option of commentsOptions">
            <ng-container *ngIf="option.value === comments">{{option.name|translate}}</ng-container>
          </ng-container>
        </button>
        <div ngbDropdownMenu>
          <a *ngFor="let option of commentsOptions" class="dropdown-item" [class.active]="option.value === comments" routerLink="."
            [queryParams]="{comments: option.value}" queryParamsHandling="merge">{{option.name|translate}}</a>
        </div>
      </div>

      <ng-template #ownerTemplate let-model="result">
        <span [innerHTML]="model.name"></span>
      </ng-template>
      <div class="input-group mb-3">
        <input [ngbTypeahead]="ownersDataSource" name="owner" [(ngModel)]="ownerQuery" [inputFormatter]="ownerFormatter" (selectItem)="ownerOnSelect($event)"
          [resultTemplate]="ownerTemplate" [placeholder]="'moder/picture/filter/owner'|translate" class="form-control" [class.border-primary]="ownerID">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" [disabled]="!ownerID" (click)="clearOwner()">
            <span class="fa fa-close"></span>
          </button>
        </div>
      </div>

      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-block" ngbDropdownToggle [class.btn-primary]="replace !== null" [class.btn-outline-secondary]="replace === null"
          type="button" id="dropdownMenuButton">
          {{'moder/pictures/filter/replace'|translate}}:
          <ng-container *ngFor="let option of replaceOptions">
            <ng-container *ngIf="option.value === replace">{{option.name|translate}}</ng-container>
          </ng-container>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <a *ngFor="let option of replaceOptions" class="dropdown-item" [class.active]="option.value === replace" routerLink="." [queryParams]="{replace: option.value}"
            queryParamsHandling="merge">{{option.name|translate}}</a>
        </div>
      </div>
      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-block" ngbDropdownToggle [class.btn-primary]="requests !== null" [class.btn-outline-secondary]="requests === null"
          type="button" id="dropdownMenuButton">
          {{'moder/pictures/filter/votes'|translate}}:
          <ng-container *ngFor="let option of requestsOptions">
            <ng-container *ngIf="option.value === requests">{{option.name|translate}}</ng-container>
          </ng-container>
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <li role="menuitem" *ngFor="let option of requestsOptions">
            <a class="dropdown-item" [class.active]="option.value === requests" routerLink="." [queryParams]="{requests: option.value}"
              queryParamsHandling="merge">{{option.name|translate}}</a>
          </li>
        </ul>
      </div>

      <a class="btn mb-3" [class.btn-primary]="specialName" [class.btn-outline-secondary]="!specialName" routerLink="."
        [queryParams]="{special_name: specialName ? null : 'true'}" queryParamsHandling="merge">
        {{'moder/picture/filter/special-name'|translate}}
      </a>

      <a class="btn mb-3" [class.btn-primary]="lost" [class.btn-outline-secondary]="!lost" routerLink="." [queryParams]="{lost: lost ? null : 'true'}"
        queryParamsHandling="merge">
        {{'moder/picture/filter/not-linked'|translate}}
      </a>

      <a class="btn mb-3" [class.btn-primary]="gps" [class.btn-outline-secondary]="!gps" routerLink="." [queryParams]="{gps: gps ? null : 'true'}"
        queryParamsHandling="merge">
        {{'moder/picture/filter/gps'|translate}}
      </a>

      <a class="btn mb-3" [class.btn-primary]="similar" [class.btn-outline-secondary]="!similar" routerLink="."
        [queryParams]="{similar: similar ? null : 'true'}" queryParamsHandling="merge">
        {{'moder/picture/filter/similar'|translate}}
      </a>

      <div class="btn-group mb-3" ngbDropdown>
        <button class="btn btn-outline-secondary btn-block" ngbDropdownToggle type="button" id="dropdownMenuButton">
          {{'moder/picture/filter/order'|translate}}:
          <ng-container *ngFor="let option of orderOptions">
            <ng-container *ngIf="option.value === order">{{option.name|translate}}</ng-container>
          </ng-container>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <a *ngFor="let option of orderOptions" class="dropdown-item" [class.active]="option.value === order" routerLink="." [queryParams]="{order: option.value}"
            queryParamsHandling="merge">{{option.name|translate}}</a>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-8 col-md-8">

    <h2>
      {{'page/73/name'|translate}}
      <span [hidden]="loading <= 0">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </span>
      <small *ngIf="paginator && paginator.totalItemCount" [translate] [translateParams]="{count: paginator.totalItemCount}">ng/%1$s-pictures</small>
    </h2>

    <div style="margin-bottom:20px">
      <div class="btn-group">
        <button [disabled]="!hasSelectedItem" class="btn btn-success" (click)="acceptPictures()">
          {{'moder/picture/acceptance/accept'|translate}}
        </button>
        <div class="btn-group" ngbDropdown>
          <button class="btn btn-success" ngbDropdownToggle type="button" [disabled]="!hasSelectedItem">
            {{'moder/picture/acceptance/want-accept'|translate}}
            <span class="caret"></span>
          </button>
          <div ngbDropdownMenu>
            <li role="menuitem" *ngFor="let template of moderVoteTemplateOptions">
              <button *ngIf="template.vote > 0" class="btn btn-link dropdown-item" [textContent]="template.name" (click)="votePictures(template.vote, template.name);"></button>
            </li>
          </div>
        </div>
        <div class="btn-group" ngbDropdown>
          <button class="btn btn-danger" ngbDropdownToggle type="button" [disabled]="!hasSelectedItem">
            {{'moder/picture/acceptance/want-delete'|translate}}
            <span class="caret"></span>
          </button>
          <div ngbDropdownMenu>
            <li role="menuitem" *ngFor="let template of moderVoteTemplateOptions">
              <a *ngIf="template.vote < 0" class="dropdown-item" [textContent]="template.name" (click)="votePictures(template.vote, template.name);"></a>
            </li>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let chunk of chunks">
      <div class="col-sm-4" *ngFor="let picture of chunk">
        <app-thumbnail [picture]="picture" [selectable]="true" (selected)="onPictureSelect($event, picture)"></app-thumbnail>
      </div>
    </div>

    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
  </div>
</div>
