<h2 i18n>Engine from catalogue</h2>

@if (item$ | async; as item) {
  @if (isAllowedEditEngine$ | async) {
    <div>
      @if (engine$ | async; as engine) {
        <div>
          <p>
            <a [routerLink]="['/moder/items/item', engine.id]" [innerHTML]="engine.nameHtml"></a>
          </p>
          @if (item.engineInherit) {
            <!--TODO: h6 *ngFor="let car of engineInheritedFrom">
            <em>
              <ng-container i18n>Inherited from</ng-container>
              <a [href]="car.url" [innerHTML]="car.name_html"></a>
            </em>
          </h6-->
          }
          <div class="d-flex flex-wrap gap-2">
            <a routerLink="/cars/select-engine" class="btn btn-primary" i18n [queryParams]="{item_id: item.id}"
              >Select another engine</a
            >
            @if (item.engineItemId) {
              <button type="button" class="btn btn-warning" (click)="cancelInheritance(item)">
                <ng-container i18n>Cancel engine</ng-container>
              </button>
            }
            @if (!item.engineInherit) {
              <button type="button" class="btn btn-warning" (click)="inheritEngine(item)">
                <ng-container i18n>Inherit engine</ng-container>
              </button>
            }
          </div>
        </div>
      } @else {
        <p i18n>[not selected]</p>
        <div class="d-flex flex-wrap gap-2">
          <a routerLink="/cars/select-engine" class="btn btn-primary" i18n [queryParams]="{item_id: item.id}"
            >Select engine</a
          >
          @if (!item.engineInherit) {
            <button type="button" class="btn btn-warning" (click)="inheritEngine(item)">
              <ng-container i18n>Inherit engine</ng-container>
            </button>
          } @else {
            <button type="button" class="btn btn-warning" (click)="cancelInheritance(item)">
              <ng-container i18n>Don't inherit engine</ng-container>
            </button>
          }
        </div>
      }
    </div>
  }
  @if (engine$ | async; as engine) {
    @if (engine && (isAllowedEditEngine$ | async) === false) {
      <div>
        <p [innerHTML]="engine.nameHtml"></p>
        @if (item.engineInherit) {
          <!--TODO: h6 *ngFor="let car of engineInheritedFrom">
            <em>
              <ng-container i18n>Inherited from</ng-container>
              <span [innerHTML]="car.name_html"></span>
            </em>
          </h6-->
        }
      </div>
    }
  }
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
