.article {
  p {
      margin-bottom: 4px;
      text-indent: 2em;
  }

  img {
    margin: 10px;
    border: 1px #666 solid
  }

  img[align="left"] {
    float: left;
    margin: 10px 10px 10px 0;
  }

  img[align="right"] {
    float: left;
    margin: 10px 0 10px 10px;
  }
}

ul.article-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;

  li {
      clear: both;
      padding: 0;
      margin: 10px 0 2px;
      text-align: left;
      border:1px transparent solid;
  }

  .date {
      font-size: 11px;
      color: #666;
  }
}
