<div class="nav nav-pills">
    <a class="nav-link" ui-sref=".({vehicle_type_id: 'empty', vehicle_childs_type_id: 19})" ui-sref-opts="{inherit: false, reload: true}">Buses without type</a>
    <a class="nav-link" ui-sref=".({vehicle_type_id: 'empty', vehicle_childs_type_id: 17})" ui-sref-opts="{inherit: false, reload: true}">Truck without type</a>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <h2 translate>moder/items/filter</h2>
        <form class="card card-body form-vertical">
            <div class="form-group">
                <label translate>moder/items/filter/name</label>
                <input placeholder="% - any characters" type="text" name="name" class="form-control" ng-model="ctrl.filter.name" ng-model-options="{debounce:300}" ng-change="ctrl.load()"
                />
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/name-exclude</label>
                <input placeholder="_ - any single character" type="text" name="name_exclude" class="form-control" ng-model="ctrl.filter.name_exclude" ng-model-options="{debounce:300}"
                    ng-change="ctrl.load()" />
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/item-type</label>
                <select name="item_type_id" class="form-control" ng-model="ctrl.filter.item_type_id" ng-change="ctrl.load()">
                    <option value="">Any</option>
                    <option value="1" translate>item/type/1/name</option>
                    <option value="2" translate>item/type/2/name</option>
                    <option value="3" translate>item/type/3/name</option>
                    <option value="4" translate>item/type/4/name</option>
                    <option value="5" translate>item/type/5/name</option>
                    <option value="6" translate>item/type/6/name</option>
                    <option value="7" translate>item/type/7/name</option>
                    <option value="8" translate>item/type/8/name</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/vehicle-type</label>
                <select name="vehicle_type_id" class="form-control" ng-model="ctrl.filter.vehicle_type_id" ng-change="ctrl.load()">
                    <option value="">Any</option>
                    <option value="empty" translate>moder/items/filter/vehicle-type/empty</option>
                    <option value="{{item.id}}" ng-repeat="item in ctrl.vehicleTypeOptions">{{'...'.repeat(item.deep)}}{{item.name|translate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Have childs with type</label>
                <select name="vehicle_childs_type_id" class="form-control" ng-model="ctrl.filter.vehicle_childs_type_id" ng-change="ctrl.load()">
                    <option value="">Any</option>
                    <option value="{{item.id}}" ng-repeat="item in ctrl.vehicleTypeOptions">{{'...'.repeat(item.deep)}}{{item.name|translate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/spec</label>
                <select name="spec" class="form-control" ng-model="ctrl.filter.spec" ng-change="ctrl.load()">
                    <option value="">Any</option>
                    <option value="{{item.id}}" ng-repeat="item in ctrl.specOptions">{{'...'.repeat(item.deep)}}{{item.short_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/from-year</label>
                <input type="text" name="from_year" class="form-control" ng-model="ctrl.filter.from_year" ng-model-options="{debounce:300}"
                    ng-change="ctrl.load()" maxlength="4" />
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/to-year</label>
                <input type="text" name="to_year" class="form-control" ng-model="ctrl.filter.to_year" ng-model-options="{debounce:300}" ng-change="ctrl.load()"
                    maxlength="4" />
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/parent</label>
                <input type="text" name="ancestor_id" class="form-control" />
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/text</label>
                <input type="text" name="text" class="form-control" ng-model="ctrl.filter.text" ng-change="ctrl.load()" ng-model-options="{debounce:300}"
                />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="no_parent" value="1" ng-model="ctrl.filter.no_parent" ng-change="ctrl.load()" /> {{'moder/items/filter/no-parents'|translate}}
                </label>
            </div>
            <div class="form-group">
                <label translate>moder/items/filter/order</label>
                <select name="order" class="form-control" ng-model="ctrl.filter.order" ng-change="ctrl.load()">
                    <option value="id_desc">id desc</option>
                    <option value="id_asc">id asc</option>
                    <option value="childs_count">childs count</option>
                    <option value="name">name</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-lg-8 col-md-8">

        <div class="btn-group float-right">
            <button type="button" class="btn btn-outline-secondary" ng-class="{active: !ctrl.listMode}" ng-click="ctrl.setListModeEnabled(false)">
                <i class="fa fa-th" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary" ng-class="{active: ctrl.listMode}" ng-click="ctrl.setListModeEnabled(true)">
                <i class="fa fa-align-justify" aria-hidden="true"></i>
            </button>
        </div>

        <h2>
            {{'page/131/name'|translate}}
            <span ng-show="ctrl.loading > 0">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
            </span>
            <small ng-if="ctrl.paginator.totalItemCount" translate="ng/%1$s-items" translate-values="{count: ctrl.paginator.totalItemCount}"></small>
        </h2>

        <div ng-if="ctrl.listMode">
            <div ng-repeat="item in ctrl.items">
                <a ui-sref="moder-items-item({id: item.id})" ng-bind-html="item.name_html"></a>
            </div>
        </div>

        <div ng-if="!ctrl.listMode">
            <autowp-item item="item" ng-repeat="item in ctrl.items"></autowp-item>
        </div>

        <autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
    </div>
</div>
