.subscription {
    .unsubscribe {
        display: none;
    }
    
    &.subscribed {
        .subscribe {
            display: none;
        }
        .unsubscribe {
            display: inline;
        }
    }
}
