<div class="page-header">
  <h1 i18n>Add picture</h1>
</div>

@if (authenticated$ | async) {
  <div>
    @if (selection$ | async; as selection) {
      @if (selection.selected) {
        <div>
          <div class="card card-body mb-4">
            <remark
              i18n-markdown="@@uploadRules"
              markdown="If you have images that you didn't find on this site and they match the site's theme, you can add them to our catalog using the form below.

It would be great if you could indicate what kind of car is shown in the picture to make it easier to add and avoid mistakes.

Requirements for images:

* [JPEG](https://ru.wikipedia.org/wiki/JPEG) or [PNG](https://ru.wikipedia.org/wiki/PNG) format. Resolution from 640×360 up to 10000×10000.
* The image should be of the highest possible quality and free of any resizing or compression artifacts (blurring, fuzziness, color bleeding, ridged lines, etc.). Exceptions include rare photos (manufacturer photos) and scans from brochures. The decision to leave such photos on the site is made by the moderators.
* Absence of inscriptions and logos of third-party sites, applied by non-authors/owners of the material.
* The car must be in its original factory appearance. There should be no signs of any homemade tuning, and preferably no changes due to aging.
* The primary and sole subject of the image should be the car, engine, automaker logo, automobile factory, or museum. The presence of extraneous objects or people in the frame is undesirable.
* Amateur photos of your car, your friends' cars, or any other car you see on the street, as well as photos from car shows, will not be accepted on the site unless you're a professional.
* For the first photographs of the car, reduced requirements may apply.

**We kindly ask** you to make sure that your images are not already in the catalogue before adding them.

Please note that image submissions are moderated. This means that all images will be reviewed by the site's editors before being added to the catalog."
            />
            <div class="mv-3">
              @if (!formHidden()) {
                <form class="form-horizontal" (submit)="submit()">
                  <div class="mb-3 row">
                    <div class="col-md-2 col-form-label" i18n>Selection</div>
                    <div class="col-md-10">
                      <div class="form-control-plaintext">
                        <strong [innerHTML]="selection.name"></strong>
                        [<a routerLink="/upload/select" i18n>select another catalogue</a>]
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-md-2 col-form-label" for="file" i18n>Image file</label>
                    <div class="col-md-10">
                      <input
                        #input
                        type="file"
                        id="file"
                        name="file"
                        class="form-control"
                        accept="image/*"
                        [multiple]="(replace$ | async) ? null : true"
                        (change)="onChange($event)"
                      />
                      @if (files) {
                        <div class="mt-3">
                          @for (file of files; track file) {
                            <p>{{ file.name }}</p>
                          }
                        </div>
                      }
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-md-2 col-form-label" for="note" i18n>Note</label>
                    <div class="col-md-10">
                      <textarea name="note" id="note" rows="3" class="form-control" [formControl]="note"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 offset-md-2">
                      <button type="submit" name="submit" class="btn btn-primary" i18n [disabled]="!files">send</button>
                    </div>
                  </div>
                </form>
              }
            </div>
            <div class="progress-area">
              @for (p of progress; track p) {
                @if (!p.success) {
                  <ngb-progressbar
                    class="mb-2"
                    [type]="p.success ? 'success' : p.failed ? 'danger' : 'info'"
                    [value]="p.percentage"
                  >
                    <div>
                      <span class="d-inline file-name">{{ p.filename }}: </span>
                      @if (p.percentage < 100) {
                        <span class="d-inline percentage">{{ p.percentage }}%</span>
                      }
                      @for (message of p.invalidParams | invalidParams: 'file'; track message) {
                        <span class="d-inline">{{ message }} </span>
                      }
                    </div>
                  </ngb-progressbar>
                }
              }
            </div>
          </div>
          <div class="pictures row">
            @for (picture of pictures; track picture) {
              <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <app-thumbnail [picture]="picture.picture" [route]="['/picture', picture.picture.identity]" />
                <p>
                  <button type="button" class="btn btn-link btn-sm" (click)="crop(picture)">
                    <i class="bi bi-crop me-1" aria-hidden="true"></i>
                    @if (picture.cropTitle) {
                      <span>{{ picture.cropTitle }}</span>
                    } @else {
                      <span i18n>crop</span>
                    }
                  </button>
                </p>
              </div>
            }
          </div>
        </div>
      } @else {
        <div class="card card-body">
          <remark
            i18n-markdown="@@uploadRequirements"
            markdown="If you have images that you haven't found on this site and they match the site's subject matter, you can add them to our catalogue using the form below.

It would be great if you specified what car is shown in the picture, to make it easier to add and to avoid mistakes.

Requirements for added images:

* [JPEG](http://ru.wikipedia.org/wiki/JPEG) or [PNG](http://ru.wikipedia.org/wiki/PNG) format. Resolution from  640×360 up to 10000×10000.
* The image should, if possible, be of the highest quality available, and should not contain resizing or compression artifacts (blurring, fuzziness, color bleeding, jagged straight lines, etc.). Exceptions are made for rare photos (from the manufacturer) and scans from brochures. The decision to keep such a photo on the site is made by the moderator team.
* No captions or logos of unrelated sites added by someone other than the author/owner of the material.
* The car should look as it did when it left the factory. There should be no signs of *home-made tuning*, and it is preferable that there be no changes related to the car's aging.
* The main and only subject of the image should be a car, an engine, a car company's logo, a car factory, or a museum. The presence of unrelated objects or people in the frame is undesirable.
* Amateur photos of your car, your friends' cars, or any other car you happened to see on the street, as well as photos from exhibitions, will almost certainly not be accepted on the site — unless you are a professional.
* Lower requirements may apply to the first photos of a car.

**We kindly ask** that before adding images, you make sure they are not already in the catalogue.

Please note that adding pictures is moderated. That is, all pictures will be reviewed by the site's leading members before being added to the catalogue."
          />
          <p style="margin: 10px">
            <a routerLink="/upload/select" class="btn btn-primary btn-lg">
              <i class="bi bi-upload me-1" aria-hidden="true"></i>
              <ng-container i18n>Add picture</ng-container>
            </a>
          </p>
        </div>
      }
    }
  </div>
} @else {
  <div class="alert alert-warning">
    <p i18n>Only registered users can upload pictures</p>
    <button type="submit" class="btn btn-primary" i18n="@@login/sign-in" (click)="doLogin()">Sign in</button>
  </div>
}
