<p *ngIf="museumModer && item">
  <i class="fa fa-cog"></i>
  <a [routerLink]="['/moder/items/item', item.id]" translate>moder/edit-object</a>
</p>

<div style="width:100%;height:300px" class="mb-4" *ngIf="item && item.lng && item.lat" leaflet [leafletOptions]="options"
  [leafletLayers]="markers"></div>

<div class="card card-body" *ngIf="item && (links.length > 0 || item.description)">
  <app-markdown [markdown]="item.description"></app-markdown>

  <p *ngIf="links.length > 0">
    {{'museums/museum/website:'|translate}}
    <ng-container *ngFor="let link of links">
      <a [href]="link.url" [textContent]="link.name ? link.name : link.url"></a>
      <br />
    </ng-container>
  </p>
</div>

<div *ngIf="pictures.length > 0">
  <h3 translate>factories/factory/pictures</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let picture of pictures">
      <app-thumbnail [picture]="picture"></app-thumbnail>
    </div>
  </div>
</div>

<app-comments [itemID]="item.id" [typeID]="2" *ngIf="item"></app-comments>
