<ul *ngIf="attributes.length > 0" class="list-unstyled" style="padding-left:24px">
  <li *ngFor="let attribute of attributes; let i = index">
    <a href="#" (click)="moveDown(attribute.id)" *ngIf="i &lt; attributes.length-1">
      <span class="fa fa-arrow-down"></span>
    </a>
    <span class="fa fa-arrow-down" style="color:#999999" *ngIf="i >= attributes.length-1"></span>
    <a href="#" (click)="moveUp(attribute.id)" *ngIf="i > 0">
      <span class="fa fa-arrow-up"></span>
    </a>
    <span style="color:#999999" class="fa fa-arrow-up" *ngIf="i &lt;= 0"></span>
    <a [routerLink]="['/moder/attrs/attribute', attribute.id]" [textContent]="attribute.name | translate"></a>
    <app-moder-attrs-attribute-list [attributes]="attribute.childs" (movedUp)="moveUp($event)" (movedDown)="moveDown($event)"></app-moder-attrs-attribute-list>
  </li>
</ul>
