td.pls {
	background-color: white;
	border-style: solid;
	border-color: #84ac00;
	border-width: 0 1px 1px 1px;
	text-align: center;
	height: 100%;
	width: 5%;
	font-weight: bold;
	color: black;
}

td.pl {
	border-top:
	1px #84ac00 solid;
	text-align: center;
	width: 5%;
}

td.pl * {
	color: black;
}

td.pl a {
	display: block;
	border:1px #84ac00 solid;
	background-color: #a4cc14;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
	width:100%
}

td.pl a:hover, td.pl a:active {
	color: #555555;
	background-color: #93bb03;
}

form#order_type_form {
	margin: 0 0 10px;
	background-color: #eeeeee;
	padding: 4px;
	text-align: left;
}

div#FamiliesList
{
  padding: 5px;
  text-align: left;
  background-color: #eeeeee;
}

div#Description
{
  padding: 5px;
  text-align: left;
  background-color: #eeeeee;
}

div#linksList
{
  padding: 5px;
  text-align: left;
  background-color: #eeeeee;
}

div#linksList p
{
  margin-bottom: 10px;
}