<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Inbox</h1>
</div>

@if (inbox$ | async; as data) {
  <div class="row">
    <div class="col-lg-4 col-md-4 offset-lg-4 offset-md-4 mb-4">
      <select name="brand_id" class="form-select" [formControl]="brandID" (change)="changeBrand()">
        <option ngValue="" i18n>All brands</option>
        @for (brand of data.inbox.brands; track brand.id) {
          <option [ngValue]="brand.id">{{ brand.name }}</option>
        }
      </select>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-4 col-md-4">
      @if (data.inbox.prevDate) {
        <h3 class="text-start">
          &#x2190;&ngsp;
          <a [routerLink]="['/inbox', data.brandCatname, formatGrpcDate(data.inbox.prevDate)]">{{
            parseGrpcDate(data.inbox.prevDate) | date: 'mediumDate'
          }}</a>
          <br />
          <small
            >(<span i18n="@@n-pictures">{data.inbox.prevCount, plural,
              one {{{data.inbox.prevCount}} picture}
              other {{{data.inbox.prevCount}} pictures}
            }</span
            >)</small
          >
        </h3>
      }
    </div>
    <div class="col-lg-4 col-md-4">
      @if (data.inbox.currentDate) {
        <h3 class="text-center">
          <span>{{ parseGrpcDate(data.inbox.currentDate) | date: 'mediumDate' }}</span>
          <br />
          <small
            >(<span i18n="@@n-pictures">{data.inbox.currentCount, plural,
              one {{{data.inbox.currentCount}} picture}
              other {{{data.inbox.currentCount}} pictures}
            }</span
            >)</small
          >
        </h3>
      }
    </div>
    <div class="col-lg-4 col-md-4">
      @if (data.inbox.nextDate) {
        <h3 class="text-end">
          <a [routerLink]="['/inbox', data.brandCatname, formatGrpcDate(data.inbox.nextDate)]">{{
            parseGrpcDate(data.inbox.nextDate) | date: 'mediumDate'
          }}</a>
          <br />
          <small
            >(<span i18n="@@n-pictures">{data.inbox.nextCount, plural,
              one {{{data.inbox.nextCount}} picture}
              other {{{data.inbox.nextCount}} pictures}
            }</span
            >)</small
          >&ngsp; &#x2192;
        </h3>
      }
    </div>
  </div>
  @if (data.pictures$ | async; as pictures) {
    <div class="row">
      @for (picture of pictures.items || []; track picture.id) {
        <div class="col-6 col-md-4 col-lg-3">
          <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]" />
        </div>
      }
    </div>
    @if (pictures.paginator) {
      <app-paginator [data]="pictures.paginator" />
    }
  } @else {
    <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
  }
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
