<div class="crop-area mb-3" *ngIf="picture">
  <img [src]="picture.image.src" (load)="onLoad($event)" />
</div>

<div class="mb-4" *ngIf="picture">
  <span translate [translateParams]="{resolution: resolution, aspect: aspect}">crop-dialog/resolution-x-aspect-y</span>
  <button (click)="selectAll()" class="btn btn-secondary" translate>crop-dialog/select-all</button>
  <span class="float-right">
    <a [routerLink]="['/moder/pictures', picture.id]" class="btn btn-secondary" translate>crop-dialog/close</a>
    <button (click)="saveCrop()" class="btn btn-primary" translate>crop-dialog/save</button>
  </span>
</div>
