<app-markdown [markdown]="'moder/vehicle/pictures/turbo-group-creator'|translate"></app-markdown>

<app-item-meta-form class="mb-4" [hidden]="loading > 0" [hideSubmit]="true" [(item)]="newItem" (submit)="submit()" [(vehicleTypeIDs)]="vehicleTypeIDs"
  [invalidParams]="invalidParams"></app-item-meta-form>

<div class="form-group row" [hidden]="loading > 0">
  <label class="col-md-2 col-form-label text-right" translate>moder/vehicle/pictures/turbo-group-creator/pictures</label>
  <div class="col-md-10 multicheckbox-pictures row">
    <label class="btn btn-secondary col-md-3" *ngFor="let picture of pictures" [class.active]="picture.selected" (click)="pictureSelected(picture)">
      <img [src]="picture.picture.thumb_medium.src" alt="" [title]="picture.picture.name_text" class="rounded w-100" />
    </label>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-10 offset-md-2">
    <button type="submit" name="submit" class="btn btn-primary" translate (click)="submit()" [disabled]="!hasSelectedPicture || loading > 0">submit</button>
    <span [hidden]="loading <= 0">
      <i class="fa fa-spinner fa-spin fa-fw"></i>
    </span>
  </div>
</div>
