<div class="row">
    <div class="col-md-2">
        <img ng-if="ctrl.randomPicture.thumbnail" ng-src="ctrl.randomPicture.thumbnail.src" alt="" />
    </div>
    <div class="col-md-5">
        <div class="well">
            <p translate="ng/moder/database-id-n" translate-values="{id: ctrl.item.id}"></p>

            <p ng-if="ctrl.specsAllowed && ctrl.canEditSpecifications">
                <a ng-href="/cars/car-specifications-editor/item_id/{{ctrl.item.id}}" translate>carlist/edit-specs</a>
                <span class="badge" ng-if="ctrl.item.specifications_count" ng-bind="ctrl.item.specifications_count"></span>
            </p>
            <p><a ui-sref="log({item_id: ctrl.item.id})" translate>moder/log-of-events</a></p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="well">
            <p translate>moder/vehicle/subscription/title</p>
            <p class="subscription">
                <button class="btn" ng-class="{'btn-success': ctrl.item.subscription, 'btn-default': !ctrl.item.subscription}" ng-click="ctrl.toggleSubscription()">
                    <span ng-show="ctrl.item.subscription">
                        <i class="fa fa-check"></i> 
                        {{'moder/vehicle/subscription/subscribed'|translate}}
                    </span>
                    <span ng-show="!ctrl.item.subscription">
                        <i class="fa fa-times"></i> 
                        {{'moder/vehicle/subscription/not-subscribed'|translate}}
                    </span>
                </button>
            </p>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab">
    <li ng-repeat="(id, tab) in ctrl.tabs" ng-class="{active: tab.active}">
        <a href="#" ng-click="ctrl.setActiveTab(id)">
            <span ng-if="tab.icon" class="{{tab.icon}}"></span>
            <span ng-bind="tab.title|translate"></span>
            <span class="badge" ng-if="tab.count" ng-bind="tab.count"></span>
        </a>
    </li>
</ul>

<div class="tab-content well">
    <div class="tab-pane" ng-class="{active: ctrl.tabs.meta.active}">
        <div class="progress" ng-show="ctrl.metaLoading > 0">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
        <autowp-item-meta-form  ng-if="ctrl.canEditMeta" item="ctrl.item" submit="ctrl.saveMeta()" invalid-params="ctrl.invalidParams" control="ctrl.control"></autowp-item-meta-form>

        <table class="table table-condensed" ng-if="!ctrl.canEditMeta">
            <tr>
                <td>{{'moder/vehicle/name'|translate}}:</td>
                <td ng-bind-html="ctrl.item.name_html"></td>
            </tr>
            <tr>
                <td>{{'moder/vehicle/body'|translate}}:</td>
                <td ng-bind="ctrl.item.body"></td>
            </tr>
            <tr>
                <td>{{'moder/vehicle/begin'|translate}}:</td>
                <td>
                    {{ctrl.item.begin_year > 0 ? ctrl.item.begin_year : '????'}}
                    {{ctrl.item.begin_month > 0 ? ctrl.item.begin_month : '??'}}
                </td>
            </tr>
            <tr>
                <td valign="top">{{'moder/vehicle/end'|translate}}:</td>
                <td>
                    {{ctrl.item.end_year > 0 ? ctrl.item.end_year : '????'}}
                    {{ctrl.item.end_month > 0 ? ctrl.item.end_month : '??'}}
                    <span ng-if="ctrl.item.today" translate>moder/vehicle/today/continue</span>
                    <span ng-if="ctrl.item.today === 0" translate>moder/vehicle/today/ended</span>
                </td>
            </tr>
            <tr>
                <td>{{'moder/item/produced'|translate}}:</td>
                <td>
                    {{ctrl.item.produced}}
                    <span ng-if="ctrl.item.produced_exactly" translate>moder/item/produced/exactly</span>
                    <span ng-if="!ctrl.item.produced_exactly" translate>moder/item/produced/about</span>
                </td>
            </tr>
            <tr>
                <td valign="top">{{'moder/vehicle/concept'|translate}}:</td>
                <td>{{ctrl.item.is_concept ? 'Yes' : 'No'}}</td>
            </tr>
        </table>
    </div>
    <div ng-if="ctrl.tabs.logo" class="tab-pane" ng-class="{active: ctrl.tabs.logo.active}">
        <div ng-if="ctrl.canLogo" btf-markdown="'moder/brands/logo/description'|translate"></div>
        <img ng-src="{{ctrl.item.logo.src}}" style="max-width:100%" ng-if="ctrl.item.logo" />
        <div ng-if="ctrl.canLogo">
            <form method="post" ng-submit="ctrl.uploadLogo()">
                <div class="form-group">
                    <input type="file" name="logo" id="logo-upload" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary" translate>submit</button>
                <span ng-show="ctrl.logoLoading > 0">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </span>
            </form>
        </div>
    </div>
    <div class="tab-pane" ng-class="{active: ctrl.tabs.name.active}">
        <form method="post" class="form-horizontal" ng-submit="ctrl.saveLanguages()">
            <ul class="nav nav-tabs" style="margin-bottom:20px">
                <li ng-class="{active: language.language == ctrl.currentLanguage}" ng-repeat="language in ctrl.itemLanguages">
                    <a href="#" ng-click="ctrl.currentLanguage = language.language">
                        {{language.language.toUpperCase()}}
                        <span class="badge" ng-show="language.name.length || language.text.length || language.full_text.length">
                            {{(language.name.length ? 1 : 0) + (language.text.length ? 1 : 0) + (language.full_text.length ? 1 : 0)}}
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" ng-class="{active: language.language == ctrl.currentLanguage}" ng-repeat="language in ctrl.itemLanguages">
                    <div class="form-group">
                        <label class="col-md-2 control-label" translate>moder/vehicle/name</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="language.name" name="name" maxlength="255" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" translate>moder/item/short-description</label>
                        <div class="col-md-10">
                            <autowp-markdown-edit save="saveCopyrights" text="language.text"></autowp-markdown-edit>
                            <p ng-if="language.text_id" class="text-right">
                                <a ui-sref="info-text({id: language.text_id})" translate>moder/markdown/history</a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" translate>moder/item/full-description</label>
                        <div class="col-md-10">
                            <autowp-markdown-edit save="saveCopyrights" text="language.full_text"></autowp-markdown-edit>
                            <p ng-if="language.full_text_id" class="text-right">
                                <a ui-sref="info-text({id: language.full_text_id})" translate>moder/markdown/history</a>
                            </p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" translate>submit</button>
                <span ng-show="ctrl.languagesLoading > 0">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </span>
            </div>
        </form>
    </div>
    
    <div class="tab-pane" ng-class="{active: ctrl.tabs.catalogue.active}">
        <span ng-show="ctrl.catalogueLoading > 0">
            <i class="fa fa-spinner fa-spin fa-fw"></i>
        </span>
        <a ng-if="ctrl.item.is_group && ctrl.canMove && ctrl.item.childs_count > 0"
            ui-sref="moder-items-item-organize({id: ctrl.item.id, item_type_id: ctrl.organizeTypeId})"
            class="btn btn-default" 
            translate>moder/vehicle/catalogue/turbo-group-creator</a>
        <table class="table">
            <thead>
                <tr>
                    <th translate>moder/vehicle/catalogue/title/name</th>
                    <th translate>moder/vehicle/catalogue/title/link</th>
                    <th translate>moder/vehicle/catalogue/title/public</th>
                    <th translate ng-if="ctrl.canMove">moder/vehicle/catalogue/title/remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="ctrl.canHaveParents && ctrl.canMove">
                    <td colspan="4">
                        <form class="car-add-parent" method="post">
                            <div class="input-group" style="max-width:400px">
                                <input type="text" name="parent" class="form-control item-autocomplete" placeholder="{{'moder/vehicle/catalogue/select-placeholder'|translate}}" autocomplete="off" />
                                
                                <div class="input-group-btn" style="white-space:nowrap">
                                    <a class="btn btn-default" ui-sref="moder-items-item-select-parent({id: ctrl.item.id})" translate>moder/vehicle/catalogue/select</a>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-if="ctrl.canHaveParentBrand">
                                            <a ui-sref="moder-items-item-select-parent({id: ctrl.item.id, tab: 'brands'})">
                                                <i class="fa fa-plus"></i>
                                                {{'moder/vehicle/catalogue/add-brand'|translate}}
                                            </a>
                                        </li>
                                        <li ng-repeat="brand in ctrl.suggestions" ng-if="ctrl.canHaveParentBrand">
                                            <a href="#" ng-click="ctrl.addParent(brand.id)">
                                                <i class="fa fa-plus"></i>
                                                <span translate="ng/moder/vehicle/catalogue/add-brand-{brand}" translate-values="{brand: brand.name_text}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </form>
                    </td>
                </tr>
                <tr data-id="{{item.id}}" ng-repeat="item in ctrl.parents">
                    <td>
                        <i class="fa fa-arrow-up"></i>
                        <a ui-sref="moder-items-item({id: item.parent_id})" ng-bind-html="item.parent.name_html"></a>
                        <div class="text-warning" ng-if="item.duplicate_parent"><small>
                            {{'moder/vehicle/catalogue/possible-duplicate-parent'|translate}}
                            <a ui-sref="moder-items-item({id: item.duplicate_parent.id})" ng-bind-html="item.duplicate_parent.name_html"></a>
                        </small></div>
                    </td>
                    <td>
                        <a ui-sref="moder-item-parent({item_id: item.item_id, parent_id: item.parent_id})">
                            {{item.name}}
                            <span class="fa fa-pencil"></span>
                        </a>
                    </td>
                    <td class="urls">
                        <a ng-href="{{url}}" ng-bind="url" ng-repeat-start="url in item.parent.public_urls"></a>
                        <br ng-repeat-end />
                    </td>
                    <td ng-if="ctrl.canMove">
                        <button type="submit" class="btn btn-sm btn-danger" ng-click="ctrl.deleteParent(item.parent_id)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                <tr class="success" data-id="{{ctrl.item.id}}">
                    <td colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-arrow-right"></i>
                        <span ng-bind-html="ctrl.item.name_html"></span>
                    </td>
                    <td class="urls">
                        <a ng-href="{{url}}" ng-bind="url" ng-repeat-start="url in ctrl.item.publicUrls"></a>
                        <br ng-repeat-end />
                    </td>
                    <td ng-if="ctrl.canMove"></td>
                </tr>
                <tr data-id="{{item.id}}" ng-repeat="item in ctrl.childs">
                    <td>
                        <i class="fa fa-arrow-down"></i>
                        <span ng-if="item.type_id == 1" translate>moder/vehicle/link-type-prefix/related</span>
                        <span ng-if="item.type_id == 3" translate>moder/vehicle/link-type-prefix/design</span>
                        <span ng-if="item.type_id == 2" translate>moder/vehicle/link-type-prefix/sport</span>
                        <a ui-sref="moder-items-item({id: item.item_id})" ng-href="{{item.url}}" ng-bind-html="item.item.name_html"></a>
                        <div ng-if="item.duplicate_child" class="text-warning"><small>
                            {{'moder/vehicle/catalogue/possible-duplicate-child'|translate}}
                            <a ui-sref="moder-items-item({id: item.duplicate_child.id})" ng-bind-html="item.duplicate_child.name_html"></a>
                        </small></div>
                    </td>
                    <td>
                        <a ui-sref="moder-item-parent({item_id: item.item_id, parent_id: item.parent_id})">
                            {{item.name}}
                            <span class="fa fa-pencil"></span>
                        </a>
                    </td>
                    <td class="urls">
                        <a ng-href="{{url}}" ng-bind="url" ng-repeat-start="url in item.item.public_urls"></a>
                        <br ng-repeat-end />
                    </td>
                    <td ng-if="ctrl.canMove">
                        <button class="btn btn-sm btn-danger" ng-click="ctrl.deleteChild(item.item_id)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
    
                <tr ng-if="ctrl.item.is_group && ctrl.canMove && ctrl.item.item_type_id == 5">
                    <td colspan="2">
                        <i class="fa fa-plus"></i>
                        <a ui-sref="moder-items-new({item_type_id: 2, parent_id: ctrl.item.id})" translate>moder/vehicle/catalogue/add-engine</a>
                    </td>
                    <td class="urls"></td>
                    <td></td>
                </tr>
                <tr ng-if="ctrl.item.is_group && ctrl.canMove && ctrl.item.item_type_id == 5">
                    <td colspan="2">
                        <i class="fa fa-plus"></i>
                        <a ui-sref="moder-items-new({item_type_id: 1, parent_id: ctrl.item.id})" translate>moder/vehicle/catalogue/add-vehicle</a>
                    </td>
                    <td class="urls"></td>
                    <td></td>
                </tr>
                <tr ng-if="ctrl.item.is_group && ctrl.canMove && ctrl.item.item_type_id == 3">
                    <td colspan="2">
                        <i class="fa fa-plus"></i>
                        <a ui-sref="moder-items-new({item_type_id: 3, parent_id: ctrl.item.id})" translate>moder/vehicle/catalogue/add-category</a>
                    </td>
                    <td class="urls"></td>
                    <td></td>
                </tr>
                <tr ng-if="ctrl.item.is_group && ctrl.canMove && ctrl.item.item_type_id == 3">
                    <td colspan="2">
                        <i class="fa fa-plus"></i>
                        <a ui-sref="moder-items-new({item_type_id: 2, parent_id: ctrl.item.id})" translate>moder/vehicle/catalogue/add-engine</a>
                    </td>
                    <td class="urls"></td>
                    <td></td>
                </tr>
                <tr ng-if="ctrl.item.is_group && ctrl.canMove && ctrl.item.item_type_id == 3">
                    <td colspan="2">
                        <i class="fa fa-plus"></i>
                        <a ui-sref="moder-items-new({item_type_id: 1, parent_id: ctrl.item.id})" translate>moder/vehicle/catalogue/add-vehicle</a>
                    </td>
                    <td class="urls"></td>
                    <td></td>
                </tr>
                <tr ng-if="ctrl.item.is_group && ctrl.canMove && (![4, 6, 3].includes(ctrl.item.item_type_id))">
                    <td colspan="2">
                        <i class="fa fa-plus"></i>
                        <a ui-sref="moder-items-new({item_type_id: ctrl.item.item_type_id, parent_id: ctrl.item.id})">
                            {{(ctrl.item.item_type_id == 2 ? 'moder/vehicle/catalogue/add-engine' : 'moder/vehicle/catalogue/add-vehicle') | translate}}
                        </a>
                    </td>
                    <td class="urls"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="ctrl.tabs.tree" class="tab-pane" ng-class="{active: ctrl.tabs.tree.active}" id="tree">
        <div class="tree">
            <autowp-moder-item-tree item="ctrl.tree"></autowp-moder-item-tree>
        </div>
    </div>
    <div ng-if="ctrl.tabs.vehicles" class="tab-pane" ng-class="{active: ctrl.tabs.vehicles.active}" id="vehicles">
        <h4 translate>moder/engines/engine/vehicles</h4>
        <a ng-repeat-start="item in ctrl.engineVehicles" ui-sref="moder-items-item({id: item.id, tab: 'meta'})" ng-bind-html="item.name_html"></a>
        <br ng-repeat-end />
    </div>
    <div ng-if="ctrl.tabs.pictures" class="tab-pane" ng-class="{active: ctrl.tabs.pictures.active}" id="pictures">
        <p class="btn-group" ng-if="ctrl.canUseTurboGroupCreator">
            <a ui-sref="moder-items-item-organize-pictures({id: ctrl.item.id})"
                class="btn btn-default" 
                translate>moder/vehicle/pictures/turbo-group-creator</a>
        </p>
        <div class="row" ng-repeat="chunk in ctrl.picturesChunks">
            <div class="col-sm-2" ng-repeat="picture in chunk">
                <autowp-thumbnail picture="picture"></autowp-thumbnail>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.tabs.links" class="tab-pane" ng-class="{active: ctrl.tabs.links.active}" id="links">
        <div class="progress" ng-show="ctrl.linksLoading > 0">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
        <form ng-if="ctrl.canEditMeta" method="post" ng-submit="ctrl.saveLinks()">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th translate>moder/brands/links/text</th>
                        <th translate>moder/brands/links/address</th>
                        <th translate>moder/brands/links/type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="link in ctrl.links">
                        <td><input type="text" name="name" ng-model="link.name" class="form-control" /></td>
                        <td><input type="text" name="url" ng-model="link.url" class="form-control" /></td>
                        <td>
                            <select name="type" ng-model="link.type_id" class="form-control">
                                <option value="default" translate>moder/brands/links/type/interest-link</option>
                                <option value="official" translate>moder/brands/links/type/official</option>
                                <option value="club" translate>moder/brands/links/type/club</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" name="name" ng-model="ctrl.newLink.name" class="form-control" /></td>
                        <td><input type="text" name="url" ng-model="ctrl.newLink.url" class="form-control" /></td>
                        <td>
                            <select name="type" ng-model="ctrl.newLink.type_id" class="form-control">
                                <option value="default" translate>moder/brands/links/type/interest-link</option>
                                <option value="official" translate>moder/brands/links/type/official</option>
                                <option value="club" translate>moder/brands/links/type/club</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td colspan="3">
                        <button class="btn btn-primary" type="submit" translate>submit</button>
                    </td></tr>
                </tbody>
            </table>
        </form>
        <table class="table table-condensed table-stripped" ng-if="!ctrl.canEditMeta"><tbody>
            <tr>
                <th translate>moder/brands/links/text</th>
                <th translate>moder/brands/links/address</th>
                <th translate>moder/brands/links/type</th>
            </tr>
            <tr ng-repeat="link in ctrl.links">
                <td ng-bind="link.name"></td>
                <td ng-bind="link.url"></td>
                <td ng-bind="link.type_id"></td>
            </tr>
        </tbody></table>
    </div>
</div>
