@if (item(); as item) {
  <div class="car item-list-item">
    <h3>
      <app-item-header
        [item]="{
          nameHTML: item.nameHtml,
          design: item.design || null,
          produced: {count: item.produced?.value || 0, exactly: item.producedExactly},
        }"
      />
    </h3>
    @if (item.nameDefault) {
      <h4>{{ item.nameDefault }}</h4>
    }
    @if (havePhoto(item)) {
      <div class="row">
        @for (picture of item.previewPictures?.pictures || []; track picture) {
          <div class="col-6 col-lg-3">
            @if (!picture.picture) {
              <span>&#xa0;</span>
            } @else {
              @if (picture.picture.thumbMedium) {
                <a
                  class="d-block rounded mb-4"
                  [routerLink]="['/twins/group', groupId(), 'pictures', picture.picture.identity]"
                >
                  <img
                    class="rounded w-100 border border-light"
                    loading="lazy"
                    [src]="picture.picture.thumbMedium.src"
                    [alt]="picture.picture.nameText"
                    [title]="picture.picture.nameText"
                  />
                </a>
              }
            }
          </div>
        }
      </div>
    }
    @if (!havePhoto(item) && canHavePhoto(item)) {
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="no-photo rounded w-100 border border-light mb-4" i18n-title title="No photos available">
            <a
              routerLink="/upload"
              i18n-title
              title="Add photo"
              class="bi bi-plus-circle text-success"
              aria-hidden="true"
              [queryParams]="{item_id: item.id}"
            ></a>
            <span class="bi bi-camera fs-1" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    }
    @if (item.description && item.description.length) {
      <remark class="text" [markdown]="item.description" />
    }
    @if ((item.engineVehicles || []).length) {
      <div>
        <p i18n>Mounted on:</p>
        <ul>
          @for (vehicle of item.engineVehicles; track vehicle.id) {
            <li>
              <a [routerLink]="vehicle.route" [innerHTML]="vehicle.nameHtml"></a>
            </li>
          }
        </ul>
      </div>
    }
    <ul class="list-inline">
      @for (category of item.categories; track category.id) {
        <li class="list-inline-item">
          <i class="bi bi-tag-fill me-1" aria-hidden="true"></i>
          <a [routerLink]="['/category', category.catname]" [innerHTML]="category.nameHtml"></a>
        </li>
      }
      @if (isModer$ | async; as isModer) {
        @if (isModer) {
          <li class="list-inline-item">
            <i class="bi bi-gear-fill me-1" aria-hidden="true"></i>
            <a i18n [routerLink]="['/moder/items/item', item.id]">edit</a>
          </li>
        }
      }
      @if (item.canEditSpecs) {
        <li class="list-inline-item">
          <i class="bi bi-pencil-fill me-1" aria-hidden="true"></i>
          <a routerLink="/cars/specifications-editor" i18n [queryParams]="{item_id: item.id}">edit specs</a>
        </li>
      }
    </ul>
  </div>
}
