<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/forums" i18n>Forums</a>
    </li>
    @if (topic$ | async; as topic) {
      <li class="breadcrumb-item">
        @if (theme$ | async; as theme) {
          <a [routerLink]="['/forums', theme.id]">{{ getForumsThemeTranslation(theme.name) }}</a>
        }
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/forums/topic', topic.id]">{{ topic.name }}</a>
      </li>
    }
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Move</h1>
</div>

@if (topic$ | async; as topic) {
  @for (theme of themes$ | async; track theme.id) {
    <div>
      <button
        class="btn btn-secondary"
        type="submit"
        name="theme_id"
        [disabled]="topic.themeId === theme.id"
        [textContent]="getForumsThemeTranslation(theme.name)"
        (click)="selectTheme(topic, theme)"
      ></button>
    </div>
  }
}
