<div autowp-markdown="'donate/vod/text'|translate"></div>

<h1 translate>donate/vod/select-date</h1>
<div class="well">
    <ul>
        <li ng-repeat="date in ctrl.dates">
            <span ng-if="date.free">
                <span ng-if="date.value == ctrl.selectedDate">
                    <strong ng-bind="date.name"></strong>
                    <span class="fa fa-check"></span>
                </span>
                <span ng-if="date.value != ctrl.selectedDate">
                    <a href="#" ng-click="ctrl.selectDate(date.value)" ng-bind="date.name"></a>
                </span>
            </span>
            
            <span ng-if="!date.free">
                <span class="muted" ng-bind="date.name"></span> 
                ({{'donate/vod/date-busy'|translate}})
            </span>
        </li>
    </ul>
</div>

<h1 translate>donate/vod/select-item</h1>
<div class="well">

    <div autowp-markdown="'donate/vod/select-item-text'|translate"></div>

    <p ng-if="ctrl.selectedItem">
        {{'donate/vod/select-item/selection:'|translate}}
        <strong ng-bind-html="ctrl.selectedItem.name_html"></strong>
    </p>

    <a ui-sref="donate-vod-select({date: ctrl.selectedDate, anonymous: ctrl.anonymous ? 1 : null})" class="btn btn-primary btn-lg" translate>donate/vod/select-item/select</a>
</div>

<h1 translate>donate/vod/preview</h1>

<div class="well">
    <div class="btn-group">
        <a href="#" class="btn btn-default" ng-class="{active: ctrl.anonymous}" ng-click="ctrl.setAnonymous(true)" translate>donate/vod/anonymous</a>
        <a href="#" class="btn btn-default" ng-class="{active: !ctrl.anonymous, disabled: !ctrl.userId}" ng-click="ctrl.setAnonymous(false)" translate>donate/vod/with-name</a>
    </div>
</div>

<div class="row" ng-if="ctrl.selectedItem"><div class="col-sm-9">
    <autowp-item-of-day item="ctrl.selectedItem" user="ctrl.anonymous ? null : user"></autowp-item-of-day>
</div></div>

<h1 translate>donate/vod/make-donation</h1>

<div class="well">
    <form method="post" action="https://money.yandex.ru/quickpay/confirm.xml">
        <div ng-if="ctrl.selectedDate && ctrl.selectedItem">
            <input type="hidden" ng-repeat="(key, value) in ctrl.formParams" name="{{key}}" value="{{value}}" />
            <div class="form-group">
                <textarea name="comment" translate-attr="{placeholder: 'donate/vod/message'}" class="form-control" maxlength="200"></textarea>
            </div>
        </div>
        <p>
            {{'donate/vod/price:'|translate}}
            <strong>{{ctrl.sum}}{{'donate/vod/price/currency'|translate}}</strong>
            (<translate translate-values="{price: '$'+(ctrl.sum / 59.70).toFixed(2)}">donate/vod/price-aroud</translate>)
        </p>
        <div ng-if="ctrl.selectedDate && ctrl.selectedItem">
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="paymentType" value="AC" autocomplete="off" checked>
                        <span class="fa fa-credit-card"></span>
                        {{'donate/vod/method/credit-card'|translate}}
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="paymentType" value="MC" autocomplete="off">
                        <span class="fa fa-mobile"></span>
                        {{'donate/vod/method/mobile'|translate}}
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="paymentType" value="PC" autocomplete="off">
                        {{'donate/vod/method/yandex.money'|translate}}
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" translate>donate/vod/send</button>
        </div>
        <div ng-if="!ctrl.selectedDate || !ctrl.selectedItem">
            <button class="btn btn-default" disabled>
                <span class="fa fa-credit-card"></span>
                {{'donate/vod/method/credit-card'|translate}}
            </button>
            <button class="btn btn-default" disabled>
                <span class="fa fa-mobile"></span>
                {{'donate/vod/method/mobile'|translate}}
            </button>
            <button class="btn btn-default" disabled translate>donate/vod/method/yandex.money</button>
        </div>
    </form>
</div>
