<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1><ng-container i18n>Map</ng-container> <small i18n>Museums and factories</small></h1>
</div>

<div class="mb-3 d-flex justify-content-between">
  <div class="btn-group">
    <a
      class="btn btn-secondary"
      routerLink="."
      i18n
      queryParamsHandling="merge"
      [class.active]="mode() === 'objects'"
      [queryParams]="{mode: null}"
      >Objects</a
    >
    <a
      class="btn btn-secondary"
      routerLink="."
      i18n
      queryParamsHandling="merge"
      [class.active]="mode() === 'pictures'"
      [queryParams]="{mode: 'pictures'}"
      >Pictures</a
    >
  </div>
  <button type="button" class="btn btn-secondary" (click)="toggleFullscreen()">
    <i class="bi" [class.bi-fullscreen]="!isFullscreen()" [class.bi-fullscreen-exit]="isFullscreen()"></i>
  </button>
</div>

@defer {
  <div
    style="width: 100%; height: 600px"
    class="mb-4 map-container"
    leaflet
    [leafletOptions]="options"
    [leafletLayers]="markers"
    (leafletMapReady)="onMapReady($event)"
  ></div>
}
