<div *ngIf="!item.item.childs_count">
  <span class="text-muted" *ngIf="item.type_id == 1" translate>catalogue/related</span>
  <span class="text-muted" *ngIf="item.type_id == 2" translate>catalogue/sport</span>
  <a *ngIf="item.item.is_compiles_item_of_day" routerLink="/donate/vod" [queryParams]="{item_id: item.item_id, brand_id: null}"
    queryParamsHandling="merge" [innerHTML]="item.item.name_html"></a>
  <span *ngIf="!item.item.is_compiles_item_of_day" class="text-muted" [innerHTML]="item.item.name_html"></span>
</div>
<div *ngIf="item.item.childs_count">
  <span class="text-muted" *ngIf="item.type_id == 1" translate>catalogue/related</span>
  <span class="text-muted" *ngIf="item.type_id == 2" translate>catalogue/sport</span>
  <a href="" class="arrow" (click)="toggleItem()">
    <i class="fa fa-plus-circle" [hidden]="item.expanded"></i>
    <i class="fa fa-minus-circle" [hidden]="!item.expanded"></i>
    <span [innerHTML]="item.item.name_html"></span>
  </a>
  <a routerLink="/donate/vod" [queryParams]="{item_id: item.item_id, brand_id: null}" queryParamsHandling="merge" *ngIf="item.item.is_compiles_item_of_day">[выбрать]</a>
  <div style="margin:0 0 4px 18px;" [hidden]="!item.expanded">
    <app-donate-vod-select-item [item]="child" *ngFor="let child of childs"></app-donate-vod-select-item>
    <span [hidden]="!loading">
      <i class="fa fa-spinner fa-spin fa-fw"></i>
    </span>
  </div>
</div>
