<span ng-show="ctrl.loading > 0">
    <i class="fa fa-spinner fa-spin fa-fw"></i>
</span>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th></th>
            <th translate>moder/users/login</th>
            <th>E-mail</th>
            <th translate>moder/users/name</th>
            <th translate>moder/users/role</th>
            <th translate>moder/users/profile</th>
            <th translate>moder/users/last-visit</th>
            <th translate>moder/users/registration</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td ng-bind="user.id"></td>
            <td>
                <img ng-src="{{user.image.src}}" ng-if="user.image" style="max-width:300px;max-height:300px" />
            </td>
            <td ng-bind="user.login"></td>
            <td ng-bind="user.email"></td>
            <td ng-bind="user.name"></td>
            <td ng-bind="user.role"></td>
            <td>
                <autowp-user user="user"></autowp-user>
            </td>
            <td am-time-ago="user.last_online" am-full-date-threshold="2"></td>
            <td am-time-ago="user.reg_date" title="{user.reg_date | date : 'fullDate'}" am-full-date-threshold="2"></td>
        </tr>
    </tbody>
</table>

<autowp-paginator data="paginator" ng-if="paginator"></autowp-paginator>