<div *ngIf="item.item.childs_count > 0">
  <i class="fa fa-folder-o" [hidden]="open"></i>
  <i class="fa fa-folder-open-o" [hidden]="!open"></i>
  <span *ngIf="item.type_id == 1" translate>catalogue/related</span>
  <span *ngIf="item.type_id == 2" translate>catalogue/sport</span>
  <span *ngIf="item.type_id == 3" translate>catalogue/design</span>
  <a href="#" class="toggle" (click)="open = !open; open && loadChildCatalogues()" [innerHTML]="item.item.name_html"></a>
  <ul [hidden]="!open" class="list-unstyled">
    <li [hidden]="!open && !childs && loading" style="margin-left:16px">
      <span>
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </span>
    </li>
    <li *ngFor="let child of childs" style="margin-left:16px">
      <app-cars-select-engine-tree-item [item]="child" (selected)="selectEngine($event)">
      </app-cars-select-engine-tree-item>
    </li>
    <li style="margin-left:16px">
      <a href="#" (click)="selectEngine(item.item_id)" translate>upload/select/other-modification</a>
    </li>
  </ul>
</div>
<span *ngIf="(!item.item.childs_count || item.item.childs_count <= 0)">
  <span *ngIf="item.type_id == 1" translate>catalogue/related</span>
  <span *ngIf="item.type_id == 2" translate>catalogue/sport</span>
  <span *ngIf="item.type_id == 3" translate>catalogue/design</span>
  <a href="#" (click)="selectEngine(item.item_id)" [innerHTML]="item.item.name_html"></a>
</span>
