<span [hidden]="!loading">
  <i class="fa fa-spinner fa-spin fa-fw"></i>
</span>

<table class="table" [hidden]="loading">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td [textContent]="item.id"></td>
      <td>
        <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
      </td>
      <td [textContent]="item.childs_count"></td>
    </tr>
  </tbody>
</table>
