<div class="row">
    <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
        <select name="brand_id" ng-model="ctrl.brand_id" class="form-control" ng-change="ctrl.changeBrand()">
            <option value="" translate>inbox/all-brands</option>
            <option ng-repeat="brand in ctrl.brands" ng-bind="brand.name" ng-value="brand.id"></option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <h3 class="text-left" ng-if="ctrl.prev.date">
            &#x2190;
            <a ui-sref=".({date: ctrl.prev.date, page: null})" ng-bind="ctrl.prev.date | date: 'mediumDate'"></a>
            <small>(<span translate="ng/%1$s-pictures" translate-values="{count: ctrl.prev.count}"></span>)</small>
        </h3>
    </div>
    <div class="col-lg-4 col-md-4">
        <h3 class="text-center">
            <span ng-bind="ctrl.current.date | date: 'mediumDate'"></span>
            <small>(<span translate="ng/%1$s-pictures" translate-values="{count: ctrl.current.count}"></span>)</small>
        </h3>
    </div>
    <div class="col-lg-4 col-md-4">
        <h3 class="text-right" ng-if="ctrl.next.date">
            <a ui-sref=".({date: ctrl.next.date, page: null})" ng-bind="ctrl.next.date | date: 'mediumDate'"></a>
            <small>(<span translate="ng/%1$s-pictures" translate-values="{count: ctrl.next.count}"></span>)</small>
            &#x2192;
        </h3>
    </div>
</div>
<div class="row" ng-repeat="chunk in ctrl.chunks">
    <div class="col-sm-3" ng-repeat="picture in chunk">
        <autowp-thumbnail picture="picture"></autowp-thumbnail>
    </div>
</div>
<autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
