<ul class="nav nav-pills">
    <li>
        <a ui-sref="moder-pictures({order: 1, status: 'inbox'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/inbox</a>
    </li>
    <li>
        <a ui-sref="moder-pictures({order: 1, status: 'accepted', perspective_id: 'null', type_id: 1})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/missing-perspective</a>
    </li>
    <li>
        <a ui-sref="moder-pictures({order: 11, status: 'removing'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/delete-queue</a>
    </li>
    <li>
        <a ui-sref="moder-pictures({order: 1, requests: 3, status: 'custom1'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/votes</a>
    </li>
    <li>
        <a ui-sref="moder-pictures({order: 7, comments: 1})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/comments</a>
    </li>
    <li>
        <a ui-sref="moder-pictures({order: 9, requests: 3, status: 'custom1'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/new-votes</a>
    </li>
    <li>
        <a ui-sref="moder-pictures({order: 1, status: 'inbox', replace: 1})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/replaces</a>
    </li>
</ul>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <h2 translate>moder/pictures/filter</h2>
        <div class="well" layout="column">
            <md-input-container>
                <label translate>moder/picture/filter/status</label>
                <md-select ng-model="status" ng-change="load()">
                    <md-option ng-value=""><em>{{'moder/picture/filter/status/any'|translate}}</em></md-option>
                    <md-option ng-value="'inbox'">{{'moder/picture/filter/status/inbox'|translate}}</md-option>
                    <md-option ng-value="'accepted'">{{'moder/picture/filter/status/accepted'|translate}}</md-option>
                    <md-option ng-value="'removing'">{{'moder/picture/filter/status/removing'|translate}}</md-option>
                    <md-option ng-value="'custom1'">{{'moder/picture/filter/status/all-except-removing'|translate}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label translate>moder/picture/filter/vehicle-type</label>
                <md-select ng-model="car_type_id" ng-change="load()">
                    <md-option ng-value=""><em translate>Any</em></md-option>
                    <md-option ng-value="item.id" ng-repeat="item in vehicleTypeOptions" style="padding-left:{{(item.deep+1)*16}}px">{{item.name|translate}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label translate>moder/pictures/filter/perspective</label>
                <md-select ng-model="perspective_id" ng-change="load()">
                    <md-option ng-value=""><em translate>moder/pictures/filter/perspective/any</em></md-option>
                    <md-option ng-value="'null'"><em translate>moder/pictures/filter/perspective/empty</em></md-option>
                    <md-option ng-value="item.id" ng-repeat="item in perspectiveOptions">{{item.name|translate}}</md-option>
                </md-select>
            </md-input-container>
            <md-autocomplete  
                md-input-name="item_id"
                md-input-minlength="1"
                md-selected-item="selectedItem"
                md-search-text="item_name"
                md-items="item in queryItemName(item_name)"
                md-item-text="item.name_text"
                md-floating-label="{{'moder/picture/filter/item'|translate}}"
                ng-model-options="{debounce:300}"
                md-require-match="true"
                md-selected-item-change="load()">
                <md-item-template>
                    <span md-highlight-text="item_name">{{item.name_text}}</span>
                </md-item-template>
            </md-autocomplete>
            <md-input-container>
                <label translate>moder/pictures/filter/comments</label>
                <md-select ng-model="comments" ng-change="load()">
                    <md-option ng-value=""><em translate>moder/pictures/filter/comments/not-matters</em></md-option>
                    <md-option ng-value="'1'" translate>moder/pictures/filter/comments/has-comments</md-option>
                    <md-option ng-value="'0'" translate>moder/pictures/filter/comments/has-no-comments</md-option>
                </md-select>
            </md-input-container>
            <md-autocomplete 
                md-input-name="owner_id"
                md-input-minlength="1"
                md-selected-item="selectedOwner"
                md-search-text="owner_name"
                md-items="item in queryUserName(owner_name)"
                md-item-text="item.name"
                md-floating-label="{{'moder/picture/filter/owner'|translate}}"
                md-require-match="true"
                md-selected-item-change="load()">
                <md-item-template>
                    <span md-highlight-text="owner_name">{{item.name}}</span>
                </md-item-template>
            </md-autocomplete>
            <md-input-container>
                <label translate>moder/pictures/filter/replace</label>
                <md-select ng-model="replace" ng-change="load()">
                    <md-option ng-value=""><em translate>moder/pictures/filter/replace/not-matters</em></md-option>
                    <md-option ng-value="'1'" translate>moder/pictures/filter/replace/replaces</md-option>
                    <md-option ng-value="'0'" translate>moder/pictures/filter/replace/without-replaces</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label translate>moder/pictures/filter/votes</label>
                <md-select ng-model="requests" ng-change="load()">
                    <md-option ng-value=""><em translate>moder/pictures/filter/votes/not-matters</em></md-option>
                    <md-option ng-value="'0'" translate>moder/pictures/filter/votes/none</md-option>
                    <md-option ng-value="'1'" translate>moder/pictures/filter/votes/accept</md-option>
                    <md-option ng-value="'2'" translate>moder/pictures/filter/votes/delete</md-option>
                    <md-option ng-value="'3'" translate>moder/pictures/filter/votes/any</md-option>
                </md-select>
            </md-input-container>
            <md-switch ng-model="special_name" ng-true-value="1" ng-false-value="null" ng-change="load()" ng-model-options="{debounce:300}">
                {{'moder/picture/filter/special-name'|translate}}
            </md-switch>
            <md-switch ng-model="lost" ng-true-value="1" ng-false-value="null" ng-change="load()" ng-model-options="{debounce:300}">
                {{'moder/picture/filter/not-linked'|translate}}
            </md-switch>
            <md-switch ng-model="gps" ng-true-value="1" ng-false-value="null" ng-change="load()" ng-model-options="{debounce:300}">
                {{'moder/picture/filter/gps'|translate}}
            </md-switch>
            <md-switch ng-model="similar" ng-true-value="1" ng-false-value="null" ng-change="load()" ng-model-options="{debounce:300}">
                {{'moder/picture/filter/similar'|translate}}
            </md-switch>
            <md-input-container>
                <label translate>moder/picture/filter/order</label>
                <md-select ng-model="order" ng-change="load()">
                    <md-option ng-value="'1'" translate>moder/pictures/filter/order/add-date-desc</md-option>
                    <md-option ng-value="'2'" translate>moder/pictures/filter/order/add-date-asc</md-option>
                    <md-option ng-value="'3'" translate>moder/pictures/filter/order/resolution-desc</md-option>
                    <md-option ng-value="'4'" translate>moder/pictures/filter/order/resolution-asc</md-option>
                    <md-option ng-value="'5'" translate>moder/pictures/filter/order/filesize-desc</md-option>
                    <md-option ng-value="'6'" translate>moder/pictures/filter/order/filesize-asc</md-option>
                    <md-option ng-value="'7'" translate>moder/pictures/filter/order/commented</md-option>
                    <md-option ng-value="'8'" translate>moder/pictures/filter/order/views</md-option>
                    <md-option ng-value="'9'" translate>moder/pictures/filter/order/moder-votes</md-option>
                    <md-option ng-value="'11'" translate>moder/pictures/filter/order/removing-date</md-option>
                    <md-option ng-value="'12'" translate>moder/pictures/filter/order/likes</md-option>
                    <md-option ng-value="'13'" translate>moder/pictures/filter/order/dislikes</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
        <div>
            <md-button ng-disabled="!hasSelectedItem" class="md-raised md-primary" ng-click="acceptPictures()">
                {{'moder/picture/acceptance/accept'|translate}}
            </md-button>
            <md-menu>
                <md-button ng-disabled="!hasSelectedItem" class="md-raised md-primary" ng-click="$mdMenu.open($event);">
                    {{'moder/picture/acceptance/want-accept'|translate}}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="template in moderVoteTemplateOptions" ng-if="template.vote > 0">
                        <md-button ng-bind="template.name" aria-label="{{template.name}}" ng-click="votePictures(template.vote, template.name);"></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <md-button ng-disabled="!hasSelectedItem" class="md-raised md-warn" ng-click="$mdMenu.open($event);">
                    {{'moder/picture/acceptance/want-delete'|translate}}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="template in moderVoteTemplateOptions" ng-if="template.vote < 0">
                        <md-button ng-bind="template.name" aria-label="{{template.name}}" ng-click="votePictures(template.vote, template.name);"></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

        <h2>
            {{'page/73/name'|translate}}
            <span ng-show="ctrl.loading > 0">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
            </span>
            <small ng-if="paginator.totalItemCount" translate="ng/%1$s-pictures" translate-values="{count: paginator.totalItemCount}"></small>
        </h2>
        
        <div layout="row" layout-wrap>
            <div flex="25" flex-xs="50" flex-sm="33" ng-repeat="picture in pictures">
                <autowp-thumbnail picture="picture" onselect="onPictureSelect" is-moder="isModer"></autowp-thumbnail>
            </div>
        </div>
        
        <autowp-paginator data="paginator" ng-if="paginator"></autowp-paginator>
    </div>
</div>