<div class="nav nav-pills">
    <a class="nav-link" ui-sref="moder-pictures({order: 1, status: 'inbox'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/inbox</a>
    <a class="nav-link" ui-sref="moder-pictures({order: 1, status: 'accepted', perspective_id: 'null', type_id: 1})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/missing-perspective</a>
    <a class="nav-link" ui-sref="moder-pictures({order: 11, status: 'removing'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/delete-queue</a>
    <a class="nav-link" ui-sref="moder-pictures({order: 1, requests: 3, status: 'custom1'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/votes</a>
    <a class="nav-link" ui-sref="moder-pictures({order: 7, comments: 1})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/comments</a>
    <a class="nav-link" ui-sref="moder-pictures({order: 9, requests: 3, status: 'custom1'})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/new-votes</a>
    <a class="nav-link" ui-sref="moder-pictures({order: 1, status: 'inbox', replace: 1})" ui-sref-opts="{inherit: false, reload: true}" translate>moder/picture/replaces</a>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <h2 translate>moder/pictures/filter</h2>
        <form class="card card-body form-vertical">
            <div class="form-group">
                <label translate>moder/picture/filter/status</label>
                <select name="status" class="form-control" ng-model="ctrl.status" ng-change="ctrl.load()">
                    <option value="">{{'moder/picture/filter/status/any'|translate}}</option>
                    <option value="inbox">{{'moder/picture/filter/status/inbox'|translate}}</option>
                    <option value="accepted">{{'moder/picture/filter/status/accepted'|translate}}</option>
                    <option value="removing">{{'moder/picture/filter/status/removing'|translate}}</option>
                    <option value="custom1">{{'moder/picture/filter/status/all-except-removing'|translate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/picture/filter/vehicle-type</label>
                <select name="car_type_id" class="form-control" ng-model="ctrl.car_type_id" ng-change="ctrl.load()">
                    <option value="">Any</option>
                    <option value="{{item.id}}" ng-repeat="item in ctrl.vehicleTypeOptions">{{'...'.repeat(item.deep)}}{{item.name|translate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/pictures/filter/perspective</label>
                <select name="perspective_id" class="form-control" ng-model="ctrl.perspective_id" ng-change="ctrl.load()">
                    <option value="" translate>moder/pictures/filter/perspective/any</option>
                    <option value="null" translate>moder/pictures/filter/perspective/empty</option>
                    <option value="{{item.id}}" ng-repeat="item in ctrl.perspectiveOptions">{{item.name|translate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/picture/filter/item</label>
                <input type="text" name="item_id" class="form-control" />
            </div>
            <div class="form-group">
                <label translate>moder/pictures/filter/comments</label>
                <select name="comments" class="form-control" ng-model="ctrl.comments" ng-change="ctrl.load()">
                    <option value="" translate>moder/pictures/filter/comments/not-matters</option>
                    <option value="1" translate>moder/pictures/filter/comments/has-comments</option>
                    <option value="0" translate>moder/pictures/filter/comments/has-no-comments</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/picture/filter/owner</label>
                <input type="text" name="owner_id" class="form-control" />
            </div>
            <div class="form-group">
                <label translate>moder/pictures/filter/replace</label>
                <select name="replace" class="form-control" ng-model="ctrl.replace" ng-change="ctrl.load()">
                    <option value="" translate>moder/pictures/filter/replace/not-matters</option>
                    <option value="1" translate>moder/pictures/filter/replace/replaces</option>
                    <option value="0" translate>moder/pictures/filter/replace/without-replaces</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>moder/pictures/filter/votes</label>
                <select name="requests" class="form-control" ng-model="ctrl.requests" ng-change="ctrl.load()">
                    <option value="" translate>moder/pictures/filter/votes/not-matters</option>
                    <option value="0" translate>moder/pictures/filter/votes/none</option>
                    <option value="1" translate>moder/pictures/filter/votes/accept</option>
                    <option value="2" translate>moder/pictures/filter/votes/delete</option>
                    <option value="3" translate>moder/pictures/filter/votes/any</option>
                </select>
            </div>
            <div class="form-group">
                <label>Added from (date)</label>
                <input type="text" name="added_from" class="form-control" placeholder="2010-01-28" ng-model="ctrl.added_from" ng-change="ctrl.load()" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="special_name" value="1" ng-model="ctrl.special_name" ng-change="ctrl.load()" />
                    {{'moder/picture/filter/special-name'|translate}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="lost" value="1" ng-model="ctrl.lost" ng-change="ctrl.load()" />
                    {{'moder/picture/filter/not-linked'|translate}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="gps" value="1" ng-model="ctrl.gps" ng-change="ctrl.load()" />
                    {{'moder/picture/filter/gps'|translate}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="similar" value="1" ng-model="ctrl.similar" ng-change="ctrl.load()" />
                    {{'moder/picture/filter/similar'|translate}}
                </label>
            </div>
            <div class="form-group">
                <label translate>moder/picture/filter/order</label>
                <select name="order" class="form-control" ng-model="ctrl.order" ng-change="ctrl.load()">
                    <option value="1" translate>moder/pictures/filter/order/add-date-desc</option>
                    <option value="2" translate>moder/pictures/filter/order/add-date-asc</option>
                    <option value="3" translate>moder/pictures/filter/order/resolution-desc</option>
                    <option value="4" translate>moder/pictures/filter/order/resolution-asc</option>
                    <option value="5" translate>moder/pictures/filter/order/filesize-desc</option>
                    <option value="6" translate>moder/pictures/filter/order/filesize-asc</option>
                    <option value="7" translate>moder/pictures/filter/order/commented</option>
                    <option value="8" translate>moder/pictures/filter/order/views</option>
                    <option value="9" translate>moder/pictures/filter/order/moder-votes</option>
                    <option value="11" translate>moder/pictures/filter/order/removing-date</option>
                    <option value="12" translate>moder/pictures/filter/order/likes</option>
                    <option value="13" translate>moder/pictures/filter/order/dislikes</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-lg-8 col-md-8">

        <h2>
            {{'page/73/name'|translate}}
            <span ng-show="ctrl.loading > 0">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
            </span>
            <small ng-if="paginator.totalItemCount" translate="ng/%1$s-pictures" translate-values="{count: paginator.totalItemCount}"></small>
        </h2>

        <div style="margin-bottom:20px">
            <div class="btn-group">
                <button ng-disabled="!ctrl.hasSelectedItem" class="btn btn-success" ng-click="ctrl.acceptPictures()">
                    {{'moder/picture/acceptance/accept'|translate}}
                </button>
                <div class="btn-group">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!ctrl.hasSelectedItem">
                        {{'moder/picture/acceptance/want-accept'|translate}}
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a ng-repeat="template in ctrl.moderVoteTemplateOptions" ng-if="template.vote > 0" class="dropdown-item" ng-bind="template.name" aria-label="{{template.name}}" ng-click="ctrl.votePictures(template.vote, template.name);"></a>
                    </div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!ctrl.hasSelectedItem">
                        {{'moder/picture/acceptance/want-delete'|translate}}
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a ng-repeat="template in ctrl.moderVoteTemplateOptions" ng-if="template.vote < 0" class="dropdown-item" ng-bind="template.name" aria-label="{{template.name}}" ng-click="ctrl.votePictures(template.vote, template.name);"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="chunk in ctrl.chunks">
            <div class="col-sm-4" ng-repeat="picture in chunk">
                <autowp-thumbnail picture="picture" onselect="ctrl.onPictureSelect" is-moder="isModer"></autowp-thumbnail>
            </div>
        </div>

        <autowp-paginator data="ctrl.paginator" ng-if="ctrl.paginator"></autowp-paginator>
    </div>
</div>
