<div class="message" [class.moderator-attention]="message.moder_attention" [class.deleted]="message.deleted" *ngFor="let message of messages">
  <div>
    <div class="float-right" *ngIf="message.datetime" [textContent]="message.datetime | amTimeAgo"></div>
    <app-user [user]="message.user" *ngIf="message.user"></app-user>
    <span *ngIf="!message.user" translate>comments/author/anonymous</span>
  </div>
  <div class="photo">
    <a [routerLink]="['/users', message.user.identity ? message.user.identity : 'user' + message.user.id]" class="photo" *ngIf="message.user && !message.user.deleted">
      <img [src]="message.user.avatar.src" *ngIf="message.user.avatar" class="rounded" />
      <img [src]="message.user.gravatar" *ngIf="message.user.gravatar && ! message.user.avatar" class="rounded" />
    </a>
  </div>
  <div class="content">

    <div class="text" *ngIf="canRemoveComments || !message.deleted">
      <p [innerHtml]="message.text_html"></p>
    </div>

    <p class="alert alert-warning deleted-message" *ngIf="canRemoveComments || message.deleted" translate>comments/message-deleted-by-admin</p>

    <div>
      <span class="vote" *ngIf="user && (message.vote !== undefined)">
        <a href="#" class="vote-up" [class.active]="message.user_vote > 0" (click)="vote(message, 1)">
          <i class="fa fa-thumbs-o-up"></i>
        </a>
        <a href="#" class="value" [class.zero]="message.vote == 0" (click)="showVotes(message)">
          {{(message.vote > 0 ? '+' : '') + message.vote}}
        </a>
        <a href="#" class="vote-down" [class.active]="message.user_vote > 0" (click)="vote(message, -1)">
          <i class="fa fa-thumbs-o-down"></i>
        </a>
      </span>
      <span class="vote" *ngIf="!user && (message.vote !== undefined)">
        <i class="fa fa-thumbs-o-up"></i>
        <span class="value" [textContent]="message.vote" (click)="showVotes(message)"></span>
        <i class="fa fa-thumbs-o-down"></i>
      </span>

      <button class="btn btn-sm btn-primary reply" *ngIf="user && deep < 21 && !message.deleted" (click)="reply(message, false)">
        <i class="fa fa-reply"></i>
        <span class="d-none d-md-inline">{{'comments/reply'|translate}}</span>
      </button>

      <button class="btn btn-sm btn-success resolve" *ngIf="message.moder_attention && isModer" (click)="reply(message, true)">
        <i class="fa fa-reply"></i>
        {{'comments/reply'|translate}} &amp; resolve
      </button>

      <button class="btn btn-danger btn-sm float-right comment-remove-button" *ngIf="canRemoveComments" (click)="setIsDeleted(message, true)">
        <i class="fa fa-trash"></i>
        <span class="d-none d-md-inline">{{'comments/message/delete'|translate}}</span>
      </button>
      <button class="btn btn-success btn-sm float-right comment-restore-button" *ngIf="canRemoveComments" (click)="setIsDeleted(message, false)">
        <i class="fa fa-arrow-up"></i>
        {{'comments/message/restore'|translate}}
      </button>

      <a routerLink="/forums/move-message" [queryParams]="{message_id: message.id}" class="btn btn-secondary btn-sm float-right"
        *ngIf="typeID == 5 && canMoveMessage">
        <i class="fa fa-arrows"></i>
        <span class="d-none d-md-inline">{{'comments/message/move'|translate}}</span>
      </a>

      <i class="float-right fa fa-eye" data-toggle="tooltip" tit[le="comment.ip" style="margin-right:20px" *ngIf="message.ip"></i>

      <div class="moderator-attention-sign" *ngIf="message.moder_attention">
        <i class="fa fa-info-circle"></i>
        {{'comments/it-requires-attention-of-moderators'|translate}}
      </div>

    </div>
  </div>
  <div class="replies" *ngIf="deep < 21">
    <app-comments-list [itemID]="itemID" [typeID]="typeID" (sent)="onSent($event)" [messages]="message.replies" [deep]="deep+1"></app-comments-list>
    <app-comments-form [itemID]="itemID" [typeID]="typeID" (sent)="onSent($event)" [parentID]="message.id" *ngIf="user && message.showReply"></app-comments-form>
  </div>
</div>
