@if (dataResource.error(); as error) {
  <p class="alert alert-danger" role="alert">{{ error.message }}</p>
} @else if (dataResource.isLoading()) {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
} @else if (dataResource.value(); as data) {
  @if (data.current && data.category) {
    <app-gallery
      [filter]="{itemID: '' + data.current.id}"
      [current]="identity() || null"
      [galleryPrefix]="
        (currentRouterLinkPrefix(data.category, data.current, data.pathCatnames) || []).concat(['gallery'])
      "
      [picturePrefix]="
        (currentRouterLinkPrefix(data.category, data.current, data.pathCatnames) || []).concat(['pictures'])
      "
      (pictureSelected)="pictureSelected($event)"
    />
  }
}
