<div class="alert alert-warning" *ngIf="!user">
  <app-markdown [markdown]="'upload/only-registered'|translate"></app-markdown>
</div>

<div *ngIf="user">
  <div *ngIf="selected">
    <div class="card card-body mb-4">
      <app-markdown [markdown]="'upload/description'|translate"></app-markdown>
      <div style="margin:20px 0">
        <form class="form-horizontal" (submit)="submit()" [hidden]="formHidden">
          <fieldset>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Selection</label>
              <div class="col-md-10" style="padding-top:7px">
                <strong [innerHTML]="selectionName"></strong>
                [
                <a routerLink="/upload/select" translate>upload/select-another</a>]
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" translate>upload/image-file</label>
              <div class="col-md-10">

                <input type="file" #input name="file" class="form-control" (change)="onChange($event)" accept="image/*" [multiple]="replace ? null : true"
                />

                <div style="margin-top: 10px" *ngIf="files">
                  <p *ngFor="let file of file" [textContent]="file.name"></p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="note" translate>upload/note</label>
              <div class="col-md-10">
                <textarea name="note" rows="3" class="form-control" [(ngModel)]="note"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 offset-md-2">
                <button name="submit" class="btn btn-primary" translate [disabled]="!files">send</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="progress-area">
        <ng-container *ngFor="let p of progress">
          <ngb-progressbar class="d-block mb-2" [type]="p.success ? 'success' : p.failed ? 'danger' : 'info'" [value]="p.percentage"
            *ngIf="!p.success">
            <div>
              <span class="d-inline file-name" [textContent]="p.filename">: </span>
              <span class="d-inline percentage" [textContent]="p.percentage + '% '" *ngIf="p.percentage < 100"></span>
              <span class="d-inline" *ngFor="let message of p.invalidParams | invalidParams : 'file'" [textContent]="message + ' '"></span>
            </div>
          </ngb-progressbar>
        </ng-container>
      </div>
    </div>

    <div class="pictures row">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let picture of pictures">
        <app-thumbnail [picture]="picture"></app-thumbnail>
        <p>
          <a href="#" (click)="crop(picture)">
            <i class="fa fa-crop"></i>
            <span *ngIf="!picture.crop" translate>upload/picture/crop</span>
            <span *ngIf="picture.crop" translate [translateParams]="{resolution: picture.crop.width + '×' + picture.crop.height + '+' + picture.crop.left + '+' +picture.crop.top}">upload/picture/cropped-to</span>
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="card card-body" *ngIf="!selected">
    <app-markdown [markdown]="'upload/description'|translate"></app-markdown>
    <p style="margin:10px">
      <a routerLink="/upload/select" class="btn btn-primary btn-lg">
        <i class="fa fa-upload"></i>
        {{'upload/add-picture'|translate}}
      </a>
    </p>
  </div>
</div>
