<form class="add-message" method="post" (submit)="sendMessage()">
  <fieldset>
    <legend translate>comments/form-title</legend>
    <div class="form-group">
      <div class="controls">
        <textarea cols="80" rows="5" name="message" maxlength="16000" class="form-control" [(ngModel)]="form.message" [class.is-invalid]="invalidParams && invalidParams.message"></textarea>
        <p *ngFor="let message of invalidParams | invalidParams : 'message'" [textContent]="message" class="invalid-feedback"></p>
      </div>
    </div>
    <div class="form-group">
      <div class="controls checkbox">
        <div class="float-right cancel">
          <button class="btn btn-sm btn-warning" translate>comments/cancel</button>
        </div>
        <label>
          <input type="checkbox" name="moderator_attention" value="1" [(ngModel)]="form.moderator_attention" /> {{'comments/it-requires-attention-of-moderators'|translate}}
        </label>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" translate>comments/send</button>
    </div>
  </fieldset>
</form>
