<div class="comments">
  @if (typeID(); as typeID) {
    @if (itemID(); as itemID) {
      @if (dataResource.error(); as error) {
        <p class="alert alert-danger" role="alert">{{ errorMessage(error) }}</p>
      } @else if (dataResource.value(); as data) {
        @if (data.messages && typeID !== CommentsType.FORUMS_TYPE_ID) {
          <h2 i18n>Comments</h2>
        }
        @if (data.messages) {
          <app-comments-list
            [itemID]="itemID"
            [typeID]="typeID"
            [messages]="data.messages"
            [deep]="0"
            (sent)="onSent($event)"
          />
        }
        @if (data.paginator) {
          <app-paginator [data]="data.paginator" />
        }
      } @else {
        <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
      }

      @if (authenticated()) {
        <app-comments-form [itemID]="itemID" [typeID]="typeID" (sent)="onSent($event)" />
      } @else {
        <remark
          class="alert alert-block alert-info d-block"
          i18n-markdown
          markdown="To be able to post a comment, you must [create an account or sign in using social networks account](/login)"
        />
      }
    }
  }
</div>
