<div class="well">
    <p translate>registration/if-you-registered</p>
    <form class="form-horizontal" ng-submit="ctrl.submit()"><fieldset>
        <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.email}">
            <label class="col-md-2 control-label" for="email">E-mail</label>
            <div class="col-md-10">
                <input type="text" name="email" class=" form-control" ng-model="ctrl.form.email">
                <p ng-repeat="message in ctrl.invalidParams.email" ng-bind="message" class="help-block"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.name}">
            <label class="col-md-2 control-label" for="name" translate>user/name</label>
            <div class="col-md-10">
                <input type="text" maxlength="50" size="50" name="name" class=" form-control" ng-model="ctrl.form.name">
                <p ng-repeat="message in ctrl.invalidParams.name" ng-bind="message" class="help-block"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.password}">
            <label class="col-md-2 control-label" for="password" translate>user/password</label>
            <div class="col-md-10">
                <input type="password" size="50" maxlength="50" name="password" class=" form-control" ng-model="ctrl.form.password">
                <p ng-repeat="message in ctrl.invalidParams.password" ng-bind="message" class="help-block"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.password_confirm}">
            <label class="col-md-2 control-label" for="password_confirm" translate>user/password-confirm</label>
            <div class="col-md-10">
                <input type="password" size="50" maxlength="50" name="password_confirm" class=" form-control" ng-model="ctrl.form.password_confirm">
                <p ng-repeat="message in ctrl.invalidParams.password_confirm" ng-bind="message" class="help-block"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': ctrl.invalidParams.captcha}" ng-if="ctrl.showCaptcha">
            <div class="col-md-10 col-md-offset-2">
                <div vc-recaptcha key="ctrl.recaptchaKey" ng-if="ctrl.recaptchaKey" ng-model="ctrl.form.captcha"></div>
                <p ng-repeat="message in ctrl.invalidParams.captcha" ng-bind="message" class="help-block"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary" translate>submit</button>
            </div>
        </div>
    </fieldset></form>
</div>