<div class="row">
  <div class="col-md-6">
    <h3 translate>page/131/name</h3>
    <div class="card card-body mb-4">
      <ul class="list-unstyled" ngPreserveWhitespaces>
        <li>
          <i class="fa fa-align-left"></i>
          <a routerLink="/moder/items" translate>page/131/name</a>
        </li>
        <li>
          <i class="fa fa-sort-alpha-asc"></i>
          <a routerLink="/moder/items/alpha" translate>page/74/name</a>
        </li>
        <li>
          <i class="fa fa-plus"></i>
          <a routerLink="/moder/items/new" [queryParams]="{item_type_id: 1}" translate>item/type/1/new-item</a>
        </li>
        <li>
          <i class="fa fa-plus"></i>
          <a routerLink="/moder/items/new" [queryParams]="{item_type_id: 2}" translate>item/type/2/new-item</a>
        </li>
        <li>
          <i class="fa fa-plus"></i>
          <a routerLink="/moder/items/new" [queryParams]="{item_type_id: 4}" translate>item/type/4/new-item</a>
        </li>
        <li>
          <i class="fa fa-plus"></i>
          <a routerLink="/moder/items/new" [queryParams]="{item_type_id: 5}" translate>item/type/5/new-item</a>
        </li>
        <li>
          <i class="fa fa-plus"></i>
          <a routerLink="/moder/items/new" [queryParams]="{item_type_id: 6}" translate>item/type/6/new-item</a>
        </li>
        <li>
          <i class="fa fa-plus"></i>
          <a routerLink="/moder/items/new" [queryParams]="{item_type_id: 7}" translate>item/type/7/new-item</a>
        </li>
        <li>
          <i class="fa fa-plus"></i>
          <a routerLink="/moder/items/new" [queryParams]="{item_type_id: 8}" translate>item/type/8/new-item</a>
        </li>
      </ul>
    </div>

    <h3>Task list</h3>
    <ul>
      <li>
        Clear pictures
        <a routerLink="/moder/pictures" [queryParams]="{special_name: 1}">special names</a>
      </li>
      <li>
        "
        <a routerLink="/moder/pictures" [queryParams]="{status: 'custom1', perspective_id: 25}">Mixed</a>" to pictures with few cars
      </li>
      <li>
        Split
        <a routerLink="/moder/items/too-big">too big cars</a>
      </li>
      <li>
        Move years to model years in North America
      </li>
      <li>
        Dash in soviet vehicle names, e.g
        <a routerLink="/moder/cars/index/name/%D0%92%D0%90%D0%97/no_name/%D0%92%D0%90%D0%97-/no_parent/0/order/1">ВАЗ</a>
      </li>
      <li>
        Missed type in sidebar menu of
        <a routerLink="/moder/cars/index/vehicle_type_id/empty/vehicle_childs_type_id/17/item_type_id/1">Trucks</a>
        and
        <a routerLink="/moder/cars/index/vehicle_type_id/empty/vehicle_childs_type_id/19/item_type_id/1">Buses</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2 translate>moder/index/other-tools</h2>
    <div class="card card-body mb-4">
      <ul class="list-unstyled">
        <li>
          <a routerLink="/moder/comments" translate>page/110/name</a>
        </li>
        <li>
          <a routerLink="/moder/users" translate>page/203/name</a>
        </li>
        <li>
          <a routerLink="/moder/pictures" translate>page/73/name</a>
        </li>
        <li>
          <a routerLink="/moder/perspectives" translate>page/202/name</a>
        </li>
        <li>
          <a routerLink="/moder/stat" translate>page/119/name</a>
        </li>
        <li>
          <a routerLink="/moder/hotlinks">Hotlinks</a>
        </li>
        <li>
          <a routerLink="/moder/picture-vote-templates" translate>page/212/name</a>
        </li>
        <li>
          <a routerLink="/pulse" translate>page/161/name</a>
        </li>
        <li>
          <a routerLink="/info/spec" translate>page/174/name</a>
        </li>
      </ul>
    </div>
  </div>
</div>
