<form layout="column" ng-submit="ctrl.save()">
    <md-input-container>
        <label translate>page/parent</label>
        <md-select ng-model="ctrl.item.parent_id" name="parent_id">
            <md-option ng-value="null"><em>None</em></md-option>
            <md-option ng-repeat="page in ctrl.pages" ng-value="page.id" style="padding-left:{{16 + page.level*20}}px">
                {{page.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label translate>page/name</label>
        <input ng-model="ctrl.item.name" name="name" md-maxlength="255" />
    </md-input-container>
    <md-input-container>
        <label>Title</label>
        <input ng-model="ctrl.item.title" name="title" md-maxlength="255" />
    </md-input-container>
    <md-input-container>
        <label>Breadcrumbs</label>
        <input ng-model="ctrl.item.breadcrumbs" name="breadcrumbs" md-maxlength="255" />
    </md-input-container>
    <md-input-container>
        <label>URL</label>
        <input ng-model="ctrl.item.url" name="url" md-maxlength="255" />
    </md-input-container>
    <md-input-container class="md-block">
        <md-checkbox name="is_group_node" ng-model="ctrl.item.is_group_node">
            {{'page/is_group_node'|translate}}
        </md-checkbox>
    </md-input-container>
    <md-input-container class="md-block">
        <md-checkbox name="registered_only" ng-model="ctrl.item.registered_only">
            {{'page/registered_only'|translate}}
        </md-checkbox>
    </md-input-container>
    <md-input-container class="md-block">
        <md-checkbox name="guest_only" ng-model="ctrl.item.guest_only">
            {{'page/guests_only'|translate}}
        </md-checkbox>
    </md-input-container>
    <md-input-container>
        <label translate>page/class</label>
        <input ng-model="ctrl.item.class" name="class" md-maxlength="255" />
    </md-input-container>
    <div layout="row">
        <md-button type="submit" class="md-primary md-raised">{{'send'|translate}}</md-button>
        <md-progress-circular ng-show="ctrl.loading > 0"></md-progress-circular>
    </div>
</form>
