<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Telegram</h1>
</div>

<app-markdown
  i18n-markdown
  markdown='[Telegram](https://telegram.org/) - is primarily a system of instant messaging, like WhatsApp or Viber.

In addition to the messaging and file transfer, there are many other possibilities, which will go to the description of a lot of time.

We only use two of them: public groups and bots.

# Public group

There are a public English-language and Russian-language groups for all site visitors.

Join them is very simple - just click the link and follow the instructions:

* [English-language](https://t.me/joinchat/AAAAAAvxJESUMQcUM-I5YA)
* [Russian-language](https://t.me/joinchat/AAAAAA0NvB5g7SEsWv61Rw)

# Bot

To make you WheelsAge surfing more convenient we just created a "bot" for [telegram](https://telegram.org/) app. We hope it could be useful and easy to use.

The bot name: [@autowp_bot](tg:msg).

In short, the bot is a kind of telegram user, which can send you notifications from the site as messages.

Learn more about telegram bots: &lt;https://core.telegram.org/bots/faq>

Currently supported features:
* Notifications about newly personal messages. [Details …](#messages)
* Notifications about newly accepted pictures. [Details …](#new)
* Notifications about newly uploaded (but still waiting for accept) pictures (this feature works only authorized users). [Details …](#inbox)

## Bot commands

### Start: `/start`

By sending this command you will receive the list of currently supported commands.

### Personal messages: `/messages`

Send `/messages on` for subscribing to notifications about new personal messages.

Send `/messages off` to unsubscribe.

### New pictures: `/new`

Send `/new BMW` for subscribing to new photos of BMW.

Send `/new BMW` again to unsubscribe.


### Inbox: `/inbox`

Authorization by `/me` is required.

Send `/inbox BMW` for subscribing to notifications about new uploads to BMW.

Send `/inbox BMW` again to unsubscribe.

### Me (authorization): `/me`

This command allows you to associate themselves (telegram user) with an account on our site.

Send `/me` to receive instructions for authorization.

Send `/me 123456789` to recevice confirmation code.

Where 123456789 - is your account number, which you can find on your profile page. For example, [Juliano Scotini](/users/juliano-scotini) has number 17322

Confirmation code will be sent to you via [the private messaging system](/account/messages?folder=system)

Send `/me 123456789 ХХХХХХХХХХХХХХХХ` to finish the process of association your telegram account without website user.

Where `ХХХХХХХХХХХХХХХХ` - code that will be sent to you via [the private messaging system](/account/messages?folder=system)'
/>
