<ul class="nav nav-pills">
    <li class="active">
        <a ui-sref="moder-traffic">Traffic</a>
    </li>
    <li>
        <a ui-sref="moder-traffic-whitelist">Whitelist</a>
    </li>
</ul>

<div class="row" ng-repeat="item in ctrl.items">
    <div class="col-sm-2">
        <h3 ng-bind="item.count"></h3>
    </div>
    <div class="col-sm-4">
        <h3>{{item.ip}} <a ng-href="{{item.whois_url}}">whois</a></h3>
        <h4 ng-if="item.users"><autowp-user user="user" ng-repeat="user in item.users"></autowp-user></h4>
        <p>{{item.hostname ? item.hostname : item.ip}}</p>
    </div>
    <div class="col-sm-6">
        <div ng-if="item.ban">
            {{'ban/until'|translate}}
            {{item.ban.up_to | date : 'fullDate'}}
            <span ng-if="item.ban.user">
                by <autowp-user user="item.ban.user"></autowp-user>
                <span ng-if="item.ban.reason">
                    {{'ban/reason'|translate}}
                    {{item.ban.reason}}
                </span>
            </span>
        </div>
        <div>
            <button ng-if="item.ban" class="btn btn-secondary" ng-click="ctrl.removeFromBlacklist(item.ip)">{{'ban/unban'|translate}}</button>
            <button class="btn btn-danger" ng-if="!item.ban" ng-click="ctrl.addToBlacklist(item.ip)">{{'ban/ban'|translate}}</button>
            <button ng-if="!item.whitelist" class="btn btn-success" ng-click="ctrl.addToWhitelist(item.ip)">Whitelist</button>
        </div>
    </div>
</div>