<ul ng-if="attributes.length > 0" class="list-unstyled" style="padding-left:24px">
    <li ng-repeat="attribute in attributes">
        <a href="#" ng-click="moveDown(attribute.id)" ng-if="$index &lt; attributes.length-1"><span class="fa fa-arrow-down"></span></a>
        <span class="fa fa-arrow-down" style="color:#999999" ng-if="$index >= attributes.length-1"></span>
        <a href="#" ng-click="moveUp(attribute.id)" ng-if="$index > 0"><span class="fa fa-arrow-up"></span></a>
        <span style="color:#999999" class="fa fa-arrow-up" ng-if="$index &lt;= 0"></span>
        <a ui-sref="moder-attrs-attribute({id: attribute.id})" ng-bind="attribute.name | translate"></a>
        <autowp-moder-attrs-attribute-list attributes="attribute.childs" move-up="moveUp" move-down="moveDown"></autowp-moder-attrs-attribute-list>
    </li>
</ul>
