<div class="well">
    <div class="btn-group" ng-repeat="group in groups">
        <button ng-repeat="char in group"
            class="btn btn-default" 
            ng-bind="char" 
            ng-click="selectChar(char)"
        ></button>
    </div>
</div>

<div ng-show="items">
    <div class="well">
        <span ng-show="ctrl.loading > 0">
            <i class="fa fa-spinner fa-spin fa-fw"></i>
        </span>
        <div ng-repeat="item in items">
            <a ui-sref="moder-items-item({item.id})" ng-bind-html="item.name_html"></a>
        </div>
        <autowp-paginator data="paginator" ng-if="paginator"></autowp-paginator>
    </div>
</div>