<div class="well">
    <div class="btn-group" ng-repeat="group in groups">
        <button ng-repeat="char in group"
            class="btn btn-default" 
            ng-bind="char" 
            ng-click="selectChar(char)"
        ></button>
    </div>
</div>

<div ng-show="items">
    <div class="well">
        <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
        <div ng-repeat="item in items">
            <a ng-href="{{item.moder_url}}" ng-bind="item.name"></a>
        </div>
        <autowp-paginator data="paginator" ng-if="paginator"></autowp-paginator>
    </div>
</div>