<div class="card card-body">
  <h4 class="mb-3" i18n>Vehicles with that engine</h4>
  @if (engineVehicles$ | async; as engineVehicles) {
    <ul>
      @for (item of engineVehicles; track item.id) {
        <li>
          <a
            [routerLink]="['/moder/items/item', item.id]"
            [queryParams]="{tab: 'meta'}"
            [innerHTML]="item.nameHtml"
          ></a>
        </li>
      }
    </ul>
    @if (engineVehicles.length <= 0) {
      <p i18n>Nothing found</p>
    }
  } @else {
    <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
  }
</div>
