<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/pictures" i18n>Pictures</a>
    </li>
    @if (picture) {
      <li class="breadcrumb-item">
        <a i18n [routerLink]="['/moder/pictures', picture.id]">Picture №{{ picture.id }}</a>
      </li>
    }
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Cropper</h1>
</div>

@if (picture) {
  <div class="crop-area mb-3">
    <img alt="" [src]="picture.image?.src" (load)="onLoad($event)" />
  </div>

  <div class="mb-4">
    <span i18n>{{ resolution }} (aspect is about {{ aspect }})</span>
    <button type="button" class="btn btn-secondary" i18n (click)="selectAll()">Select all</button>
    <span class="float-end">
      <a class="btn btn-secondary" i18n [routerLink]="['/moder/pictures', picture.id]">Close</a>
      <button type="button" class="btn btn-primary" i18n (click)="saveCrop()">Save changes</button>
    </span>
  </div>
}
